[2018-04-18 16:34] AndrewTriesToCode opened #2 "Support custom route parameter name when using WithRouteStrategy"
`RouteMultiTenantStrategy` supports a custom route parameter name via its contructor, but `WithRouteStrategy` does not use it.

Would like to add an optional string parameter `routeParameter` to `WithRouteStrategy` which defaults to null and is passed to the `RouteMultiTenantStrategy` constructor.

[2018-06-08 03:37] #2 closed, assigned to nobody

[2020-09-23 04:29] Valks opened #329 "Service locator fails when using a class derived from ITenantInfo"
I'm trying to add a CosmosDb store implementation (not using EFCore) which works fine if I use ```TenantInfo``` for the record model but if I change to another class that implements ```ITentantInfo``` it fails to locate the ```MultiTenantContextAccessor``` and from the error below it looks like it's trying to resolve ```TenantInfo``` instead of ```ITenantInfo```

[code]

I also tried using the InM

[2020-09-23 21:49] Valks commented on #329
Nevermind, it was an oversight on my part when I call ```GetMultiTenantContext<TenantInfo>```. I was looking everywhere except the actual function using the code...

[2020-09-23 21:49] #329 closed, assigned to nobody

[2020-09-24 00:07] AndrewTriesToCode commented on #329
@Valks Glad you sorted it out! Let me know how the CosmosDb store works out for you. I'll probably eventually add it to the library.

[2020-10-01 00:05] skeww opened #330 "Getting Tenant name in Blazor page without IHttpContextAccessor"
I found this page issue
https://github.com/Finbuckle/Finbuckle.MultiTenant/issues/188

However, a document that went up later (May 2020) on Microsoft docs (https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-context?view=aspnetcore-3.1) says:

"Additionally, again for security reasons, you must not use IHttpContextAccessor within Blazor apps. Blazor apps run outside of the context of th

[2020-10-01 04:01] AndrewTriesToCode commented on #330
Are you using 6.x? You should be able to get the tenant info straight out of DI. If you have `MyTenantInfo` as the type for your tenant class you can inject or resolve from DI directly.

You can also use `IMultiTenantContextAccessor<T>` where `T` is your custom info type. This should work well in Blazor, but let me know if you still have the issue.

[2020-10-01 10:08] endrihacker opened #331 "Get TenantInfo in OnConfiguring method of ApplicationDbContext"
I am using separate databases for each tenant and I am following the docs [here](https://www.finbuckle.com/MultiTenant/Docs/EFCore#separate-databases).
I can't make it work to have TenantInfo ConnectionString on OnConfiguring method of ApplicationDbContext. Dependency injection doesn't seem to return a tenant or default connection string if tenant is missing.

How to ge

Also the sample **Identity

[2020-10-01 17:26] AndrewTriesToCode commented on #331
Hi @endrihacker,

I just tried the sample app and didn't run into the error you mentioned. Can you post your app's `Startup` methods so I can see how you are set up?

[2020-10-02 09:32] endrihacker commented on #331
Hi @AndrewTriesToCode,

thanks for your reply!

I just realized that I was at the branch `release-6.0.0-dev` that's where it doesn't work.

I'm starting from [QuickApp](https://github.com/emonney/QuickApp) template and most of the code is from the last [commit](https://github.com/emonney/QuickApp/commit/0a082a3cdb9e9d1a75bc53f470298b089b92924c).

The changes i made are in the snippet code below

[2020-10-03 10:21] LearnGrowAndShare opened #333 "EF Migration fails with custom Identity user"
Hi,
I followed the documentation to integrate the Multi-Tenancy for Identity server 4 with ASP.NET Core Identity

Also referred the sample for ASP.NET Core Identity

It works well if I use IdentityUser, but when I switch to a class extending the IdentityUser the migration fails to happen

Identity User -
[code]

Identity context -
[code]

Command I use for migration -
 `dotnet ef migrations add Mu

[2020-10-03 13:09] skeww commented on #330
Yes, I am using 6. I ended up creating a tenant service with a reference to my tenant store. It's working (I can get a tenant list and the current tenant from the host name.)

[2020-10-03 13:09] #330 closed, assigned to nobody

[2020-10-03 18:32] SebOpalinski opened #334 "EF Core global filter null reference exception"
Hi, I'm trying to setup a multi-tenant application but I'm having issues with the global TenantId query filter. I'm really stumped so any help at would be really appreciated!

All my ef core queries are throwing something like the below null reference exception. I have checked and there is definitely a MultiTenantContext set before the queries are made:

   __at Microsoft.EntityFrameworkCore.Query

[2020-10-04 11:43] SebOpalinski commented on #334
After some more investigation, it looks like because I was using the same DB context for my tenant store as my application, the DB context was getting created with a null ITenantInfo and then that DB context was used for the remainder of the request.

To fix this, I had to create a separate DB context for my tenant store and manually set the tenant info once found. I think it would probably be bes

[2020-10-04 11:43] #334 closed, assigned to nobody

[2020-10-05 17:58] AndrewTriesToCode commented on #334
@SebOpalinski

I'm glad you figured it out -- I usually recommend your new approach for this reason.

[2020-10-05 17:59] AndrewTriesToCode commented on #330
@skeww
Excellent, sounds like you have a nice solution there!

[2020-10-05 18:06] AndrewTriesToCode commented on #331
@endrihacker That looks like a good approach. Another thing you can do is define a "fallback" tenant by using the `WithStaticStrategy` method *after* your other strategies. Then its connection string would be used if no other tenant was selected. This might be better if there were other defaults you wanted for no real tenant, but for connection string your approach works well.

[2020-10-05 18:14] AndrewTriesToCode commented on #333
Hi @dreamerNcoder

I think you are close -- at design time there is obviously no "tenant" in the normal sense. See this part of the Docs (about EFCore, not Identity specifically):
[https://www.finbuckle.com/MultiTenant/Docs/EFCore#design-time-instantiation](https://www.finbuckle.com/MultiTenant/Docs/EFCore#design-time-instantiation)

You can see this used in the sample in this file:
[https://githu

[2020-10-09 10:03] endrihacker commented on #331
@AndrewTriesToCode I tied `WithStaticStrategy` but since I have decorated the controllers with `[Route("{__tenant__}/api/[controller]")]` attribute but this way `{__tenant__}` doesn't seems to be optional. So I need to provide a tenant always.

However I tried also to add two route attributes like this

    [Route("/api/[controller]")]
    [Route("{__tenant__}/api/[controller]")]

and this way I c

[2020-10-09 19:53] AndrewTriesToCode commented on #331
It seems like you have a pretty good work-around-- another approach might be to set a default value for the route parameter which would effectively be the "default" tenant.

I don't use route attributes that much, but I have used your approach before without any problems.

[2020-10-13 21:41] szymczakk opened #335 "Programmatically change tenant"
Hi,

Is there a way to change the tenant from the code?
I have a HostStrategy registered in my code, but I have to create a user for a different tenant that I'm currently on.
(I have an admin tenant that create new tenants, and I have to provide the first user for that tenant)
Is there a way to do that?

I'm using ASP NET Core 3.1 with MVC, API and Razor Pages, with Finbuckle.MultiTenant 6.0.0

Th

[2020-10-14 12:31] jiwanovski87 opened #336 "Support Shards for Multi tenant szenario"
Hi all,
as far as we can see, Finbuckle supports the following multi tenant scenarios:
- One database for N tenants (with adding a field to each table)
- One database per tenant

I am wondering if it is planned to support also Shards? (more desription [here](https://docs.microsoft.com/en-us/azure/azure-sql/database/saas-tenancy-app-design-patterns#g-multi-tenant-app-with-sharded-multi-tenant-datab

[2020-10-15 01:34] natelaff commented on #335
So, you want to briefly impersonate another tenant essentially?

Unless I'm misunderstanding you, you could probably create a new strategy and register it as well, and just create that user with some way to trigger that.

For instance, create a strategy to read the tenant from an http header or something, have it registered first, then host strategy second. When you create the user, add the tenant

[2020-10-15 03:49] AndrewTriesToCode commented on #335
@szymczakk There is an `HttpContext` extension method called `TrySetTenantInfo` which will let you set the tenant for the rest of the request. I also will clear out any DI resolution/caching that already occurred for the prior tenant if you want it to.

If you don't have access to `HttopContext` you can get `IMultiTenantContextAccessor<T>` from DI (where `T` is your tenant info type) and if you se

[2020-10-15 03:55] AndrewTriesToCode commented on #336
Hi @jiwanovski87

In that link multiple tenants share a single shard.

This can effectively be accomplished by combining your two bullet points. Have multiple databases, each one configured as a Finbuckle shared database with groups of tenants assigned to each database (or shard).

The multitenant shared database approach Finbuckle supports partially isolates data -- if you use standard EFCore met

[2020-10-15 06:47] szymczakk commented on #335
@AndrewTriesToCode I forgot about `TrySetTenantInfo`. Thanks for that, I will try to do it like this.

[2020-10-15 06:49] szymczakk commented on #335
@natelaff This sounds like a complex but a very clever solution. I like that ;) If `TrySetTenantInfo` provided by @AndrewTriesToCode not works I will try it like that 😉

[2020-10-21 11:19] rebal15 opened #337 "Combing strategies/stores"
Hi all,

I'm fairly new to this project, and so far I'm loving it! I'm wondering if it is possible to almost 'combine' different strategies/stores:

I'm looking to use something similar to the IdentityDataIsolationSample, however I want to be able to grab and update the data from a HTTP Remote store, instead of using a local SQLite database or similar. Any ideas?

Thanks!

[2020-10-22 11:16] jiwanovski87 commented on #336
Hi @AndrewTriesToCode,

sorry for my late response. For now we have decided to work with databases for each tenant.
I believe using the same database for several tenants will become interesting in the future. But for this strategy it would be very interesting to seperate the data not only with the application. Also on database level this should be splitted and we should be able to decide which use

[2020-10-23 17:00] AndrewTriesToCode commented on #337
hi @rebal15

Yes you can mix and match strategies and stores. The strategy's job is just to look at the request and return an identifier string. The store's job is to take an identifier string and try to return the tenant detail info if it exists. So they are totally separate and can be combined in different ways.

Also you can register multiple strategies and/or stores. the library will try each

[2020-10-23 21:18] rebal15 commented on #337
Thanks for the reply @AndrewTriesToCode. Just another thing - how come the Http Remote Store is read only? Am I not able to modify it to enable the program to send back requests to change the data? I'd like to be able to use Per-tenant data with Identity, using an HTTP Remote store as the data source.

[2020-10-23 21:43] AndrewTriesToCode commented on #337
You can certainly modify it. It’s meant to be pretty basic and to work for most people. Wherever it is sending the update would have to store the changes, eg in a database so in my use case the http remote server uses the EFCoreStore and I do any updates I want directly via the database.

[2020-10-25 10:41] riccardone commented on #336
Hi,
My two penny.

You can do sharding in an SqlServer instance partitioning tables. That means that it is a low level configuration of your store, not made up at application level where Finbuckle Multitenant is. Even your link, in fact does not illustrate sharding but separate database per tenant.

[2020-10-25 20:32] szymczakk commented on #335
`TrySetTenantInfo` works great for me.

Closing it, thanks @AndrewTriesToCode 😉

[2020-10-25 20:32] #335 closed, assigned to nobody

[2020-10-26 10:39] endrihacker commented on #331
Hello @AndrewTriesToCode

Now I am more familiar with Finbuckle.
I'm building a rest API and I want to authenticate users and allow them to see only their data.

What I'm doing so far is to use the `/connect/token` endpoint to authenticate users and use `WithRouteStrategy()` to differentiate tenants later. But this approach seems to have security issues be cause malicious users can change tenant i

[2020-10-27 03:51] AndrewTriesToCode commented on #331
hi @endrihacker

I'll have to test out the claims strategy more with JWT claims -- I mainly use it for cookie-based claims. Do you have a sample project on github that shows what you describe?

The `acr_values` on with IdentityServer is a good way to pass the tenant for an authentication challenge and can ultimately be used by IdentityServer to help set the `__tenant__` claim in the token.

Back i

[2020-10-27 09:08] endrihacker commented on #331
@AndrewTriesToCode I have a sample and I will try to put it on github shortly.
Thanks for your support!

[2020-10-27 11:50] endrihacker commented on #331
Hi @AndrewTriesToCode !

I just pushed the code at [this](https://github.com/endrihacker/QuickAppMultitenant) repository. It uses SQL Server Express database actually. If you want me to make some changes to make it more easy to run the project let me know.

The current project after running creates the database `QuickAppMDb`. To create other databases, `QuickAppM2d`, `QuickAppM3d` or `QuickAppM1`

[2020-10-28 19:00] natelaff opened #338 "Why no template for OpenIdConnect options?"
From docs:

_The CookieLoginPath, CookieLogoutPath, and CookieAccessDeniedPath properties can use a template format where __tenant__ will be replaced with the identifier for each specific tenant. For example, a CookieLoginPath of "/__tenant__/Identity/Account/Login" will result in "/initech/Identity/Account/Login" for the Initech tenant._

Was there any specific reason properties such as OpenIdCon

[2020-10-28 23:32] AndrewTriesToCode commented on #338
No technical reason it wasn't included--just focused on cookies initially. If it was then you wouldn't need to have a value for it in the tenant store at all -- you would set the template in the global `OpenIdConnectOptions` then `WithPerTenantAuthentication` could override the template token with the current tenant. It shouldn't be specific to any store. I'll add it in a future release.

[2020-10-29 20:32] quartilesoftware opened #340 "I must be missing something obvious."
Hi,

I am trying to get started  with Finbuckle by adding a  simple working test of Multitenanncy to an existing .Net Core 3.1 application. I’m trying to inject the Finbuckle TenantInfo into a controller using dependency injection. Whatever I do, I always see the error:
 “InvalidOperationException: Unable to resolve service for type 'Finbuckle.MultiTenant.IMultiTenantStore`1[Finbuckle.MultiTenant.

[2020-10-29 20:43] AndrewTriesToCode commented on #340
Hi, it looks like you forgot to register a tenant store, eg WithConfigurationStore() after add multi tenant.

What type of store did you plan to use?

[2020-10-29 20:52] quartilesoftware commented on #340
Hi Andrew,

Thanks for your very prompt reply.

I'd already tried following one of the ConfigurationStore samples earlier, like this:

        public void ConfigureServices(IServiceCollection services)
        {

            services.AddMultiTenant<TenantInfo>()
            .WithStaticStrategy("MyTenant")
            .WithConfigurationStore();

and with the values in appsettings.json from one of t

[2020-10-29 22:49] AndrewTriesToCode commented on #340
Did your static tenant identifier match one of tenant identifiers in your appsettings.json  file? If you have a GitHub repo for the project I’d be happy to take a look.

[2020-10-30 06:23] quartilesoftware commented on #340
Hi Andrew,

Thanks. Naturally, that was it! The second pair of eyes was what I needed. I had mis-typed one character in .WithStaticStrategy in the actual  name data I was using.

In passing, I'm migrating my MultiTenant applications from SaasKit and on day one of Finbuckle, it's obvious your documentation, simplicity of use, and most of all active development and support are much better. Well done

[2020-10-30 10:17] terencevs opened #341 "Using without Tenant Validation"
I was wondering if there is a way to use without doing Tenant Validation, so basically just using the features of adding the tenant ID to the EF queries.

This is the setup I am looking at:

User -> API Gateway - > API

The API gateway will do the Tenant Validation and then passes the tenant id on to the API in JWT but then the API does another validation to check if the tenant exists. I don't wan

[2020-11-01 19:30] #340 closed, assigned to nobody

[2020-11-01 19:31] quartilesoftware opened #342 "How do we implement additional properties for TenantInfo when using EFCoreStore?"
Hi,

I’ve got a basic working example of a separate database per tenant which uses this in Startup.cs:
 services.AddMultiTenant<TenantInfo>()
    .WithEFCoreStore<MultiTenantStoreDbContext, TenantInfo>()
    .WithHostStrategy();

Using .WithEFCoreStore,  if I want to extend the content of TenantInfo, to store and retrieve additional properties, say, “Country” for each tenant, how and where do I do

[2020-11-02 17:32] quartilesoftware commented on #342
Old GitHub issues and the Docs have helped me to make some progress and I now have an  almost-working implementation by doing this:

1.	Create a custom class for AppTenant details which implements ITenantInfo
2.	Create a custom MultiTenant store for the custom AppTenant class by following the description at https://www.finbuckle.com/MultiTenant/Docs/Stores
3.	Configure Finbuckle MultitenantService

[2020-11-02 17:53] AndrewTriesToCode commented on #341
Yeah you can do that just by passing a `TenantInfo` into the constructor of the db context.

Can you give me a better picture of what you are trying to do? What do you mean by tenant validation exactly? Do you not want it to resolve the tenant, but rather just use a tenant you tell it to explicitly?

[2020-11-02 17:56] AndrewTriesToCode commented on #342
@quartilesoftware looks like you figured most of it out, but in `MultiTenantStoreDbContextUsingAppTenantForFinbuckle` you don't need the `AppTenantForFinbuckle` property -- it will be inherited automatically so your custom db context doesn't need much except for the connection info.

[2020-11-02 18:08] quartilesoftware commented on #342
Thanks Andrew,

I made that change but still get the same error.

[code]

[code]

Can you think of anything else I could try?

[2020-11-02 18:15] quartilesoftware commented on #342
Adding an extract from HomeController.cs for completeness:

[code]

[2020-11-02 18:26] quartilesoftware commented on #342
I’ve also just tried not using dependency injection and instead doing this:

[code]
Which returns null for theTenantInfo

[2020-11-03 08:26] terencevs commented on #341
Hi Andrew,

My API gateway calls the HTTP remote store to get the tenant information. At this stage the validation is done to check if the tenant exists. I am using Claim Strategy with tenant id in the JWT.

If this is a success the API gateway then calls the child API (with the JWT). At this stage I have configured the child API to also use Claim Strategy and HTTP Remote Store, but I don't really

[2020-11-04 21:45] AndrewTriesToCode commented on #341
I understand what you mean now. I would suggest you create a custom dummy store that just returns a `TenantInfo` object with the tenant id set on it exactly as the claims strategy extracted it. It would look something like this:

[code]

The only caveat here is that the tenant claim stores the tenant identifier but EFCore uses the tenant id, so you'll just want to make sure they are the same.

[2020-11-04 21:47] AndrewTriesToCode commented on #342
Hm, can you give me a link to a github repo where I can try out the app and see the error?

[2020-11-04 21:49] AndrewTriesToCode commented on #342
Question: is this code and error happening during the seeding, before a request? If so then there is effectively no tenant. Let me know if I have that right and I can offer some suggestions.

[2020-11-05 10:23] quartilesoftware commented on #342
Hi Andrew,

Thanks for your offer of help, but I was spending too much time trying to get Finbuckle to work with a custom EF Core store and had to move on to focus on the business application.

I’ve written my own small tenant resolver service to plugin to Startup.cs, which handles a host header strategy, unresolved tenants, separate databases or a single database and cookies per tenant. That was

[2020-11-05 11:04] navneet10sep opened #344 "Data Sharing Between Tenants"
Is it possible to share the data between two or more tenants? I have a scenario where one user can manage two companies, each company can have its own database. The database can be on the same or different SQL servers.   I am looking for a solution where under one DB context I can read/write the data for multiple tenants

[2020-11-06 07:29] shawndewet opened #346 "Add Support for a different property name than TenantId to identify MultiTenant entities"
Currently the Data Isolation requires that an entity contains a property called TenantId.
I would like to use this with an existing database, in which tenant entities have their tenants identified by a property called ProfileId, and not TenantId.  Also, this ProfileId property is an integer, and not a string.

Can you please add support to be able to specify the tenant-identifying property (and it

[2020-11-06 16:22] endrihacker commented on #331
Hello @AndrewTriesToCode!

Is there any plan to implement claim strategy for JWT claims soon?
I'm trying to resolve tenant from JWT claims but not any luck so far. Can you suggest me some tips how could I solve it?

I was thinking to get the tenant from any of those implemented strategies like `WithRouteStrategy` or `WithDelegateStrategy` (claim from headers) and later compare the tenant with the

[2020-11-07 05:35] AndrewTriesToCode commented on #331
hi @endrihacker
The claim strategy in theory should work with JWT claims currently. The only detail is that authentication scheme you are using fot JWT authentication needs to be the default authenticate scheme. If you use the OpenId Connect scheme it does this  for you internally I believe. Also you need to have a claim with a type of `__tenant__` (by default this is used but it can be changed) w

[2020-11-07 05:50] AndrewTriesToCode commented on #331
OK I took a closer look at your repo and have some more specific feedback:

In Identity for your user add a `__tenant__` claim using `UserManager.AddClaimAsync`. See my the `Program.cs` file in my Claims Strategy sample to see how I add the claim. I think you'll want to do that in your `CreateUser` method in your database initializer and whereever else you create a new user.

Then when Identity cr

[2020-11-07 06:10] AndrewTriesToCode commented on #344
Hi @navneet10sep

Yes, the library can handle this transparently via `IMultiTenantDbContext` and/or `MultiTenantDbContext`. These use a global query filter internally to filter on the current tenant. It works well for most situations but global query filters do have their limitations.

I'm happy to help but first let me refer you to two specific resources:
- the [data isolation docs](https://www.f

[2020-11-07 06:12] AndrewTriesToCode commented on #346
This is a really good idea. I have a release coming soon for .NET Core 5 but I don't think I can work this request in by then--but I'll start thinking about it. Allowing a custom property to be used shouldn't be too difficult but having it be an int might be harder -- I'd have to make a generic version of `ITenantInfo` which might have a lot of ripple effects in the library.

Thanks for the sugges

[2020-11-07 14:25] coommark opened #347 "Register new user under different Tenant (Tenant impersonation)"
My application is built using .NET Core 3.1 with Finbuckle.MultiTenant.AspNetCore 6.0.0.

As the super administrator, I want to create an administrator for another new tenant. Note that

1. I am able to set tenant using TrySetTenantInfo()
2. However when I register a new user, the user is registered under my current logged in tenant. So in the AspNetUsers table, the Tenant Id of the new user is th

[2020-11-08 20:46] natelaff opened #348 "What to do with null tenant in HostStrategy"
I have an MVC UI front end. In debug I use BasePathStrategy, but when published I use HostStrategy.

I want to create a landing page when the tenant doesn't exist (or hits the app subdomain). So, I created a LandingController that overrides the route to just be empty then shows that view.

In BasePathStrategy this works fine. Excluding the tenant takes me right to the landing page. Perfect.

Howev

[2020-11-08 21:19] natelaff commented on #348
Possible dupe of #239

[2020-11-09 00:02] natelaff opened #349 "Add a way to handle MultiTenantAuthenticationService.ChallengeAsync error"
I've been dealing with this for a little while and finally went to fix it, but upon research I don't think there is a good way to handle this scenario without a bit of a change to this package.

I use OpenIdConnect and point to a tenant aware IdentityServer instance which uses tenant name in the path.

I have my HomeController with an AuthorizeAttribute on it. So what ends up happening here is if

[2020-11-09 03:11] AndrewTriesToCode commented on #347
hi @coommark

You are getting into some more advanced stuff-- very cool. I think the issue is that the user manager might be holding onto the old db context with the original tenant internally. After you call `TrySetTenantInfo` with the `true` 2nd parameter, try re-resolving the user manager from DI (e.g. from `HttpRequest.RequestServices`.

Let me know if that still doesn't work and I'll dig deep

[2020-11-09 03:20] AndrewTriesToCode commented on #348
hi @natelaff
What do your routes look like? Would it be acceptable in your case to have a static "default" or "app" tenant that stands in for these situations?

[2020-11-09 03:34] AndrewTriesToCode commented on #349
@natelaff
I've run into this myself. After examining the [OpenIdConnectHandler](https://github.com/dotnet/aspnetcore/blob/master/src/Security/Authentication/OpenIdConnect/src/OpenIdConnectHandler.cs) I found that this is happening because it's unable to get the OpenID Connect configuration from the service discovery endpoint.

In my case it seems that IdentityServer didn't want to play nice with c

[2020-11-09 08:10] coommark commented on #347
Hello @AndrewTriesToCode, thank you a MILLION for the response! I tried the following as per your suggestions:

**This did not work**
[code]

**This also did not work**
[code]

Please any help?

[2020-11-09 10:55] endrihacker commented on #331
Hi @AndrewTriesToCode

I didn't understand well what you mean with that sentence. I don't know if it was still relevant after you saw the code.

I'm currently adding `__tenant__` claim to JWT token myself. If you see `ProfileService.cs`, at method `GetProfileDataAsync` I'm adding the tenant claim like this:

    claims.Add(new Claim("__tenant__", "initech"));

Default tenant is determined at `Star

[2020-11-09 11:25] natelaff commented on #348
Here's what I'm doing in the route

[code]

I thought about the static tenant name which will handle one case. Since my Azure app service is doing *.mysite.com to allow any of these through i was thinking it could be nice to allow sign up for that one. ("this domain doesn't exist yet, but it can be yours! sign up..."

[2020-11-09 11:29] natelaff commented on #349
Yes, when I looked I found it silly that it just throws from AspNetCore there instead of raises one of the OpenIdConnect failure events. That's where I figured trapping it within Finbuckle could be a good solution, albeit perhaps out of scope, but yet, in a way, also in scope since you're allowing dynamic endpoints through.

Your method of tossing it in the claim after login then checking from tha

[2020-11-09 15:47] AndrewTriesToCode commented on #347
Hi ok I’ll start digging in. Do you have a simple project or repo that shows the problem you can share with me?

[2020-11-09 17:32] natelaff commented on #348
@AndrewTriesToCode what do you think about a concept like this...

[code]

Then in the TenantResolver if the identifier is located but not resolved from the store this can be fired off:

[code]

This opens up this possibility

[code]

This is working well on my end, and seems to be a pretty elegant solution to resolve what happens when the tenant is not resolved.

What do you think of this concept

[2020-11-09 19:28] natelaff commented on #348
Added a PR #351 to address this and #349 which is related.

[2020-11-09 19:29] natelaff commented on #348
Oops. Didn't mean to hit close. Check out the PR and let me know if you like this concept :)

[2020-11-10 02:32] renhammington opened #352 "Resolving tenant from API key"
Hi Andrew

Love your work! This is such an awesome project - let us know how we can help you out financially! So much work has gone into this. Anyway, I have a question about the use of API keys. It would appear that the delegate strategy is the best for this situation, although I'm not sure how to access the store from within the delegate.

All requests will contain an API key in the header. From

[2020-11-10 03:39] AndrewTriesToCode commented on #352
Hi @renhammington

I think the delegate strategy will work well for you. We actually have a new HeaderStrategy coming out in a release this week so you might want to try that too. Regarding the store -- all the strategy needs to do is return the identifier. the middleware will try it against each store you have registered to find a match. It's all handled for you!

Also this week I'll be turning o

[2020-11-10 06:12] AndrewTriesToCode commented on #348
Hi, I like the events idea. Let's add onto 6.1 once I get that out tomorrow.

[2020-11-10 06:24] AndrewTriesToCode commented on #331
If I understand correctly you have `UseMultiTenant` after `UseIdentityServer`? I would recommend you try this order:

- UseAuthentication
- UseMultiTenant (it should be able to access `User` after authentication)
- UseAuthorization
- Use IdentityServer

Your delegate strategy is very similar to how the ClaimStrategy works-- yours is agnostic to the authentication scheme so works regardless of cook

[2020-11-10 07:32] renhammington commented on #352
Awesome, thanks @AndrewTriesToCode. Just signed up as your first sponsor 👍

Can I elaborate a bit more on the problem? Here's the approach I'm thinking:

- Each tenant can have many API keys with different scopes.
- The key can only be viewed once when they are first created. They're only stored in hashed form.
- Key format is a composite structure with a `{prefix}.{suffix}` format, such as `SBDwF

[2020-11-10 07:46] coommark commented on #347
Hello @AndrewTriesToCode sorry it took a while, I had to create a smaller application because the other one is too large with lots of other stuff. Interestingly even the small app still doesn't work. Below is the link to the repo:

[https://github.com/coommark/finbuckle_test/tree/master](https://github.com/coommark/finbuckle_test/tree/master)

The instructions are there. When you login and go to `

[2020-11-10 13:56] endrihacker commented on #331
Yes at the last try I did I left it like that. However in my template I used `UseAuthentication` isn't there at all. Does it get called by another method internally?

I tried the order that you suggested and also added `UseAuthentication` but notheing happend. I think that `UseAuthentication` doesn't still have the claims of the user and I can't determine a tenant from that.

My order that works l

[2020-11-10 16:23] AndrewTriesToCode opened #355 "Finbuckle.MultiTenant 6.1.x"
Hello, Finbuckle.MultiTenant version 6.1.0 was released today to coincide with the release of .NET 5.0.

Thanks to everyone for their feedback and support. Your support helps keep this project running.

Also, please note the shiny new "Sponsor" button above :)

-Andrew

**6.1.0**
* .NET 5.0 support.
* New `DistributedCacheStore` uses the ASP.NET Core distributed cache for tenant resolution.
* New

[2020-11-10 17:29] natelaff commented on #355
👏 thanks for your work on this. happy to help contribute!

[2020-11-12 02:16] AndrewTriesToCode commented on #352
@renhammington thanks so much for being my first sponsor!

This is an interesting situation you have. So you need to store the prefixed mapped to the  hashed suffix and identifier somewhere and the strategy will need access to it.

You could use a something as simple as a Dictionary<string, (string hashedSuffix, string Identifier)> where the prefix is the key to the hashedSuffix / Identifier tuple

[2020-11-12 02:28] AndrewTriesToCode commented on #347
Thanks @coommark

I cloned the repo. Interestingly GitHub seemed to have changed the default branch to `main` instead of `master` so I was confused for a moment... Also I had to change the database to SQLite since I use a Mac, but I got it running. I'm digging into it as we speak.

[2020-11-12 17:47] AndrewTriesToCode commented on #347
@coommark I think I've got it and if I'm right you might want to kick yourself (I say that as someone who does this to my self frequently):

In your first attempt above:
[code]

Note that this line is not using the newly resolved `userManager` but instead the original `_userManager`:
[code]

Let me know how it goes!

[2020-11-12 18:31] AndrewTriesToCode commented on #331
hi again @endrihacker

I apologize for how long this is taking! Can we back up and just try to reduce the problem?

Currently in the IdentityServer app the /Token endpoint is not getting the tenant from the JWT with the claim strategy right?

With respect to `UseAuthorization`, I believe thats after `UseIdentityServer` for your own endpoints that identity server ignores. For a token request it won

[2020-11-12 18:58] AndrewTriesToCode commented on #331
Ok, now that I've refreshed myself I realized that in OpenId Connect when a request is made to the token endpoint the authentication code (in the form of a JWT) is send as form encoded body data.

This means that authentication never looks at it which is why we aren't seeing the claim as part of the user. I checked the IdentityServer source and it doesn't do JWT authentication itself for this endp

[2020-11-12 19:54] coommark commented on #347
@AndrewTriesToCode Aha! Just now I used more expletives in one sentence than a sailor would in a day - right before I kicked myself twice as you recommended. You got it, that's exactly what happened! Thank you so very much for pointing me in the direction of re-resolving the user manager as per your first comment.

This was a good experience and forced me to read some of the very well-written code

[2020-11-12 19:54] #347 closed, assigned to nobody

[2020-11-13 05:24] AndrewTriesToCode commented on #342
Mike, I'm glad you found a path forward. I'll take your experience as feedback that I need to improve the documentation in this area.

[2020-11-16 10:57] endrihacker commented on #331
Hello @AndrewTriesToCode

I wanted to say that I made those two delegate strategies work just by using this order

- UseAuthorization
- UseMultiTenant
- UseIdentityServer

I noticed that If I put `UseMultiTenant` after `UseAuthorization` and before `UseIdentityServer` it works (by works I mean I can determine `tenantId` in both delegate methods). That's why I can't use `UseAuthorization` after `Us

[2020-11-17 08:44] slnkykrn opened #361 "How to implement TablePerType Custamization with Identity Data Isolation Per Tenant"
Hello,
I want to create multiple database depends on different tenants. But when I customize identity tables like AspNetUsers with additional column a dicsriminator column opened in table itself. But I want to use tablepertype strategy for inherited types.

I'm using .Net Core 3 by the way. Do I need to migrate .net 5.0 to handle this situation or do you have any suggestions ?
Does .Net 5.0 versio

[2020-11-17 23:57] mike-rowley opened #362 "Custom ITenantInfo additional values are always null .WithConfigurationStore()"
I am trying to implement the Custom ITenantInfo functionality however there seems to be no real information or samples on how this works in the docs.

I have hopefully included all the pertinent code below.  The _multiTenantContextAccessor.MultiTenantContext.TenantInfo always returns NULL for every field in PaintMobileTenantInfo except the 4 TenantInfo fields.  All fields in the appsettings.json f

[2020-11-18 00:08] mike-rowley commented on #362
I will leave this here in hopes that it helps someone else who made the same mistake I did.

When migrating from V5 to V6, custom ITenantInfo fields in the appsettings.json file need to be moved from the "Items" sub-array and put into the base array.

This is the structure for V6
`
 "Finbuckle:MultiTenant:Stores:ConfigurationStore": {
    "Defaults": {
      "ConnectionString": ""
    },
    "Tena

[2020-11-18 00:08] #362 closed, assigned to nobody

[2020-11-18 00:30] AndrewTriesToCode commented on #362
hi @mike-rowley  It looks like you figured it out. I as also going to say to make sure to use the generic version of `IMultiTenantContextAccessor<T>` to make sure you get back your custom type. I'll try to improve the docs around this.

If you don't mind me asking, why do you use `IMultiTenantContextAccessor` rather than just directly injecting or getting `TenantInfo` from DI or using `HttpContext

[2020-11-18 00:36] mike-rowley commented on #362
I started off using DI and after hours chasing the NULL values, its just where I ended up after trying all 3 approaches.  I will be converting it all back to DI.

Thanks
M

[2020-11-18 00:38] AndrewTriesToCode commented on #361
hi @slnkykrn

I haven't played around too much with table-per-type but per [this doc](https://docs.microsoft.com/en-us/ef/core/modeling/inheritance#table-per-type-configuration) EFCore 5.0 is required. I don't think EFCore 5.0 itself actually requires .NET 5 though.

Anyway I think Finbuckle.MultiTenant is impacted much by this. If you run into any specific issues post some code and I'll take a lo

[2020-11-18 10:03] slnkykrn commented on #361
Hello thanks for the answer actually I migrate by code to .net 5.0 and just give a try. finbuckle automatically restore ef.core 5.0 package so I could handle tpt .
But I had an issue I want to spesific modified User approach for tenants like below I have more than one user definition :

    public class Example1: IdentityUser
    {
        public int deneme { get; set; }
    }

    public class Ex

[2020-11-20 19:28] goforebroke commented on #333
Hi Andrew,

I have the same issue when trying to customize the identity model. I have two

Startup.cs

[code]

ApplicationUser.cs

[code]

ApplicationDbContext.cs

[code]
DesignTimeFactory.cs

[code]
Here is the output error when I try to create a migration.

[code]

If I don't try to customize the identity model, and just use IdentityUser, I can create the migration and update the database.

Any

[2020-11-20 19:50] AndrewTriesToCode commented on #333
hi @goforebroke

I think the issue is that `IsMultiTenant` tries to adjust indexes on some identity entities and for some reason it's not working. I'll take a look today.

The current code looks like this and its crashing at first line to remove the index. Did you by chance change the index name? I need to make this work smarter.

Can you post your migration file so I can see how Identity is setti

[2020-11-20 20:25] goforebroke commented on #333
Andrew,

The migration file is never created when I try to extend the Identity Model. I have not made any changes to the indexes that are created.

Below is the migration file if I don't try to customize the Identity model

[code]

[2020-11-20 21:23] AndrewTriesToCode commented on #333
Thanks for the detail. I think I see the root cause.

I noticed here you probably want to inherit from `MultiTenantIdentityDbContext<ApplicationUser>` since you are replacing the existing `IdenitityUser` implementation. You also don't need to add a `DbSet<ApplicationUser>` because when you use the generic base class it adds it for you. This works similarly for regular Identity when you use a custo

[2020-11-20 22:22] goforebroke commented on #333
That worked! Thank you very much Andrew

[2020-11-21 23:09] natelaff opened #364 "Make ignored identifiers case insensitive"
Do you have any issue if TenantResolver check for ignored identifiers is made case insensitive?

https://github.com/Finbuckle/Finbuckle.MultiTenant/blob/612889bdddce4ab9143bc2f0988145fce12afa35/src/Finbuckle.MultiTenant/TenantResolver.cs#L67

Changing to something like this...?

[code]

[2020-11-21 23:21] AndrewTriesToCode commented on #364
No feel free to include in your PR
This is even easier:
```if (options.CurrentValue.IgnoredIdentifiers.Contains(identifier, StringComparer.OrdinalIgnoreCase))```

[2020-11-21 23:32] natelaff commented on #364
Cool! I will. I think I read Any was faster? This is probably insignificant in this case (even if that is the case)

[2020-11-22 00:24] #364 closed, assigned to nobody

[2020-11-23 16:34] imanov opened #365 "TenantId type"
Is it possible to add an option for using custom TenantId type, instead of string ? Guid ,long, int are good examples of better types which are spread all over the tables in the database.

In cases where the TenantInfo is part of the same database and tenants are dynamically created, following the same ID types is a good practice, as well as better performance and storage usage for int,long,Guid ,

[2020-11-23 17:01] AndrewTriesToCode commented on #365
@imanov I'll take a look. It would be a major change but probably doable.

[2020-11-24 16:08] white-label-development opened #366 "Struggling to inject a populated ITenantInfo into DbContext"
Hi,

I'm using a Configuration store with a custom ITenantInfo, which works in an MVC controller as per your examples

[code]

I'm using a 'Clean Architecture' approach, and struggling to get tenant information into my DbContext in the Application layer.

DI is injecting objects but they have no values (all are null), eg:

[code]

The WebDbContext in the Application class library cannot access the

[2020-11-24 17:02] AndrewTriesToCode commented on #366
hi @white-label-development
In your clean architecture are you using tenant resolution or do you just want a "static" tenant info so you can get the db context working? Are you also using `services,AddMultiTenant<xxTenantInfo>` in your configuration? It's actually possible to use it without ASP.NET and its baggage if that's what you are trying to achieve.

If you can show a little more of your con

[2020-11-24 17:20] white-label-development commented on #366
Thank you for such a quick reply and thank you so much for this great library. I just moved off Orchard.Core as it was getting in the way. This library does not - you have done a brilliant job.

I have solved my issue - I was being an idiot and should know by now to take a walk before posting for help. Thanks anyway - it's all good here now :)

[2020-11-24 17:32] AndrewTriesToCode commented on #366
Excellent!

[2020-11-25 12:48] #366 closed, assigned to nobody

[2020-11-26 16:41] endrihacker opened #367 "How to update other tenant (single tenant, multiple tenants) data"
@AndrewTriesToCode I want to thank you for the support you gave me for [this issue](https://github.com/Finbuckle/Finbuckle.MultiTenant/issues/331).

What I want to achieve now is:

1. Migrate and Seed databases for each tenant
2. Update other tenant data

For topic 1:

To migrate all databases I use the following script:

   var tenants = _tenantStore.GetAllAsync().Result;

    foreach(var tenant

[2020-12-01 05:06] AndrewTriesToCode commented on #367
hi @endrihacker

1. Your approach is good. DI is a tool in your toolbox, but not the only tool. Nothing wrong with what you have done here. You might want to call `Dispose` on each db context at the end of the loop or use a `using` around the db context so it gets auto-disposed. For seeding you could also do it in a similar loop. There's not a "best" way to handle seeding as far as I've been able

[2020-12-01 10:54] endrihacker commented on #367
hi @AndrewTriesToCode

1. Thanks for the tip on `Dispose` or `using`. This is my first project that I am implementing multitenancy and having to handle multiple databases is a challenge for me.

2. Yes I am using `Identity` but that was not the topic. I just used that sample because that's the only only one I found that was possible to modify **other tenant's data**.

Thanks for your great effort

[2020-12-03 13:26] endrihacker commented on #367
Hi @AndrewTriesToCode!

I have noticed that each time I need to modify other tenant data I need to do something like this:

        var tenantManager = _httpContextAccessor.HttpContext.GetMultiTenantContext<ExtendedTenantInfo>()?.TenantInfo;
        var originalServiceProvider = _httpContextAccessor.HttpContext.RequestServices;
        var tenantToManage = await _tenantStore.TryGetAsync(_tenant.Id

[2020-12-04 21:47] jaltenbernd opened #368 "Blazor Web Assembly and .NET 5 Error"
I created a brand new .NET 5 Blazor WebAssembly project and installed Finbuckle.MultiTenant.AspNetCore. Unfortunately, I'm getting the following error:

`
Severity	Code	Description	Project	File	Line	Suppression State
Error	NETSDK1082	There was no runtime pack for Microsoft.AspNetCore.App available for the specified RuntimeIdentifier 'browser-wasm'.	DLR.Bold	C:\Program Files\dotnet\sdk\5.0.100\Sdks

[2020-12-07 12:56] Nisden opened #369 "Where did WithRemoteAuthentication go?"
Hello

So I am upgrading from an 5.x version to 6.1 and WithRemoteAuthentication have been removed?

How to I enable OIDC handling, but without enabling the rest of the WithPerTenantAuthentication options?

[2020-12-07 16:35] AndrewTriesToCode commented on #368
@jaltenbernd thanks for reporting the issue. I'll start taking a look. Did you find any way around the error?

[2020-12-07 16:43] AndrewTriesToCode commented on #367
That's the basic pattern. It could be simplified based on what you are doing as the manager--is it mainly database or Identity stuff?
It might just be simple to create a new db context for the specific tenant and dispose of it, similar to your migration code.

If you need per-tenant options for any DI that happens as you do modifications then you're current approach is the cleanest way. You could

[2020-12-07 16:51] jaltenbernd commented on #368
No. I tried Blazor Server instead. But, really couldn't get that working when trying to use the route style: http://contoso.com/abc and http://contoso.com/xyz. I think the sub-domain routing will work, but trying to figure out if I could use the folder route instead.

[2020-12-07 16:53] AndrewTriesToCode commented on #369
hi @Nisden
As you saw it's now called internally with the idea being to simplify things. Maybe I should re-expose it. Here's a simplified excerpt from `WithPerTenantAuthentication` that should provide the functionality without anything extra. Just plug it into your `ConfigureServices` method:

[code]

[2020-12-08 07:39] Nisden commented on #369
Hey Andrew

I get the idea behind moving it all to WithPerTenantAuthentication, but we already have so much other stuff happening in the Cookie events/options, OIDC Options, etc. That having this library try to manipulate it as well might cause disaster :)

I would love to see the WithRemoteAuthentication reintroduced as a lower level component.

[2020-12-08 07:47] Nisden commented on #369
Well.... MultiTenantAuthenticationService is internal, so I am unable to copy/paste the code.

[2020-12-09 12:15] bedeche1 opened #371 "Application Insight - ITelemetryInitializer - Exception"
I am trying to get the MultiTenantContext from the IHttpContextAccessor during an ITelemetryInitializer.Initialize of ApplicationInsight to add the tenant properties (name and id) but I still get an exception of type ArgumentNullException during the GetMultiTenantContext.

 Is there a way to get this information at this time?

Step to reproduce the problem:
Includes Nuget to your WebApi
- Microsof

[2020-12-09 16:40] AndrewTriesToCode commented on #368
@jaltenbernd a few more questions, are you using Finbuckle.MultiTenant 6.1? If so can you see if a .NET Core 3.1 app has the same error?

[2020-12-09 16:43] AndrewTriesToCode commented on #371
@bedeche1 I haven't seen this before, but something that jumps out is `services.AddSingleton<ITelemetryInitializer, AppInsightsInitializer>();` which means it gets initialized once and typically tenant changes per request. Would `AddScoped` work for that service or is that not how it works with AppInsights?

[2020-12-09 18:18] bedeche1 commented on #371
I've tried this before to put AddScoped instead of AddSingleton but ApplicationInsight requires it to be a `services.AddSingleton <ITelemetryInitializer, AppInsightsInitializer> ()`. I did not specify I am using AspNetCore 3.1

[2020-12-09 19:41] natelaff commented on #371
Yes, I ran into a similar thing a few weeks ago. Luckily, I have the tenant name inside of a claim as well so was able to pull from that and it works well. I didn't see any other way around it with it being Singleton.

[2020-12-09 21:12] AndrewTriesToCode commented on #371
Can you try moving the
[code]
after Add MultiTenant? It's possible that initialize is called there and the services for registered yet that Finbuckle uses. I'll try to recreate in a project and dig into the error further.

[2020-12-09 21:32] natelaff commented on #371
I just tried again so you could see the stack. Honestly pulling it out of the claim worked better for me anyways so I didn't dig too deep and moved on. That telemetryinitializer is the last thing in my ConfigureServices

So it's tanking on: https://github.com/Finbuckle/Finbuckle.MultiTenant/blob/612889bdddce4ab9143bc2f0988145fce12afa35/src/Finbuckle.MultiTenant.AspNetCore/Extensions/HttpContextExt

[2020-12-10 01:56] AndrewTriesToCode commented on #369
@Nisden Thanks for the PR, I agree with the change and will eventually merge it in.

[2020-12-11 11:21] bedeche1 commented on #371
Thanks for the suggestions, I will abandon the use of `_httpContextAccessor.HttpContext? .GetMultiTenantContext <TenantInfo> () ?. TenantInfo;` for now and I'll instantiate and directly use the basepathstrategy to get the idetifier. the important thing is to have at least one piece of information that allows me to identify my tenant.

[2020-12-11 15:03] AndrewTriesToCode commented on #371
I’m going to still look a little deeper into this. I’ll let you know what I find out.

[2020-12-19 04:03] mkgn commented on #333
I have the same problem, but not for IdentityUser but for IdentityRole. Below is how I have implemented it so far.
`
public class ApplicationRole : IdentityRole, IEntity,IFullAuditedEntity,ISoftDelete
    {
        public string TenantId { get; set; }
    }

`

My DbContext goes as;

`
public class ApplicationDbContext : MultiTenantIdentityDbContext<ApplicationUser>{}
`

In Startup I register iden

[2020-12-19 09:48] mkgn commented on #333
Got it sorted. It was an overlook from my end. I had to register IdentityUser/IdentityRole properly in MultitenantContext

[2020-12-19 17:59] AndrewTriesToCode commented on #333
@mkgn glad you sorted it out. This stuff definitely can get complicated.

[2020-12-23 16:49] #341 closed, assigned to nobody

[2020-12-30 16:17] Blackleones opened #374 "IdentityServer4 sample with Multitenancy"
I am learning how to use Finbuckle to create a multitenant project with the following infrastructure:

- 1 javascript client (Angular / React / Vue / ...)
- 1 web api
- 1 Identity Provider (IdentityServer 4 / Openiddict)

I've already created the javascript client, the web API with Finbuckle, and the Identity Provider using ID4. Unfortunately, I am struggling with how to set ID4 to multitenant.

I

[2020-12-31 01:37] #337 closed, assigned to nobody

[2020-12-31 11:32] #336 closed, assigned to nobody

[2021-01-05 10:43] devalot76 opened #375 "Can I use AddDbContextPool?"
Hi and happy new year!
I was wondering, is it safe to use .AddDbContextPool() instead of .AddDbContext() or could there be issues with tenants since the first method reuses instances of the DbContext?

My configuration is:
- .WithConfigurationStore()
- .WithRouteStrategy()
- .WithPerTenantAuthentication()

Thanks.

[2021-01-08 23:59] AndrewTriesToCode commented on #375
hi, excellent question and I must admit I do not know off the top of my head. I will flag this and investigate. If you have experimented please let me know your findings.

[2021-01-09 00:04] AndrewTriesToCode commented on #374
@Blackleones I apologize for the late reply.

I'm working on a sample and blog post for this so stay tuned.

[2021-01-13 20:13] Kricke242 opened #376 "Minor issue: NullReferenceException in ConfigurationStore when no ConnectionString is specified"
I have a service without connection strings. And when I leave the connection string out of the appsettings.config I get a NullReferenceException

[code]

Not a big issue, because it works when adding

[code]

However, it took me a while to figure out what was wrong, since I do not have any database connections in this service, and then I don't think one should have to specify a null one... :-)
Bes

[2021-01-14 04:34] #344 closed, assigned to nobody

[2021-01-15 18:35] AndrewTriesToCode commented on #376
@Kricke242 Thanks for pointing this out. I agree it should behave a little better. I'm going to mark as a bug so that I remember to address this.

[2021-01-16 17:18] #348 closed, assigned to nobody

[2021-01-18 15:29] #352 closed, assigned to nobody

[2021-01-19 07:36] #342 closed, assigned to nobody

[2021-01-19 09:13] Nisden commented on #371
@bedeche1 If you still wanna use Application Insights, you could do the following.

[code]

Just make sure its called after `app.UseMultiTenant();`

[2021-01-19 16:34] endrihacker opened #378 "Multitenant based on database schema"
Hello again @AndrewTriesToCode,

I'm currently using multitenancy with separate database per tenant. In PostgreSql there is a low limit of database connection per database instance (around 100 by default, and can't be increased to the range of some thousands). I know that I can use single database multitenancy, or even hybrid approach. But what I want to do is to keep the data completely separate

[2021-01-20 03:51] AndrewTriesToCode commented on #378
Hi @endrihacker I've used separate schema for each tenant on small test apps but it was done by manipulating the connection string with MS Sql Server. I'll keep this as a feature request but I'm not sure how feasible it would be.

[2021-01-23 13:00] #331 closed, assigned to nobody

[2021-01-25 00:49] #361 closed, assigned to nobody

[2021-01-26 19:51] mguinness commented on #378
There is an existing open issue https://github.com/dotnet/efcore/issues/9965 that you could upvote.  A couple of other ideas - could you execute `set schema 'xyz';` with [Interception of database operations](https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.x/#interception-of-database-operations) or use the new feature [Connection or connection string can be changed on initialized DbC

[2021-01-29 23:06] natelaff commented on #376
Ah, I just hit this one too :) #325?

[2021-01-29 23:09] AndrewTriesToCode commented on #376
@natelaff thanks for chiming in. I'm working on the next release and I'm trying to get CI/CD stuff setup -- a lot of upfront work that I'm hoping will make fixes like this a lot quicker

[2021-01-30 03:33] chadbengen opened #379 "Claims strategy with IdentityDbContext scopes ITenantInfo before its resolved"
The ClaimsStrategy makes a call to AuthenticateAsync(), and in doing so it triggers a dependency on my MultiTenantIdentityDbContext.  This dbcontext is configured per the docs and has both constructors taking a ITenantInfo param.  This in turn scopes the ITenantInfo *before* the ClaimsStrategy is completed.  As a result all future ITenantInfo dependencies are null.  Further, the MultiTenantDbConte

[2021-01-30 04:50] AndrewTriesToCode commented on #379
Hi, I see what you mean -- can you post what your authentication configuration looks like? Are you using a token in the cookie and restoring the session info from the database or something like that?

[2021-01-30 16:28] chadbengen commented on #379
This is an identity server 4 site with the mulittenantidentitydbcontext registered with it. I am not storing the cookie nor a token in session storage, but I disabled session storage anyway with no affect.   Aside from the code below, i am also implementing a same site cookie fix found here, although i do not think they impact:

https://www.thinktecture.com/en/identity/samesite/prepare-your-identi

[2021-01-30 16:46] chadbengen commented on #379
I saw your code for resetting the resolved services, and adding the same after the call to AuthenticateAsync resolves the issue:

[code]
However, i am a little concerned about using that line.  If there is an earlier pipeline that relies on scoped objects, i fear unexpected consequences.

I am thinking that a specific claims middleware that comes after the authentication would be safer?  I'm going

[2021-01-30 19:33] AndrewTriesToCode commented on #379
@chadbengen thanks for the details

A few thoughts
- you are getting into some advanced use cases and unfortunately there aren't any easy answers
- if I remember correctly the claims strategy calls uses the default `AuthenticateScheme` which Identity may have set up to do something with a database -- this might be worth looking into it
- regarding the scope as long as you don't overwrite context.R

[2021-01-31 00:50] chadbengen commented on #379
@AndrewTriesToCode thanks for your response and feedback.

I think i resolved the issue (much easier than i expected) by using IMultiTenantContext<T> in my IdentityDbContext instead of directly injecting ITenantInfo.

I am using custom UserStore and RoleStore objects to help get around some of the limitations with IdentityDbContext you mention in your docs, and those, too, needed to depend on IMul

[2021-01-31 17:30] chadbengen commented on #379
@AndrewTriesToCode i am repopening this with a little more to my resolution and perhaps a discussion about whether or not it makes sense to incorporate changes in the code base or if this issue should be resolved by individual developers.

First of all, my resolution above was a little short sighted.  Although the IMultiTenantContext solves some of the issues, the dbcontext model is still cached w

[2021-02-05 03:28] Valks commented on #379
I'm pretty sure I ran into the same issue. In the end to resolve it I modified the ClaimsStrategy so that it checked if the user was already authenticated because it would give an exception if it tried to call AuthenticateAsync a 2nd time.

Also, so that other parts of the pipeline could access the claims principle I attached it to the httpContext.User

https://github.com/Valks/Finbuckle.MultiTena

[2021-02-13 20:27] #367 closed, assigned to nobody

[2021-02-16 03:55] AndrewTriesToCode opened #390 "Finbuckle.MultiTenant 6.2.0"
Hello, version 6.2.0 is now available on NuGet.

First, a big **THANK YOU!!!** to my sponsors @cpcrook and @renhammington!

If you want to support this project please check out the sponsor button above. Every little bit helps.

Second, this project is gearing up for some big updates soon so stay tuned. Expect more frequent updates and faster paced development.

And finally, this release is mostly

[2021-02-16 04:00] AndrewTriesToCode commented on #375
After looking into this I have to recommend against using the db context pool for exactly the reason you mentioned.

If you have a fancy db context that was smart enough to somehow validate its `ITenantInfo` member this could work but that is not something I'm planning to prioritize at the moment. Thanks again for the question.

[2021-02-16 04:06] AndrewTriesToCode commented on #369
@Nisden I just release 6.2.0 which has the changes discussed.

`WithPerTenantAuthentcation` is just a called to these:
[code]

which you can call yourself and skip the conventions stuff.

[2021-02-16 04:07] AndrewTriesToCode commented on #349
@natelaff just release 6.2.0 with this. Ok to close?

[2021-02-16 11:51] #369 closed, assigned to nobody

[2021-02-16 13:33] natelaff commented on #349
@AndrewTriesToCode yup! the changes I added covered this base. thanks for including them!

[2021-02-16 13:33] #349 closed, assigned to nobody

[2021-02-16 19:15] morindo opened #391 "Create Tenant after user registration (Register) ang Get Tenant after login (Login)"
I've been trying to set up Finbuckle (nice project name btw) with these scenarios in mind.

1. Users get on the home page and register (/Identity/Account/Register), if the user does not exist, create the user and new tenant with a dummy Identifier.
3. Users get on the home page and login (/Identity/Account/Login), if the user exists, get the tenant from cookie, claims?.

I don't want to use Route,

[2021-02-17 05:00] AndrewTriesToCode commented on #391
hello @morindo

Yes this is doable. The closest sample is the ASP.NET Core 2 `SharedLoginSample` project but it is a little old. I probably need to update it. The basics still apply though.

If you simply add a `__tenant__` claim in the Identity claims table linked to the Identity user and configure it to add that claim to the generated `ClaimsPrincipal` (actually I think the default `UserClaimsPr

[2021-02-17 15:21] mpriem opened #393 "Adding indexes for TenantId on EF Core Entities."
We've been working on a solution using the Finbuckle 5.0.4 library and EF Core for quite some time now  and are slowly running into some SQL performance challenges. This mainly has to do with the fact that there is no index on the TenantId column for the various entity tables, so it keeps doing table scans as Finbuckle adds the TenantId query.

Is there a preferred pattern on how to solve this wit

[2021-02-17 20:22] r0lan2 opened #394 "how to initialize EF Core Store using connectionstring coming from appsettings."
Hi!
first of all, Thank you for your library.... I am working in a PoC and I am stuck trying initialize the EF Store from my appSettings.json..
I have working my solution using this line of code.

` protected override void OnConfiguring(DbContextOptionsBuilder optionsBuilder)
        {
            if (!optionsBuilder.IsConfigured)
            {
                optionsBuilder.UseSqlServer(

[2021-02-18 01:06] AndrewTriesToCode commented on #393
hi @mpriem
I'm actually working on this for the next release, but I think the solution will be workable for you to use as straight code. Here is a version derived from it that doesn't require the other changes in that branch:

[code]

This would be used from `OnModelCreating` like so:
[code]

You could modify it pretty easily to adjust all the indexes on an entity type by looping through them all.

[2021-02-18 01:11] AndrewTriesToCode commented on #394
hi @r0lan2

Take a look at the example here:
https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/intro?view=aspnetcore-5.0#register-the-schoolcontext

The short answer is that if you placed the connection string in your `appsettings.json` file like so:
[code]

you can access it from your startup class like this:
[code]

[2021-02-18 01:12] #355 closed, assigned to nobody

[2021-02-18 01:58] r0lan2 opened #395 "[question] how to inject TenantInfo instance in DataContext"
Acording documentation ITenantInfo can be injected in order to get the correct connectionstring.-

`

             public class MyAppDbContext : DbContext
            {
                private TTenantInfo TenantInfo { get; set; }

            public MyAppDbContext(MyTenantInfo tenantInfo)
           {
               // DI will pass in the tenant info for the current request.
               // ITen

[2021-02-18 01:59] AndrewTriesToCode commented on #395
@r0lan2 Can you show me your startup class? For tenant info to be injected the middleware must be setup to use multi tenant strategies and stores to determine the tenant for the request.

[2021-02-18 02:06] r0lan2 commented on #395
Yes, I edited the questions above :)

[2021-02-18 03:43] AndrewTriesToCode commented on #395
In your app pipeline setup do you call `app.UseMultiTenant()` to actually use the middleware? And just to make sure, does the EFCore store have tenants inside it so the middleware will find a match for the base path?

[2021-02-18 13:41] #394 closed, assigned to nobody

[2021-02-18 13:42] r0lan2 commented on #394
your suggestion works!.

[2021-02-18 13:43] r0lan2 commented on #395
@AndrewTriesToCode  , I am using app.UseMultitenant().. but I think something is missing.. maybe declaration of other service?
about the second question: Yes catalog database is working fine... the problem is when I try use the second datacontext in the homecontroller.cs

`
 public HomeController(FarmerDataContext context)
        {
            _context = context;
        }
`

the code is here:

h

[2021-02-19 08:00] xPathin commented on #374
Hey @AndrewTriesToCode, any updates on this? I'm craving for that sample and post :grin:

[2021-02-19 14:05] natelaff commented on #374
I'm pretty curious, too. I have a working IS4 implementation, but I'm eager to see another. I think what Andrew does based on what he's mentioned in a past issue is better than my solution.

[2021-02-19 14:37] r0lan2 commented on #395
I did some changes into startup.cs but still with errors..
some times Constructor receive as null and other with a reference..
![image](https://user-images.githubusercontent.com/777801/108517863-b1ea6c00-72a6-11eb-813a-d7f3262376de.png)

![image](https://user-images.githubusercontent.com/777801/108518019-e1997400-72a6-11eb-9afd-292ff4ff87fd.png)

Note:  I am looking into your example here: https:/

[2021-02-19 19:36] r0lan2 commented on #395
@AndrewTriesToCode  me again :)
I am looking into your examples located here: https://github.com/Finbuckle/Finbuckle.MultiTenant/blob/main/samples/ASP.NET%20Core%203/BasePathStrategySample/Controllers/HomeController.cs

And if you add the contructor to HomeController,  the first injections of TenantInfo will be null

` private TenantInfo _tenantInfo;
        public HomeController(TenantInfo tenant

[2021-02-19 20:59] DavidDury opened #396 "Identity/Account/Login not found"
Hi,

I got one of your samples: FinbuckleSqlServerToDo and made some changes to it:

- database per tenant
- subdomain/Host strategy  t1.localhost, t2.localhost, t3.localhost
- per tenant options, cookies, authentication, etc

It runs fine, I created the databases, subdomain resolved correctly, however when I go to t1.localhost for example and try to go to https://t1.localhost:5001/Identity/Accoun

[2021-02-21 01:03] r0lan2 commented on #395
Another option in order to move around this issue related with the injection in the contructor of controller is initalize the datacontext in the action method (works  but it's not the best)

`  public IActionResult Index()
        {

            var ti = HttpContext.GetMultiTenantContext<TenantInfo>()?.TenantInfo;
            if (ti == null)
                return View(new TransactionViewModel()

[2021-02-21 22:07] VeeEng commented on #374
Hey @natelaff , could you please share your example. I haven't been able to figure this out yet

[2021-02-22 01:42] morindo commented on #391
Thank you very much @AndrewTriesToCode, it works like a charm! Cheers!

[2021-02-22 01:42] #391 closed, assigned to nobody

[2021-02-22 09:26] devalot76 commented on #391
Hi @morindo ,
I'm also trying to achive this scenario, can you share some code, please?

[2021-02-22 12:48] natelaff commented on #374
I replace the default EndpointRouter service with a custom IEndpointRouter that puts the tenant name in the base path. It's not super complicated but ultimately I'd like to get away from this method.

I think the better solution is to utilize acr_values tenant and write a custom Finbuckle resolution strategy which pulls this out using the IdentityInteractionService or whatever it's called. In theo

[2021-02-23 00:09] AndrewTriesToCode commented on #374
Hi @xPathin, @VeeEng , and @natelaff

Sorry for the slow reply. What's funny is that after really digging into this I've come to the conclusion that basepath + remapping the basepath via the standard `Map` middleware to rebase the request after the multitenant middleware so that IS is basically unaware of the original basepath. Or alternatively use the domain strategy.

The other piece is the data

[2021-02-23 00:16] AndrewTriesToCode commented on #396
@DavidDury Hi would it be possible for you to provide a link to a repo so I can clone and look into this?

Some things I'd try initially to narrow down the problem:
- try a static strategy to see if problem still occurs
- do any identity pages load?
- can you set the logging to debugging level and see what the routing logic is doing?

[2021-02-23 00:18] AndrewTriesToCode commented on #395
hi @r0lan2 sorry for the delay. Thanks for all the detail I'm taking a look.

[2021-02-23 00:30] AndrewTriesToCode commented on #395
When you get a null can you check the debug output or logs and see what the request is? I suspect that something is triggering a request without a basepath. Maybe Visual Studio is automatically requesting the path "/" without a tenant?
Just as a test I suggest you register a static tenant strategy after the basepath with a default or dummy tenant just so that if no tenant is found there will at le

[2021-02-23 22:26] wmembreno commented on #333
Hello @AndrewTriesToCode thanks, I was struggling with the same issue of @goforebroke, now I'm able to add migrations, I have a question, just by adding this migrations will it keep updated all the databases in the different tenants? or do i have to do any manual work to achieve that goal?

[2021-02-24 11:58] hbermani opened #397 "[Question] Migration from 5.0.4 to v6 & QueryFilters"
Hello,

I just want to start by thanking everyone who contributed to this amazing library, it has been so useful. I have a couple of questions I wanted to ask as it has been a while since I visited the repo:

1- Is there any guide to upgrading from v5.0.4 to the latest release, any breaking changes to anticipate.
2- I was reading about global query filters in EF Core documentation and found this s

[2021-02-25 03:28] AndrewTriesToCode commented on #397
Hello, glad you like the library.

1. The biggest breaking change is the move to custom tenant info types. This removes the `Items` generic container from `TenantInfo` but you can also add whatever you want to an `ITenantInfo` implementation to add properties and such. It shouldn't be too much of a challenge to get that working especially if you don't use `Items`. The main changes are that you hav

[2021-02-25 03:32] AndrewTriesToCode commented on #333
Hello @wmembreno

Unfortunately multiple databases have to each be migrated to separately. Looping through the MultiTenant store and applying them programmatically is a straight forward way to do so.

[2021-02-25 09:44] hbermani commented on #397
Thank you for the reply Andrew. I'll have a look at upgrading my solution to the latest version, seems straight forward enough! (Famous last words lol).

As for the second point and query filters , you are bang on point, I just tested it and can confirm the behaviour.  I also had a look at the docs here https://www.finbuckle.com/MultiTenant/Docs/EFCore#existing-query-filters and it might help incl

[2021-02-25 09:44] #397 closed, assigned to nobody

[2021-02-26 09:48] ztam opened #399 "Configure multiple Open ID Connect schemes for a single tenant"
Hi!

I'm having problems figuring out how to configure multiple OIDC schemas pr tenant.

I have a use case where a tenant is required to have two different OIDC schemas. I can configure one by using WithPerTenantOptions<OpenIdConnectOptions>, but I can't find a way to do this for both.

Is this supported by the library or do I have to solve this some other way?

[2021-02-28 21:55] TheFoxInSocks opened #400 "Hybrid Per-tenant and Shared Database Help"
Hello @AndrewTriesToCode,

Love the repo, it has saved me tons of time with integrating multi-tenancy in my application.

**What I am trying to achieve:**
- I have a hybrid setup where I have Partners (Tenancy Level 1, 3 Databases) ->  Subscribers (Tenancy Level 2, Many Tenants within DBs)
- The Partners want their subscribers kept independent of the other partners.

**Current Site Setup (HostStra

[2021-03-01 03:07] sookyee opened #401 "Reset cache"
Hi,
In my database design, I have a users table storing the users name and email and this table is filtered based on tenant id. Each user can only see data that is assigned to the same tenant id. I have another table which maps these tenant id's to an identifier. This identifier is used to authenticate the user upon login. The login function gets the email of the user, matches the email in the use

[2021-03-02 05:19] AndrewTriesToCode commented on #375
@natelaff I saw you had a comment on here.

It occurred to me the pooled context stuff might work if `IMultiTenantContextAccessor` is injected into the db context instead of `ITenantInfo` depending on the aspnet internals it might work -- would have to be tested.

[2021-03-02 05:21] AndrewTriesToCode commented on #399
hi @ztam there isn't any specific support for multiple schemas per-tenant. In your case is it a single database where the schema separates per-tenant data or is it a situation where each tenant needs multiple tenants?

[2021-03-02 05:21] AndrewTriesToCode commented on #400
@Stephen250
thanks for the question and your details. I will take a look shortly.

[2021-03-02 05:23] AndrewTriesToCode commented on #401
hi @sookyee

The Finbuckle EF Core support specifically tries to avoid caching for this reason, but it's possible that it could be happening somewhere. Can you post what your db context and your startup class look like and I can take a look for you?

[2021-03-02 11:46] VeeEng commented on #374
Hey @natelaff . Thanks for your explanation. I am not using ASP.NET Core Identity for my current project but your strategy my just work for me.

Looking forward to the example @AndrewTriesToCode

[2021-03-02 14:38] ztam commented on #399
Thanks for your reply.

I think this got a bit lost in translation. I have updated the heading to hopefully clarify a bit, sorry about that!
My issue is to configure two different OpenID Connect authentication schemes for the same tenant. :)

[2021-03-02 15:04] hbermani opened #402 "[Question] GraphQL Hotchocolate (AddPooledDbContextFactory) and Finbuckle"
Hello,

So I am looking at integrating GraphQL into one of my projects that uses Finbuckle and my GraphQL library of choice at this stage is Hot Chocolate . Reading through the HotChocolate docs I notice there is a requirement to add a pooled DbContext Factory., the reasoning for this is

This got me thinking, how do we go about implementing this in a Finbuckle multitenant environment. Particularl

[2021-03-02 16:42] natelaff commented on #402
Funny, this is the same reason I am interested in #375 too. The only way to know is to try it. I haven't had time to look into this yet.

[2021-03-05 20:19] jaltenbernd opened #403 "Which Strategy for Single Sign On?"
I setup Finbuckle for a client and it's working just fine for the past 6 months. Now, they come to me asking they have a tenant that wants to automatically sign in to the Site. Their tenant has an Intranet and when a User logs in they want to click on a button or link to come over to my client's site without logging in again.

I know this is in the realm of single-sign-on, OpenId, and Oauth2. But,

[2021-03-07 05:25] AndrewTriesToCode commented on #399
Ah Ok, I was thinking database schemas... but I see what you mean now. You can of course register 2 schemas with separate per-tenant options so that they are configured as needed for that tenant. The caveat is that it'll see those 2 schemas for all tenants and not just for the one you want. You also would have to tell ASP.NET Core which one to use "manually" when you call `AuthenticateAsync` by pr

[2021-03-07 05:41] AndrewTriesToCode commented on #402
Hi @hbermani thanks for the question. I need to learn more about GraphQL in general, but with respect to the db context pool I have an idea.

So here is something to test out. It's on my list but I just don't have all the time I wish I did to get to it all.

In theory instead of passing `ITenantInfo` or an implementation to a db context you could pass `IMultiTenantContextAccessor<T>` (or the non g

[2021-03-07 05:58] AndrewTriesToCode commented on #403
hi @jaltenbernd

The tenant strategy to resolve the tenant wouldn't change. Instead using per-tenant options we'd change their default `ChallengeScheme` to use the open id connect scheme (or OAuth or whatever) and per-tenant options to set the opened connect options.

Take a look at the [per-tenant authentication sample](https://github.com/Finbuckle/Finbuckle.MultiTenant/tree/main/samples/ASP.NET%

[2021-03-07 06:43] AndrewTriesToCode commented on #400
@Stephen250 Sorry for the delay getting back to you

I think this is doable if you use the `ClaimStrategy` to capture the tenant for a logged in user/client followed by the `HostStrategy` to handle users not logged in.

It would look something like:
[code]
`ClaimStrategy` will look for a user claim named `__tenant__` (by default) and use that to derive the tenant. As an example, in ASP.Net Core Id

[2021-03-12 13:32] rlmartins76 commented on #374
@AndrewTriesToCode

Any ETA when this sample will be available?

[2021-03-14 08:23] spech66 opened #404 "ApplicationDbContext can't be used in WithEFCoreStore (TEFCoreStoreDbContext error)"
Hi there,
first thank you for the great project. I'm using .NET 5 and try to combine `WithEFCoreStore` with `WithClaimStrategy`. Having two DB contexts only the first one has Tenant information.

[code]

However this also requires multiple migration folders and you can't use transactions in register method when Tenant, User and Claim should be created in a safe way. I tried to combine this in in o

[2021-03-14 16:27] AndrewTriesToCode commented on #404
Hello. I saw you closed the issue-did you figure it out?

it is possible to share the context but the EFCoreStore entities usually should not be multitenant. It doesn’t normally make sense that each tenant needs its own per-tenant multitenant store. Does that make sense?

[2021-03-14 16:36] spech66 commented on #404
Hi @AndrewTriesToCode thank you for the reply. I was searching in the wrong direction with that error. However right now I have three DB Contexts as the Identity System caused trouble with a Tenant bound Context.
The user can now visit the page without login. Identity would use the normal ApplicationDbContext. If the user is logged in (cookie + claims) the tenant is set in the TenantDBContext whic

[2021-03-14 17:38] AndrewTriesToCode commented on #379
@chadbengen

Hello, just following up here. I'm surprised to hear that the dbcontext cache was caching a null tenant inside it -- it should not be doing that (or caching any specific tenant) but rather it should dynamically access the `ITenantInfo` property within the context for the query.

I'm glad `HttpContextAccessor` worked for you -- you might want to consider `IMultiTenantContextAccessor<T>

[2021-03-14 17:40] AndrewTriesToCode commented on #404
I'm not sure I understand exactly -- feel free to reopen this with more detail or open a new issue. So you have 3 db contexts?
1. EFCoreStore
2. ApplicationDbContext - not multiTenant for Identiy
3. TenantDbContext - multitneant for Identity

is that right?

[2021-03-14 17:48] spech66 commented on #404
Yes. I have a Razor Pages project and wanted to add Finbuckle.MultiTenant. The content is like this:
- Have a few static landing pages
- Allow registration of new Tenant together with the first user. Register will create the Tenant, the user and add a __tenant__ claim.

If I only have the `ApplicationDbContext` derived from `MultiTenantIdentityDbContext` the application will throw Null Exceptions

[2021-03-14 17:53] spech66 commented on #404
Just switch the `ApplicationDbContext` to `MultiTenantIdentityDbContext` to get you a stack trace:

[code]

[2021-03-14 18:16] AndrewTriesToCode commented on #404
Thanks for the detail. I didn't anticipate that the security stamp validation would call into the db context but this makes sense.

The fix is to move line 76 on the snippet below down below the check for validation bypass. This is safe to do since this call to authenticate is not used to set the actual user -- just to check the tenant claim after which the results are discarded. The actual signin

[2021-03-14 18:21] spech66 commented on #404
Thank you for the super fast replies. What do you mean by " The tenant would still be set though so be aware of that."?

I will have a watch for the next release to hit that donation button ;-)

[2021-03-14 18:27] AndrewTriesToCode commented on #404
It means the application will set the tenant based on the claim in the cookie even if Identity later rejects the cookie during the authentication middleware. In practice this means the request will most likely get redirected to the login page immediately (if the endpoint requires authorization).

I'm working to set up a private Nuget feed for sponsors to get updated versions out MUCH faster while

[2021-03-14 18:34] spech66 commented on #404
That sounds like a good behavior. But pages without authentication would just have the tenant set to null right?

For this project: It's one of the kind you build in your spare time to hope to release it one day ;-)
In my professional life I'm working with node/react mostly atm however we use a lot of dependencies. For some of those I would really like an option to pay some money to get some probl

[2021-03-14 18:42] AndrewTriesToCode commented on #404
Pages without authentication, in this case, would have the tenant set to whatever the claim was.

[2021-03-14 20:38] AndrewTriesToCode commented on #374
@rlmartins76
@VeeEng
@natelaff
@xPathin
@Blackleones

Took me a while and this is still a little dirty but the fundamentals are there:
https://github.com/AndrewTriesToCode/MultiTenantIdentityServer4

The Identity Server project in there is MultiTenant using the basepath strategy and adjusts the `PathBase` (see the inline middleware) so that Identity Server basically doesn't see it. The server main

[2021-03-15 20:53] natelaff commented on #374
So one thing I do is replace the IEndpointRouter with a custom one. Your middleware is essentially doing this same thing by throwing the path in, but this is the "IdentityServer way" to do it.

[code]

You then also have to register this service and change your route to have the tenant in the path.

[2021-03-16 13:33] mkgn opened #405 "Possible bug with latest version having Tenant Events"
My tenants are in json file and each tenant has a dedicated database. Even though tenants are in json, I have a Tenant table in every database having one record for the tenant with extended properties.

So, when resolving tenants I do something like below

    options.Events = new MultiTenantEvents(){
        OnTenantResolved = async (context) =>
        {
             //Query my cache to see whet

[2021-03-16 16:44] devalot76 opened #406 "Setting default values when using .WithEFCoreStore"
Hi,
I've switched from .WithConfigurationStore to .WithEFCoreStore and now I'm wondering how to set the default values for the tenant like those in the appsettings.json file:

"Finbuckle:MultiTenant:Stores:ConfigurationStore": {
	"Defaults": {
	  "ConnectionString": "server=localhost;....",
	  "CookiePath": "/__tenant__",
	  "CookieLoginPath": "/__tenant__/Identity/Account/Login",
	  "CookieLogout

[2021-03-17 18:07] natelaff commented on #405
You cannot set the context.TenantInfo, that's a return object to give you the context of which tenant was found and how. Assigning something back there would have no effect.

[2021-03-17 18:10] natelaff commented on #405
@AndrewTriesToCode i suppose I should have made that a read-only prop ;)

[2021-03-17 18:24] natelaff commented on #405
You could add another store before your config store that looks at something like DistributedCache which has the full tenant object. So in this event check if the store is your configuration store, if so, add to the primary store. All future lookups would pull it from there, including your full extended properties. Andrew may have a better way to do it, that's how I'd probably tackle this though.

[2021-03-17 20:12] AndrewTriesToCode commented on #405
@mkgn

@natelaff  beat me to it -- I would recommend adding a store before the expensive store such as `DistributedCacheStore` or your own custom store just like nate stated

[2021-03-17 20:13] AndrewTriesToCode commented on #405
@natelaff if you want to submit a PR to make it readonly feel free other wise I'll get to it. PRs are on hold for just a moment while I work on onboarding to the .NET Foundation

[2021-03-17 20:18] AndrewTriesToCode commented on #406
hi @devalot76
Good question -- don't have an equivalent for the other store. Since the database behind EFCore can vary so much it's kind of hard to prescribe a universal approach. I'm open to ideas and interested in any workaround you might have.

One idea is to make a custom `IMultiTenantStore<T>` that wraps another store that holds default values and presets them on any tenant info it pulls from

[2021-03-17 20:51] natelaff commented on #405
@AndrewTriesToCode if you're freezing PRs for the moment I may just have you tweak it. It will be a small enough change for you to modify when you're in a better position.

[2021-03-18 06:52] mkgn commented on #405
Oh I see, that property suppose to be a GET only :) Well, as you suggested apart from adding another store why can't we just override some stuff in Tenant details at this point? Does it mess up some thing down the line in your code? If we can do it, it'll be like overriding certain things in the already resolved tenant. Injecting additional details will be much more easier don't you think?

[2021-03-18 10:46] natelaff commented on #405
Theoretically TenantResolver could be modified to wait for a return on this event and use that instance of the tenant. But from a best practice stand point I would strongly discourage it for performance issues that would likely popup. Seems like an unnecessarily expensive operation.

[2021-03-18 16:52] mkgn commented on #405
I guess you are right. If allowed you never know what people might do at this point. A heavy operation will really kill the performance. As for my problem, I got it sorted with the standard store for the moment. I guess that property has to be a GET :)

[2021-03-18 16:52] #405 closed, assigned to nobody

[2021-03-19 09:28] NikeshNiraula opened #407 "[Edited] Issue was with .WithEFCoreStore But has been solved. Two DbContext were created insted of one and solved."

[2021-03-19 09:49] NikeshNiraula commented on #407
But can we use only one dbcontext and work with it??

[2021-03-19 17:02] natelaff commented on #402
@hbermani did you try this yet? I haven't had time myself but am curious on the results.

[2021-03-22 15:25] Nisden commented on #401
Depending on what "log back in" means, it could just be the authentication ticket that still contains the old claims.
If so you need to update the Security Stamp, when you change TenantId.

[2021-03-22 15:39] AndrewTriesToCode commented on #401
@Nisden makes a good point. If you are storing the tenant as part of the auth ticket in the cookie it probably isn’t rereading from the database. Look into extending the security validation or modifying the stamp on the db side when tenant is updated.

Also tenant id is intended to never change whereas tenant identifier is designed to be changed. It sounds like you are doing something a little dif

[2021-03-22 17:17] TropinAlexey commented on #395
@AndrewTriesToCode Hi!
Can you tell, in which case `Defaults: ConnectionString` from appsettings is used? I assume when any of tenants can't be resolved, but is it exact behavior?

[2021-03-22 19:22] TropinAlexey opened #408 "Per tenant options from different databases and default tenant"
Hi @AndrewTriesToCode
I have read all of documentation, stackoverflow and issues but had stuck on quite simple things.

I'm trying to configure multitenancy where there is default database that configured in `Finbuckle:MultiTenant:Stores:ConfigurationStore:Defaults:ConnectionString` `appconfig.json` section and has been added manually to tenants collection by code below to other tenants from `Tena

[2021-03-22 23:52] AndrewTriesToCode commented on #395
@TropinAlexey
It is used only as part of the configuration store and if you don't put that same setting in the json for a specific tenant the default will be used.

Cheers!

[2021-03-22 23:55] AndrewTriesToCode commented on #408
@TropinAlexey
I recommend that you create a tenant named "default" and in your `AddMultiTenant<T>().... put a `WithStaticStrategy("default")`. So if the other strategies fail it will use the default one in that case.

So that's different than the default settings in the `app settings.json` file-- those defaults apply to tenants but they don't define a default tenant themselves. Good question! I sh

[2021-03-22 23:55] AndrewTriesToCode commented on #407
@NikeshNiraula
Hi It looks like you figured it out? Do you mind if I close the issue?

[2021-03-23 04:11] NikeshNiraula commented on #407
@AndrewTriesToCode
Sure. But is there any way to work with  .WithEFCoreStore with a single dbcontext??

[2021-03-23 04:17] AndrewTriesToCode commented on #407
Yes, you can put it all into a single context that derives from `EFCoreStoreDbContext<T>` where T is your tenant info type. It also must implement `IMultiTenantDbContext` and have a few key things added as described [here](https://www.finbuckle.com/MultiTenant/Docs/EFCore#adding-multitenant-functionality-to-an-existing-dbcontext).

Then just make sure you **don't** mark the EFCore store entity `Te

[2021-03-23 06:29] TropinAlexey commented on #408
Nice! Thanks for the clue Andrew, I'll leave this issue opened for a while to try your solution

[2021-03-24 08:39] ztam commented on #399
Sorry for the late reply, I was suddenly thrown into a new project...

It seems to me that I have to figure out another way to handle this problem as both schemes use OpenIdConnectOptions and this library does not support named options yet.

Thanks for the input, still loving this lib :)

[2021-03-24 08:39] #399 closed, assigned to nobody

[2021-03-24 14:36] TropinAlexey commented on #408
works nice, thanks!

[2021-03-24 14:36] #408 closed, assigned to nobody

[2021-03-25 03:28] AndrewTriesToCode opened #414 "Finbuckle.MultiTenant joins the .NET Foundation 🎉"
**Hello! 👋**

I'm proud to annouce that Finbuckle.MultiTenant has officially been accepted into the [.NET Foundation](https://dotnetfoundation.org)! 🎉
With the foundation's support this project will be poised to go to the next level!

With this major milestone I'd like to give a huge thank you to my first three sponsors:
@renhammington
@cpcrook
@project-bi

Your support is amazing, and I really do

[2021-03-25 04:06] AndrewTriesToCode commented on #414
Titles are hard 😄

[2021-03-26 01:24] Cpcrook commented on #414
Thanks for your work on this project, Andrew, really.  Hoping to dedicate some more time contributing code in the future.

[2021-03-28 22:35] szymczakk opened #415 "To fast logout"
Hi, I have a project in .net 3.1 with Finbucke.MultiTenant 6.2.0.

When a user logs in he is automatically logged out in +- 1h but I want to keep the session for 12h or even longer. How can I achieve that?

My code for MultITenant configuration

[code]

What am I doing wrong?

Thanks for your help,
Cris

[2021-03-30 10:46] michelevirgilio commented on #374
@AndrewTriesToCode
https://github.com/AndrewTriesToCode/MultiTenantIdentityServer4
Hi, thank you for your awesome work.
I'm trying to run your solution, but for Tenant 1 i get a
[code]

instead for Tenant 2 i get a
[code]
Any idea? Thanks

EDIT: PR https://github.com/AndrewTriesToCode/MultiTenantIdentityServer4/pull/1

[2021-03-30 15:36] michelevirgilio commented on #374
@AndrewTriesToCode
Trying your sample https://github.com/AndrewTriesToCode/MultiTenantIdentityServer4
By logging out from mvc client seems not logging out from IS: indeed IS shows the login page, but in the upper bar i can see the name of the logged user (bob/alice)

[2021-03-31 02:16] johanan commented on #365
I ran across the same issue and here is what I did to make this work. The project is pretty new so I am running EF Core 5. I am not sure what other versions of EF Core this will work with.

My Tenant Info class uses a Guid as the id. I implement the interface and just return the Guid as a string.

[code]

Then I created an extension method to add to EntityTypeBuilder. Here is what I used:

[code]

[2021-04-01 14:12] #407 closed, assigned to nobody

[2021-04-03 18:07] AndrewTriesToCode commented on #415
hi @szymczakk sorry for the slow reply

I'm not sure what would be causing it. If you check the browser dev mode what lifetime does it show for the auth cookie when it is first created?

I'm happy to take a closer look -- is there a repo I can access to see an example application where this is occurring?

[2021-04-03 18:16] AndrewTriesToCode commented on #374
@michelevirgilio in general OpenID Connect logout is kind of a mess. I see what you are saying. the IS4 sample by default keeps the user logged in so on the client I added the `prompt = "login"` line to always force a login for demo purposes. I woudl expect the IS4 app to also not show the previously logged in user. I'll take a closer look and see if this can be cleaned up a little bit.

I also th

[2021-04-03 18:16] AndrewTriesToCode commented on #365
@johanan that is a good soluion!

[2021-04-05 11:30] natelaff commented on #374
I remember dealing with this about a year ago. I jumped through a lot of hoops to allow the log out of this too so that it would actually display the right way. Ultimately, at least for my use case, it was pointless as if you're doing SSO you're generally hiding that bar anyways because you don't want them to be able to navigate away in native clients.

[2021-04-06 20:41] szymczakk commented on #415
Hi, not a problem,

I will prepare one later.

As a quick fix I deleted `WithPerTenantAuthentication` and it's working right now.

[2021-04-07 14:12] dhavalkateliya opened #416 "MultiTenantIdentityDbContext Implementation"
Hi,
I am trying to implement MultiTenantIdentityDbContext with WithEFCoreStore but i am not able to register the service.

**CustomTenantInfo**
[code]

**MyDBContext class**
[code]

**Startup**
` services.AddMultiTenant<CustomTenantInfo>().WithEFCoreStore<MyDBContext,CustomTenantInfo>().WithSessionStrategy();`

I am not able to register in service with above line of code.
please suggest where i am

[2021-04-13 05:21] AndrewTriesToCode commented on #415
@szymczakk a few questions
- are you using identity?
- in your call to `SignInAsync` are you setting the `IsPersistant` property to `true`?

I suspect that `WithPerTenantAuthentication` conflicted with the prior call to `WithPerTenantOptions` -- something I need to investigate

[2021-04-14 10:39] Corcoleison opened #417 "[Authorize] Atribute return error 404 because It is not returning /__tenant__/Identity/Account/Login"
Hello:

First of all, thank you for all the work you do, now the question. I want to put a controller in Home and when you are not loggin into the application it returns you to the login page. This is very simple in a normal application but working with tenant I don't know how to solve it. It is supposed that the only thing you may need is [Authorize] atribute but It is not returning me the good u

[2021-04-15 00:54] szymczakk commented on #415
Hi,

yes Im using Identity and Im setting it to true.

I will prepare test repo for you where you will be able to investigate it ;)

wt., 13 kwi 2021, 07:21 użytkownik Andrew White ***@***.***>
napisał:

[2021-04-15 10:48] sookyee commented on #401
Hi sorry for the late reply. Yes @Nisden  was right the application was reading from the old auth ticket. Thanks everyone for the help!

[2021-04-15 10:48] #401 closed, assigned to nobody

[2021-04-16 00:16] natelaff commented on #417
I think this is because of the way Identity UI scaffolds things out. It dumps everything in that Identity folder and kind of creates issues when you're doing anything outside of that. I think you have to scaffold identity and change that login path because they hardcode that area path.

https://stackoverflow.com/questions/50682108/change-routing-in-asp-net-core-identity-ui

[2021-04-16 07:09] Corcoleison commented on #417
Yes, It has to do with the Identity scaffolding thing, however, as I work with the HostStrategy in my final version, there it is working fine. Thank you for your answer. The ones that works with RouteStrategy or similar may have to change something or make an [Authorize] custom attribute that redirects to login or to a page error using the tenant route.

I mark the issue as close as I don't need t

[2021-04-16 07:09] #417 closed, assigned to nobody

[2021-04-17 01:36] shreya-groot opened #418 "How to use Finbuckle with Identity and EntityFramework in Asp.net"
Please provide some example to do this as I am finding this doc  at this url:
https://github.com/Finbuckle/Finbuckle.MultiTenant/tree/main/samples/ASP.NET%20Core%203/IdentityDataIsolationSample

quite messy.

please help

[2021-04-17 14:24] hbermani commented on #414
This is fantastic, well deserved @AndrewTriesToCode

[2021-04-18 18:21] TropinAlexey opened #419 "Error: Section name provided to the Configuration Store is invalid"
Hi, @AndrewTriesToCode .
I'm writing integration test with xUnit for my project and faced this error from title. The error appears only when I'm running test  and it is on line:

```var tenants = scopeServices.GetRequiredService<IMultiTenantStore<TenantInfoExtended>>().GetAllAsync().Result.ToList();```

When I'm running application it's ok. What could it be?

The test looks pretty like this:

[cod

[2021-04-20 03:24] AndrewTriesToCode commented on #418
hi @shreya-groot

I agree the sample isn't a good as it could be -- it tries to show a few different things.

Let me ask you a few questions and I'll give you some specific advice:
1. are you using a shared database or separate databases per tenant?
2. which multitenant strategy are you using?
3. are you using the default Identity UI?
4. do you have multiple db context classes? 1 for Identity and

[2021-04-20 03:29] AndrewTriesToCode commented on #419
Can you show your test setup code? It looks like you are using the configuration multitenant store and you have to handle that differently for using tests. You could either use a different store or see how I use the configuration store in tests [here](https://github.com/Finbuckle/Finbuckle.MultiTenant/blob/4c422b3965ff326f3232cfeb7091d44dbe1db006/test/Finbuckle.MultiTenant.Test/Stores/Configuratio

[2021-04-20 03:31] shreya-groot commented on #418
Hello Andrew,
I am having problem to implement Finbuckle
as I am having following specifications in it:
1. I am using Identity in Asp.Net
2.I am having one database that has be shared among all tenenat
3. I need to filter data corresponding to particular tenant by queries

Please guide me
Thanks & Regards
Shreya

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From:

[2021-04-20 03:53] AndrewTriesToCode commented on #418
@shreya-groot

in your app how do you detect the tenant? Does each tenant have a different url or hostname or do you do something completely different?

Before getting into the Identity MultiTenant Sample do you understand these samples?
1. `RouteStrategySample`
2. `DataIsolationSample` (not the Identity one -- this one shows the basics that Identity builds on)

[2021-04-20 03:56] shreya-groot commented on #418
Actually I am allowing the user to login and I will use his  AspNetUserId from that which I assume to be same as tenant id which has been inserted in tenant table while registering the user

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Andrew ***@***.***>
Sent: 20 April 2021 09:23
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [Finbuckle/Finbuc

[2021-04-20 04:08] shreya-groot commented on #418
And Also I don’t want to put tenant configuration in appSetting.json file as done in these two strategies

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Andrew ***@***.***>
Sent: 20 April 2021 09:23
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [Finbuckle/Finbuckle.MultiTenant] How to use Finbuckle with Identity and EntityFramework in Asp.net (

[2021-04-20 07:34] Corcoleison opened #420 "How to list all the tenants you have in appsettings.json"
Hello:

Could I ask for a bit of help? I'm using for the moment the configurationStores approach and adding the tenant info into appsettings.json. I want to get all the tenants in a variable or something so that I can do a dropdown list of the tenants already available.

Thanks.

[2021-04-21 15:16] Nisden commented on #420
You should be able to use IConfiguration to get a list of all keys.

https://stackoverflow.com/a/47060065/1020941

[2021-04-22 07:13] TropinAlexey commented on #419
Thank you, Andrew

[2021-04-22 07:13] #419 closed, assigned to nobody

[2021-04-22 15:17] hbermani commented on #402
Hi @natelaff , I ended up using OData instead of GraphQL... seems to do the job for now.

[2021-04-22 15:31] hbermani opened #421 "Question: Multitenant within Multitenant?"
So here is an interesting scenario.

You have 6 tenants, each with their own tenant-id. Three tenants decide they want to collaborate and want their data connected whilst still respecting data sovereignty.  My immediate thinking is that the three tenants will need to share the same tenant-id and then segregation would be done through business logic so EF just talks to one tenant instance. But what

[2021-04-22 19:35] shreya-groot commented on #418
Please help me to create a Tenant when I am using Identity to let the user login inside my ASP.Net Core app

[2021-04-24 00:38] ingleo44 opened #422 "Distributed Cache Store example"
Hi I am trying to implement a redis store but I can not find an example of how to do that using finbuckle multitenant, do you have any example available?

[2021-04-27 17:39] jaltenbernd commented on #403
You'll love this. Now, they want only "one" account per school to access the Site instead of individual teacher accounts. Can I still do this within Finbuckle where I have each school have one access token of some sort to access their section?

[2021-04-28 02:56] AndrewTriesToCode commented on #422
Hi @ingleo44
The best option is to look at the provided stores and see how they implement `IMultiTenantStore<T>`. There is aleady a store that uses the distributed cache and if you are using Redis via the distributed cache interface you are almost there. It shouldn't be too difficult -- it's just a few methods. If you have any specific questions on `IMultTenantStore<T>` I'm happy to help.

Here ar

[2021-04-28 02:59] AndrewTriesToCode commented on #403
@jaltenbernd clients are fun like that :)

Finbuckle can still handle this and will help if you need different authentication or app options for each tenant. If the functionality is basically the same for all tenants though you might just go with a regular app with a normal user system. Do you think it's possible they would ever change their mind back to their original request?

[2021-04-28 03:02] AndrewTriesToCode commented on #421
Hi @hbermani
Sorry for the late reply -- I think what you described is a good approach. Nothing in the library specifically addresses this type of need. I think it also depends on what the tenant specific requirements are -- separate users? data? authentication? etc. And for the "sibling" tenants what information would they be sharing as common between them?

If you treat the "supertenant" as the

[2021-04-28 03:07] AndrewTriesToCode commented on #420
@Corcoleison there is a method on the `IMultiTenantStore<T>` called `GetAllAsync` which you can await to get an `IEnumerable<T>` where `T` is your tenant info type. This will let you `foreach` through each tenant in the config file. You can get the `IMultiTenantStore<T>` straight out of the DI system in most cases.

[2021-04-28 03:13] AndrewTriesToCode commented on #418
@shreya-groot  I'm sorry for the slow responses

You want to create a a tenant when a new user registers? Will your tenants have multiple users or will it be one user per one tenant?

You can create a new tenant by using the `IMultiTenantStore<T>.TryAddAsync` method which requires a `TenantInfo` object of type `T`. Not all of the stores implement this method though so you might have to create your

[2021-04-28 03:19] shreya-groot commented on #418
My tenant will have multiple users further.
First of all I want to know which strategy I should use out of so many as I only want to create Tenant with so many users under him

In Asp.net core I have created all the users who can sign in into my application, but I want to make them specific to tenant, means I want to associate one tenant with each user without working on any routing.

please give

[2021-04-28 10:01] hbermani commented on #421
Hi @AndrewTriesToCode ,
Thank you for your input, honestly no need to apologise, it must be challenging keeping this ticking.

So here is my current thinking.

**The simplified version:**
- Create two db contexts for the controllers to consume through DI, a primary and shared contexts. The primary would behave as Finbuckle current implementation, the shared context would apply the Like/Contains co

[2021-04-28 15:45] ingleo44 opened #423 "Update cache on delegate strategy"
I am using the Distributed Cache store for my solution but now I am facing a new challenge, my strategy resolution is a delegate strategy which retrieves the tenantId from a claim of the authenticated user but I would like to retrieve the the tenant information from the database in the delegate and then save it in the distributed cache for tenant resolution. Do you have any advice of how I can get

[2021-05-02 18:36] TheFoxInSocks commented on #400
@AndrewTriesToCode Sorry for the late reply.

Finally got around to this and it works like a treat.

Thank you for your help.

[2021-05-02 18:36] #400 closed, assigned to nobody

[2021-05-03 04:00] shreya-groot opened #424 "Not able to run Migartion"
using Finbuckle.MultiTenant;
using Microsoft.AspNetCore.Identity;
using Microsoft.AspNetCore.Identity.EntityFrameworkCore;
using Microsoft.EntityFrameworkCore;
using System;
using System.Collections.Generic;
using System.ComponentModel.DataAnnotations;
using System.Text;

namespace Data
{
    // Tenants will only see their own blog posts.
    [MultiTenant]
    public class BlogPost
    {
        [

[2021-05-05 03:58] shreya-groot commented on #424
Please help me with this

[2021-05-08 07:00] cryo75 opened #425 "How to get multitenancy to work in a Blazor server-side app?"
I have a server-side app deployed in IIS under it's own website, for example `myproduct.contoso.com/MyApp` This is all working fine.

Now I want to add multitenancy using BasePathStrategy and HostStrategy. So I set up the `appsettings.json` for multiple tenants. I also added the following to the `Startup.cs`:

[code]

and

[code]

As the `_Host.cshtml` is hit first when accessing the app, I added

[2021-05-11 07:42] cryo75 opened #426 "NullReferenceException: Object reference not set to an instance of an object."
I have the following set up:

[code]

And I'm getting the following exception:

[code]

What might be wrong?

[2021-05-11 07:55] cryo75 commented on #426
I was missing the "Defaults" section. Is it possible to ignore this section?

[2021-05-13 15:55] ingleo44 opened #427 "Can I mock _httpContextAccessor.HttpContext.GetMultiTenantContext<TenantInfo> ()?.TenantInfo."
Is there a way how to mock this method for unit testing?

[2021-05-26 17:55] rdeharo commented on #427
I'm interested in this question.
I think this is the way for debug multitenant applications in Visual Studio when the url is localhost:xxxx.
Or do you know any other way for debug Finbuckle applications in Visual Studio debugger?

[2021-05-26 18:01] rdeharo opened #429 "Which is the best way to debug Finbuckle applications in Visual Studio?"
I have a finbuckle application where I use resolution of tenant by url, so I don't know what is the strategy to debug applications in Visual Studio on local machine when url is always localhost:xxxx.

[2021-05-28 18:22] goforebroke opened #430 "AppIdentityDbContext Scoped Error"
I get an error when trying to add my AppIdentityDbContext service to the container.

[code]

Below is the code in that startup class in my Web project. I am able to add my AppDbContext to the container, which is inheriting from ` EFCoreStoreDbContext<TenantInfo>`, but I cant add my Identity data context.

[code]

Here is my code in my infrastructure project.

[code]
I am using Finbuckle.MultiTenan

[2021-05-28 23:02] goforebroke commented on #430
Looks like I fixed the issue adding the line of code below...

[code]
I had to continue reading the documentation...

[AddMultiTenant](https://www.finbuckle.com/MultiTenant/Docs/ConfigurationAndUsage#addmultitenant)

[2021-05-29 00:37] goforebroke commented on #430
@AndrewTriesToCode ,

After going through the rest of the documentation I was able to setup [Per-Tenant Authentication](https://www.finbuckle.com/MultiTenant/Docs/Authentication), [Per-Tenant Data with EFCore](https://www.finbuckle.com/MultiTenant/Docs/EFCore#top), and[ Per-Tenant Data with Identity](https://www.finbuckle.com/MultiTenant/Docs/Identity) together. Does Finbuckle provide functionalit

[2021-05-31 06:57] Nisden commented on #429
Hi @rdeharo, what resolution strategy are you using?

If your using `.WithHostStrategy()` you can add aliases for localhost in your hosts file.
  1. Open Notepad as administrator
  2. Open the file `C:\Windows\System32\drivers\etc\hosts`
  3. Add a line `127.0.0.1 mydomainalias.tld`

(You can repeat the last step as many times as needed)

[2021-05-31 07:02] Nisden commented on #427
Mocking GetMultiTenantContext is rather painful, as it invokes HttpContext.RequestServices.

If you want to be able to Mock TenantInfo in your controllers you would be better off having `IMultiTenantContextAccessor<TenantInfo>` as an constructor injection.

[2021-05-31 07:04] Nisden commented on #424
What database are you trying to do this against? Looking at your code you don't have any EF Provider specified, as the UseSqlServer is out-commented.

[2021-06-03 10:44] iriapb opened #431 "how to change grant type for per tenant authentication?"
Hi,

I have downloaded your example for this, (per tenant authentication) and I managed to get it working somehow with 2 custom tenants, after some changes to their identity provider (both were test identity provider).

The question is that I need to set up the grant type per tenant to do authentication and I don't see how, I know that if I change it in the identity server, it works, but the idea

[2021-06-04 04:50] AndrewTriesToCode commented on #430
Hello,
many-to-many between users and tenants is doable, but there aren't any examples to follow -- I've found that these use cases are somewhat more advanced and vary significantly in requirements.

If you add an intersection table between AspNetUsers and TenantInfo you can make it work, but then you need a strategy that can determine which of the user's tenants is the "current" tenant. Also in t

[2021-06-04 05:02] AndrewTriesToCode commented on #431
Hi, the grant type is set in the `OpenIdConnectOptions` via the `ResponseType` property:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.openidconnect.openidconnectoptions.responsetype?view=aspnetcore-5.0

If you want to change it per-tenant you can use something like this:
[code]

This assumes your tenant info type has a property for which grant type you would want

[2021-06-04 05:14] AndrewTriesToCode commented on #418
@shreya-groot it sounds like you are not using isolated Identity databases for each tenant and prefer to have a single Identity database where the tenant is associated with each user. In that case take a look at the "Shared Login" sample. It is ASP.NET 2.1 but the basic idea should still work. It will have a user login, check which tenant that user is, then use that tenant for all requests for tha

[2021-06-04 05:17] AndrewTriesToCode commented on #427
@Nisden is right -- just use `IMultiTenantContextAccessor<TenantInfo>` directly rather than the `GetMultiTenantContext` which is just a simple wrapper for it anyway. Let me know if you run into any issues with this.

[2021-06-04 05:19] AndrewTriesToCode commented on #429
Thanks @Nisden, I agree the hosts file is a good option. There are some fancy dns services out there that use tricks to ty to simulate this but I always run into problems with them.

[2021-06-04 05:24] AndrewTriesToCode commented on #421
I keep coming across more and more use cases where a "tenant group" or similar would be useful to have. Did you make any progress on this in your use case?

[2021-06-04 05:26] AndrewTriesToCode commented on #415
hi @szymczakk
Just following up here-- did you create a test repo? Sorry if I missed it

[2021-06-04 05:28] AndrewTriesToCode commented on #426
Not currently possible to ignore, but this should be optional. I'll mark this as an enhancement for a future release

[2021-06-04 05:33] AndrewTriesToCode commented on #425
Hi, Blazor can be tricky but in theory it should still work. I don't think you need to capture the tenant and pass it to component -- instead you should be able to inject the `TenantInfo` via DI or use `IMultiTenantContextAccessor<T>` or `HttpContext.GetMultiTenantContext`.

Normally the tenant related DI has a scoped lifetime but in Blazor I believe it reverts to a Singleton lifetime so after the

[2021-06-04 05:40] AndrewTriesToCode commented on #423
Yes -- the last release contained an event sytem. See PR #359 for details. This will let you hook into when a tenant has been retrieved and if it is not in the cache you can add it there so that future requests will find it in the cache.

In this case you would have 2 stores. You'll want to register the distributed cache store first, then the slow database store after. For a request the stores wil

[2021-06-04 05:43] AndrewTriesToCode commented on #414
A big thank you to our newest sponsor, @hasansan07

Every little bit helps!

[2021-06-04 12:50] hbermani commented on #421
Hi Andrew,

Unfortunately, I haven't, the project priorities changed and I haven't had a chance to progress this yet.

[2021-06-04 13:46] iriapb commented on #431
thanks but it doesn't make much sense to me, as I thought that .UseMultiTenant could only be used in the Configure method and not in the ConfigurationServices

[2021-06-04 14:23] AndrewTriesToCode commented on #431
You are right! I updated that response. I recommend you check out the per-tenant options section of the docs:
https://www.finbuckle.com/MultiTenant/Docs/Options#top

This assumes you are familiar with the ASP.NET Core options pattern. The docs should be able to get you started in addition to what I have above, but let me know if you can’t get it working. I can point you in the per-tenant authentic

[2021-06-06 15:28] goforebroke commented on #430
@AndrewTriesToCode

Thank you for your response, the information will help me as I proceed.  Do you anticipate adding an example of a many to many between users and tenants?

[2021-06-06 15:29] goforebroke opened #432 "Data Seed Error When Adding User to Role"
I ran into a new issue trying to seed development data. I tried to follow this closed [thread](https://github.com/Finbuckle/Finbuckle.MultiTenant/issues/312), but I keep getting an error when I try to add a user to a role.

[code]

I am pretty sure I have my configure services set up correctly.

[code]
Identity Context ..

[code]
Below is the seed class. I am able to create the tenant, users and r

[2021-06-06 20:48] goforebroke commented on #432
I found the issue. Entity was already being tracked. Combined methods AddUserToRole and CreateUser.

[2021-06-06 20:48] #432 closed, assigned to nobody

[2021-06-09 13:43] #427 closed, assigned to nobody

[2021-06-09 13:43] ingleo44 commented on #427
Thanks to all for your help

[2021-06-09 13:44] ingleo44 commented on #423
I followed your advice and it worked

[2021-06-09 13:44] #423 closed, assigned to nobody

[2021-06-10 03:32] #393 closed, assigned to nobody

[2021-06-10 03:32] #396 closed, assigned to nobody

[2021-06-10 03:32] #333 closed, assigned to nobody

[2021-06-10 03:32] #395 closed, assigned to nobody

[2021-06-10 08:29] iriapb commented on #431
This is my startup class:

public class Startup

    {

        public Startup(IConfiguration configuration)

        {

            Configuration = configuration;

        }

        public IConfiguration Configuration { get; }

        public void ConfigureServices(IServiceCollection services)

        {

            services.AddControllersWithViews();

            services.AddMultiTenant<Sample

[2021-06-10 15:46] iriapb commented on #431
kind of sorted, I get pass that, so the problem was that the code was including already options for OpenIdConnect, in

`.AddOpenIdConnect(options =>`

    {

        options.Prompt = "login consent"; // For sample purposes.

                });
    }

so removing the options here allows me to pick ResponseType from the tenant info, problem is that it does not take the default options that come wit

[2021-06-16 01:59] #374 closed, assigned to nobody

[2021-06-17 08:26] mkgn opened #433 "tenant.json and tenant.Development.json"
I am using {environment}.json files to load my different config files as below code

            var config = new ConfigurationBuilder()
                .AddJsonFile("appsettings.json",optional: false, reloadOnChange: true)
                .AddJsonFile($"appsettings.{environment}.json", optional: true, reloadOnChange: true)
                .AddJsonFile("serilog.json", false, true)

[2021-06-23 15:06] AndrewTriesToCode commented on #433
hi @mkgn sorry for the slow response. Yeah it looks like it should work based on what you are doing.

Are you still having this issue? In theory the `ConfigurationStore` doesn't care about json files or anything at all -- anything that can load ASP.NET Core configuration can provide the needed values. Can you post the json of your tenants file?

[2021-06-23 15:11] AndrewTriesToCode commented on #431
@iriapb I apologize for the delayed response

If you place a breakpoint in the `WithPerTenantOptions` code block where you assigning the client id and secret, does the `TenantInfo` object there have the correct values? Based on what you described it sounds like a at the point where the OpenIDConnect redirect is happening there is no known tenant.

[2021-06-23 15:13] AndrewTriesToCode commented on #430
I'd like to add  a sample like that or a blog post about it but it's not the top priority for now. Thank you!

[2021-06-26 20:07] montella1507 opened #434 "JWTBearer with MultiTenantAuthentication doesnt work"
Hi,

i have tried tons of ways how to make JWT bearer with dynamic audience working..

Did all here:
https://www.finbuckle.com/MultiTenant/Docs/Authentication#using-withpertenantauthentication

I have tried all...
Auto mapping from appsettings..

[code]

as well as manual - but it has NEVER BEEN CALLED:
[code]

It works when i set Authority and Audience "statically" via AddJwtBearer().
[code]

but

[2021-06-26 20:14] #434 closed, assigned to nobody

[2021-06-29 19:28] solopromiguel opened #435 "Change data from appsettings.json "Tenants" to a database"
[DataIsolation]
Currently it brings the data of the "Tenants" from the appsettings.json, it is possible to bring them from a different database or have a default database that has the data of the Tenant

[code]

[2021-06-30 07:40] #402 closed, assigned to nobody

[2021-07-01 03:29] AndrewTriesToCode commented on #434
@montella1507
I want to follow-up did you get it working? I'd be happy to take a closer look for you.

[2021-07-01 03:31] AndrewTriesToCode commented on #435
Yes -- check out the `EFCoreStore` multitenant store (in the docs and samples) which can uses any database that EFCore has a provider for. It's also not too difficult to create your own store by implementing `IMultiTenantStore<T>` if you need something more custom.

[2021-07-01 15:53] montella1507 commented on #434
Hello.. yes.. it was... littlebit missleading.. I had wrong implementation of IMultiTenantStrategy (bug there). And because there is propably lazy-initiation of tenants in your beautiful project,

 .WithPerTenantOptions<JwtBearerOptions>((o, tenantInfo) =>{})

 was never called, because my MultiTenantStrategy resolved always "null".

IMultiTenantStrategy -> NULL (as tenant) -> 401

Thats why i tho

[2021-07-02 04:58] AndrewTriesToCode commented on #434
Ah ok, glad you got it sorted out. Good feedback, I should add more logging to help debugging these types of situations.

[2021-07-02 07:38] montella1507 commented on #434
i think it would be nice to add information, that "tenant store" or ".WithPerTenantOptions((o, tenantInfo) =>{})" is called lazily. So it is not called when (for example) MutilTenantStategy resolves null etc.

[2021-07-04 20:57] solopromiguel commented on #435
Thanks for the answer, I have read the documentation more thoroughly and I have managed to implement it.

[2021-07-05 01:50] #435 closed, assigned to nobody

[2021-07-08 07:53] #422 closed, assigned to nobody

[2021-07-08 07:53] #403 closed, assigned to nobody

[2021-07-08 07:53] #420 closed, assigned to nobody

[2021-07-10 05:27] mkgn opened #436 "custom store provider using a Factory to return the custom store"
I am trying to develop a custom store that will read below configuration and provide it to finbuckle (WithStore.....)

  "TenantReader": {
    "TenantConfigFile": "tenants.json",
    "Type": "CA.Core.StoreProvider", //Fully qualified type name of default provider
    "AzureConnectionString": "asdfads",
  },

Based on above there is a tenantstore provider that'll either provide a standard configura

[2021-07-11 03:35] solopromiguel opened #437 "Separate identityDb by tenant"
It is possible to separate the Identity in another database per tenant.
Thank you

`ApplicationDbContext : MultiTenantIdentityDbContext`

[2021-07-13 05:12] AndrewTriesToCode commented on #436
@mkgn that's a tough one and I'm not sure I can give you a good answer. Can you post what you have so far of your custom store?

A few questions:
1. is the `tenants.json` file being loaded into the app's configuration during the host creation (similar to how it loads `appsettings.json` by default)?
2. Is the Azure connection string for an Azure blob also containing a json file or for a database or

[2021-07-13 05:15] AndrewTriesToCode commented on #437
Yes, all you need to do is have each tenant have a connection string to it's own database then in your `DbContext` configuration have it use the connection from the tenant info. Technically you don't even need to use the "MultiTenant" db contexts here since they include functionality intended for shared-database (and hybrid) scenarios.

Take a look at [this part of the docs about separate database

[2021-07-13 11:53] mkgn commented on #436
Hi,

Yes, I mean I have basically got a copy of your existing ConfigurationFileStore and implemented my own because I needed some custom methods. So it works perfectly fine.

But now, there *will* be a  need in future to go on Azure webapp route which will need me to centralize the tenant.json (so if app scales still other instances can reach for the tenant.json file). So for that I am going to cr

[2021-07-13 11:55] mkgn commented on #433
For the moment I changed my focus on to custom store (for which I raised another question to you) :) But i will look at this again in few days. May be we can close this and I will reopen if the case is still there ?

[2021-07-29 04:38] AndrewTriesToCode commented on #416
@dhavalkateliya I apologize this question slipped through the cracks. Did you ever get it to work?

[2021-08-06 17:29] #424 closed, assigned to nobody

[2021-08-09 10:59] dietermijle opened #441 "Handling multi-tenancy when using Rebus for messaging"
Hi,

we are using [Rebus](https://github.com/rebus-org/Rebus) as a service bus for supporting [Messaging](https://microservices.io/patterns/communication-style/messaging.html) in our microservices.
Rebus supports hooking into their pipeline, thus making it possible to include multi-tenancy.
With below code, I'm able to setup the MultiTenantContext when handling an incoming Rebus message.

[code]

[2021-08-10 04:26] AndrewTriesToCode commented on #441
hi @dietermijle
This is an interesting question. I'll have to dig in a little but to better understand but in theory it should work just fine if DI is scoped per "message" in Rebus. Also, the `MultiTenantContext` is stored in an `AsyncLocal<T>` which should prevent different message processing in the same thread from stepping on each others' toes. I'll respond again later after I learn more.

[2021-08-10 12:06] Nivalux commented on #415
I had a similar problem and after some research found the issue.
When using the .WithPerTenantAuthentication() extension method, it breaks the User Validation, triggered by the validation timeout.

I set it like this:
[code]

What this does is reloading the Claims for the user after the interval passed.
When you use the method `.WithPerTenantAuthentication()`, then it expects the User to have the

[2021-08-11 02:43] AndrewTriesToCode commented on #415
@Nivalux thanks for the detailed response. I probably need a more robust method of setting the tenant claim -- probably via an `IUserClaimsFactory` that wraps around any preexisting user claims factory. Thanks!

[2021-08-12 05:07] AndrewTriesToCode commented on #436
Hi, sorry for the late reply. Have you made any progress on this?

I think the use of .NET host `Configuration` might be complicating matters somewhat and you might be better off with a custom store that simply grabs a json file from a url or from Azure storage and checks the json via `Newtonsoft.Json` or `System.Text.Json` for the tenant. The out-of-the-box `Configuration` *is* based on json but

[2021-08-12 05:15] AndrewTriesToCode commented on #416
Just following up here-- I noticed that you are trying to use a multitenant db context for your multitenant store. This is normally not needed and an advanced scenario. Generally the multitenant store is just a regular db context which holds info on all the tenants -- it is not per-tenant itself.

Then separately you have other dbcontext(s) that serve your app's functionality and they can be based

[2021-08-12 05:19] AndrewTriesToCode commented on #368
Just following up here. I think since Blazor has its own routing system separate from ASP.NET Core it's safe to say that router based tenant resolution for Blazor is only supported currently against the initial URL that triggers the start of Blazor which is usually at the root and so not that helpful. I will investigate possible solutions for Blazor routing.

[2021-08-12 05:28] #368 closed, assigned to nobody

[2021-08-12 05:53] AndrewTriesToCode commented on #406
Looking into this I think the best option is to stick to EFCore functionality. See the [default value docs](https://docs.microsoft.com/en-us/ef/core/modeling/generated-properties?tabs=data-annotations#default-values) in the EFCore docs. Thanks for raising the question!

[2021-08-12 05:53] #406 closed, assigned to nobody

[2021-08-12 05:57] AndrewTriesToCode commented on #371
I haven't found a better approach than what @Nisden shows above. App Insights seems to hide a lot of its setup behind the scenes so its hard to say. I'm going to close this out for now. Thanks!

[2021-08-12 05:57] #371 closed, assigned to nobody

[2021-08-12 06:01] dhavalkateliya commented on #416
Thanks @AndrewTriesToCode for clarification.

[2021-08-12 06:01] #416 closed, assigned to nobody

[2021-08-12 10:38] endrihacker opened #442 "Can't access the store at runtime"
Hello @AndrewTriesToCode!

I have been using this library for a while and it is doing fine. I have currently configured EFCore Store and I am resolving tenants from there. However, since I have some increasing connections (because of the fact that tenants are resolved through the database), I thought I can add another store to make it skip for checking the database, since this will even increase t

[2021-08-12 14:09] AndrewTriesToCode commented on #442
Hi, it is definitely possible and I need to update that part of the docs.

What I recommend is that you use the distributed cache store (if can just be the in memory distributed cache of you don’t need Redis or anything fancy) followed by the efcore store. It’s not documented except in a PR but there is an event system for when a tenant is located in the store, you would want to hook into that and

[2021-08-12 15:54] endrihacker commented on #442
Hi Andrew!
You are talking about PR [#359](https://github.com/Finbuckle/Finbuckle.MultiTenant/pull/359). This seems exactly to be what I wanted to achieve. Instead I was trying to add them all in the first application run, which is not that smart. I'll give it a try.

I just wanted Redis because app could be deployed in multiple instances in the near future. However I see you mentioned "memory dis

[2021-08-12 17:06] endrihacker commented on #442
Hi,

im trying to use event `OnTenantResolved`, but can't find out how to get the store (InMemoryStore) to add the tenant that is just resolved.

In startup I have the following code

	services.AddMultiTenant<ExtendedTenantInfo>(config =>
	{
		config.Events = new MultiTenantEvents()
	        {
			OnTenantResolved = async (context) =>
	                {
				ITenantInfo tenant = context.TenantInfo;

[2021-08-13 23:06] #418 closed, assigned to nobody

[2021-08-13 23:07] #425 closed, assigned to nobody

[2021-08-13 23:07] #429 closed, assigned to nobody

[2021-08-19 18:13] neil-thompson-sapphire opened #443 "Simple per-tenant logic class instantiation"
I'm trying this

[code]

but at this point in the pipeline Id == null.

What's the correct way of achieving this (loading a class specific to the tenant into the TenantInfo)? - or am I going about this completely wrong!

Thanks

[2021-08-24 02:41] AndrewTriesToCode commented on #443
hello,

in the tenant info constructor Id will always be null so what youa re trying to do here won't work. The library was designed to work best with the [Options pattern](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/options?view=aspnetcore-5.0) which is not limited to ASP.NET Core but can be used in any .NET application.

The idea is that you write you app logic to tak

[2021-08-24 02:50] AndrewTriesToCode commented on #442
Sorry for the slow reply. The `TenantResolvedContext` passed into the event has a property `Context` which in ASP.NET Core is an instance of `HttpContext` so you can get the store with something like this:

[code]

PS thanks for the email on your use of the library!

[2021-08-24 02:53] AndrewTriesToCode commented on #441
After digging in a little deeper I think this is a safe approach. Your direct use of the tenant resolver really simplifies things. As long as the tenant resolver is created at the right scope and the strategies/stores are injected appropriately you should be good to go. I'd probably try to have a single DI scope per message handled.

Let mek now how it's working out for you.

[2021-08-29 23:51] #431 closed, assigned to nobody

[2021-08-29 23:51] #430 closed, assigned to nobody

[2021-08-30 20:52] ihorbond opened #448 "Resolving tenant based on Origin or Referrer headers"
Hey thanks for this excellent package, it saved me a lot of time!
I tried using it with host strategy but as you note in the docs, it makes local development hard (actually kinda impossible with our vue2 client app cause of the proxy package issue) so we figured what if we used either Origin or Referrer header instead ? Neither can be set programmatically (https://developer.mozilla.org/en-US/docs/

[2021-09-02 04:15] AndrewTriesToCode commented on #448
Hello, I think it could definitely work and no red flags come to mind. You could also use the host strategy and programmatically set the host header on your client request (I know curl [can do this](https://daniel.haxx.se/blog/2018/04/05/curl-another-host/)) for testing purposes.

Probably simpler to use origin or referrer for development environment and host for production.

[2021-09-02 04:17] AndrewTriesToCode commented on #415
Looking into this and working on a solution. I actually have a tenant claim in my Identity user model so I think it was preventing me from seeing the issue. Hope to have a release with this fix out soon.

[2021-09-02 17:15] #426 closed, assigned to nobody

[2021-09-02 17:21] AndrewTriesToCode commented on #376
This is related to #426 and a fix was just merged in #449 so that the defaults section is not required.

[2021-09-02 17:23] #376 closed, assigned to nobody

[2021-09-02 17:45] AndrewTriesToCode commented on #338
Closing out since your PR added these. Thanks!

[2021-09-02 17:45] #338 closed, assigned to nobody

[2021-09-03 13:45] Albert-the-jit opened #450 "MultiTenantOptionsManager is internal"
hi
i was reading the docs for clear the IOptionsCache and see

but when try Cast to `MultiTenantOptionsManager` I couldn't because of `internal ` type of this class [MultiTenantOptionsManager](https://github.com/Finbuckle/Finbuckle.MultiTenant/blob/851195020203683bb81bfcb9a6bb2581d914a2a0/src/Finbuckle.MultiTenant/Options/MultiTenantOptionsManager.cs#L26)
i find [Issue ](https://github.com/Finbuck

[2021-09-03 15:37] Albert-the-jit opened #451 "Options Auto Cache Reset"
hi
i was write middleware for Auto Invalidation  of Options Cache and i see CONTRIBUTING.md

and

i think its might be usefull

so i add this [repo](https://github.com/Azaferany/Finbuckle.MultiTenant.AspNetCore.OptionsCacheReset)
thanks

[2021-09-04 05:55] AndrewTriesToCode commented on #451
hi @Azaferany this looks interesting. Go ahead and submit a pull request if you would like to, or if you prefer I can look at your fork and potentially add them myself. Thanks!

[2021-09-04 05:56] AndrewTriesToCode commented on #450
hi! thanks for reporting this issue. I will change it back to public this weekend and get it into the next release.

[2021-09-04 05:57] #379 closed, assigned to nobody

[2021-09-04 05:57] #415 closed, assigned to nobody

[2021-09-04 08:09] Albert-the-jit commented on #451
thanks
I will send a PR

[2021-09-04 08:09] Albert-the-jit commented on #450
thanks

[2021-09-06 19:04] #450 closed, assigned to nobody

[2021-09-06 22:07] AndrewTriesToCode opened #455 "Finbuckle.MultiTenant 6.3.0 Released"
Hello, version 6.3.0 is now available on NuGet.

First, a big **THANK YOU!!!** to my sponsors @cpcrook, @renhammington, @project-bi, and @hasansan07!

If you want to support this project please check out the sponsor button above. Every little bit helps.

This release is mostly bug fixes to clean things up before .NET 6 is released. Thanks to @lahma, @mphill, and @Nivalux for their help with some o

[2021-09-06 22:08] #390 closed, assigned to nobody

[2021-09-06 22:08] #414 closed, assigned to nobody

[2021-09-08 10:21] remi0411 opened #457 "Question : Read UI razor files depending on tenant"
Hello,

I tried to found but didn't found: It is possible to use a relative path to read razor files (ex Identity/Home/Index.html) per tenant ?

**Example:**
On Tenant1, the engine could try to read file in that order :
/Tenant1/Identity/Account/Index.html
/Identity/Account/Index.html (if previous doesn't exists)

If these files are copied into release folder, we could add tenant and specific UIs

[2021-09-08 17:18] davidcateduclarity opened #458 "WithEFCoreStore not working with PerTenantAuthentication"
I am trying to implement PerTenantAuthenitcation in addition to a EFCoreStore method for resolving tenant.  Here is my services call.

`services.AddMultiTenant<MyTenantInfo>()
                    .WithRouteStrategy()
                    .WithEFCoreStore<MultiTenantStoreDbContext>()
                    .WithPerTenantAuthentication();`

I have tried this multiple times but I can't seem to get it to

[2021-09-08 17:22] AndrewTriesToCode commented on #457
Hello,

There is no specific support for different view files but it is probably possible. Take a look at the [View Discovery](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/overview?view=aspnetcore-5.0#how-controllers-specify-views) by Microsoft. From this you could use the tenant name in path you pass to the `return View("...")` line or get fancy with an `IViewLocationExpander` implement

[2021-09-08 17:27] AndrewTriesToCode commented on #458
Hi, thanks for reporting this. I thought I had the same issue at first but realized it was a mistake on my part. I'm pretty sure that `WithPerTenantAuthentication` isn't part of the issue here, but I could be wrong.

The EFCoreStore sample pretty much does exactly what you are doing -- does that give you the same error? Do you have the `Finbuckle.MultiTenant.EntityFrameworkCore` package referenced

[2021-09-08 17:35] AndrewTriesToCode commented on #458
Took a closer look and I think you need to change `WithEFCoreStore<MultiTenantStoreDbContext>()` to `WithEFCoreStore<MultiTenantStoreDbContext, MyTenantInfo>()`

[2021-09-08 18:00] davidcateduclarity commented on #458
Yep, I was looking at other examples and just saw that  *slaps forehead*

Thank you for your time.

--Dave

[2021-09-08 18:00] #458 closed, assigned to nobody

[2021-09-09 06:54] remi0411 commented on #457
Nice, thank you
OK with these gist : https://github.com/cloudscribe/cloudscribe/blob/master/src/cloudscribe.Core.Web/Design/SiteViewLocationExpander.cs

[2021-09-11 19:11] paburgos opened #459 "String with Accent not supported"
Hi,

When I define an entry in the config file like:

"Name" :  "Panadería"

It will not detect the encoding and the ITenantInfo concrete class will display a different character.

[2021-09-14 03:38] AndrewTriesToCode commented on #459
hi, I am not able to reproduce this. I used the base path sample project and changed the name of the first tenant in the config file to `Panadería` and it displayed correctly. Can you post a sample project that shows the issue?

[2021-09-14 13:27] endrihacker opened #460 "Remove All tenants from InMemoryStore"
Hi!

Is it possible to remove all the tenants at once from InMemoryStore? If yes how could I do it because I just see methods to remove them one by one `inMemStore.TryRemoveAsync("identifier")`.

Thanks!

[2021-09-15 21:31] solopromiguel opened #461 "Multiple spa with multitenant"
I am looking to redirect to an admin spa when tenant is null, otherwise redirect to user spa

[code]

In the code used by routes, I try to do it through the tenantInfo, is it possible to do it or would there be a better way?
Thanks

[2021-09-16 00:53] AndrewTriesToCode commented on #460
hi, I think the best option is to call `GetAllAsync` on the store and loop through it calling `TryRemoveAsync`. Would that work for you?

[2021-09-16 01:18] AndrewTriesToCode commented on #461
hi, I'm not too familiar with Angular but I noticed you have `spa.Options` there. Have you looked into using per-tenant options? You could have  default tenant called `_admin` or similar and register the static tenant strategy last. This will cause the tenant to default to `_admin` if no other tenant was found:
[code]

I'm not sure how the spa options are used but this way the admin one would be s

[2021-09-16 07:53] npongracic commented on #455
Hi Andrew,
Why did you remove .NET Standard 2.1 support? It's not the same as netcoreapp2.1 and it's not going out of style.
I wanted to upgrade to the new version in my .NET Standard 2.1 project but i got the not supported error.

Thank you and kind regards,
Nebojša

[2021-09-16 17:13] solopromiguel commented on #461
Thanks for your answer, I was trying with "WithPerTenantOptions" and SpaOptions, but it has not worked for me, it does not enter the WithPerTenant

[2021-09-17 04:45] AndrewTriesToCode commented on #455
hi @npongracic I mainly did it to be consistent across all packages. I wouldn't be against the main `Finbuckle.MultiTenant` package targeting `netstandard` though would that work for your case? I could do a patch release or at the latest when .NET 6 is out I will have another release.

[2021-09-17 04:46] AndrewTriesToCode commented on #461
Hm, hard for me to be much help with my lack of knowledge on the SPA stuff -- do you have a projet on github I can fork to take a look at the issue closer?

[2021-09-20 10:07] Albert-the-jit commented on #451
hi @AndrewTriesToCode i was send PR for this in https://github.com/Finbuckle/Finbuckle.MultiTenant/pull/453

[2021-09-22 10:35] ToxinSnake opened #463 "Migration fails when using MultiTenantIdentityDbContext"
I am trying to implement per tenant authentication in my app but the Add-Migration command keeps failing. The closest to my issue I was able to find was [this one](https://github.com/Finbuckle/Finbuckle.MultiTenant/issues/424) but I can't make much of it.

[code]

APLUser.cs
[code]

ApplicationDbContext.cs
[code]

SharedDesignTimeFactory.cs
[code]

MultiTenantStoreDbContext.cs
[code]

TenantInform

[2021-09-22 16:03] AndrewTriesToCode commented on #463
Thanks for providing all the details -- I'm taking a look into it. Can you do a quick check and change your db context to derive just from `MulitiTenantDbContext` instead of the Identity variant so I can tell if the issue is in the Identity specific code path?

[2021-09-22 16:13] AndrewTriesToCode commented on #463
Oh, one more question. Which version of .NET are you using and which version of EF Core are you using? I've seen similar issues when trying to use .NET Core 3.1 with EF Core 5 -- those work together just fine but I need to be more careful and perhaps test that scenario better.

[2021-09-22 16:41] AndrewTriesToCode commented on #457
hi sorry I didn't get back to you earlier -- I think that gist looks like it would work well -- did you have success with it?

[2021-09-22 20:15] npongracic commented on #455
Hi Andrew,
Thank you, that would be great, it's no hurry but just thought i should let
you know. I'm using the Finbuckle.MultiTenant.EntityFrameworkCore package
and it has the issue (even though it's EF Core it should work in .NET
standard libs).
It's not really a problem for me, i could change the project to a .NET core
project but it's kind of strange that something that has worked in version
6.

[2021-09-22 23:47] solopromiguel commented on #461
I have uploaded an example project, I hope you can review it please thanks

[finbuckle-multiple-spa-issue-sample](https://github.com/solopromiguel/finbuckle-multiple-spa-issue-sample)

[2021-09-23 07:03] ToxinSnake commented on #463
Thanks for the quick response. I started this project out without identity, since I was not sure how to handle it yet, but pressure to present something showable led me to just use ASP.NETs built in identity "for now".

Before that my DbContext looked like this and migrations worked just fine:

ApplicationDbContext.cs
[code]

And yes, I am using .NET Core 3.1 with Entity Framework 5.0.10.

[2021-09-25 04:31] solopromiguel commented on #463
try to add the configuration for APLUser

[code]

[code]

[2021-09-26 23:25] solopromiguel opened #465 "add Identity to StoreDbContext"
I'm trying to add Identity to StoreDbContext and I get error in IdentityDbContext, can't accept class

[code]

[2021-09-27 12:22] ToxinSnake commented on #463
Hi,

results in the same error sadly.

[2021-09-27 13:01] ToxinSnake opened #466 "MultiTenant messes up routing in helpers like Url.Action"
I just noticed my routes work but creating URLs to endpoints with helper methods mostly does not.
I am using netcore3.1.

I created a new project just with this library to isolate the problem and here is what I have found:

Startup.cs
[code]

HomeController.cs
[code]

As soon as I use `app.UseMultiTenant();` something weired happens. I want to return a relative URL to the same action I am calling

[2021-09-27 14:16] AndrewTriesToCode commented on #463
Hi, I can tell it's definitely from using .NET Core 3.1 and EFCore 5. My code sort of assumed .Net and EFCore would be the same version... dumb especially since 3.1 is the only LTS right now.

The remove index method in EFCore 3 has no return parameter whereas in EFCore 5 it does have a return parameter so the library is getting confused.

I expect to put out a patch release today or tomorrow.

[2021-09-27 14:21] AndrewTriesToCode commented on #466
By default "ambient" values for route parameters aren't used for url generation so it doesn't fill in the tenant part of the url.

If you look in the identity data isolation sample there is a utility class called Ambient Value Link Generator or similar..  I'll look it up and post the exact name. I should just include it by default.

Anyway copy that file into your project and register it as the ex

[2021-09-27 19:57] ToxinSnake commented on #463
Hi, I decided to just go ahead and upgrade to .NET 5. I was only using .NET Core 3.1 because of better AWS support but since .NET 6 is not that far away, I'll presume Amazon will feature similar support for it.

Thank you for your help!

[2021-09-27 19:57] #463 closed, assigned to nobody

[2021-09-28 01:12] AndrewTriesToCode commented on #463
Ok sorry for the trouble! For anyone else following along I'll still fix this.

[2021-09-28 08:53] ToxinSnake commented on #466
Thanks, that worked!

[2021-09-28 08:53] #466 closed, assigned to nobody

[2021-09-28 11:44] Erw1n opened #467 "Show data for certain tenant AND data where TenantId is null"
You have a multitenant entity, and you have data in there  for tenant1, tenant2 and records where tenantId is null.
Lets say you are logged in for tenant1, would it then be possible to show records where tenantId is equal to tenant1 and where tenantId is null?

[2021-09-29 15:10] ericmqt opened #468 "ClaimsStrategy with multiple authentication schemes: Am I doing this right?"
I was struggling to get Finbuckle.MultiTenant to recognize my OpenIddict access tokens, even though the claims strategy was working fine for my B2C tokens. After barking up several wrong trees and examining the source for `ClaimsStrategy`, I realized this was because that strategy only uses the default authentication scheme (in my case, B2C), so it would happily pull my B2C tenant ID claim but nev

[2021-09-29 15:12] AndrewTriesToCode commented on #468
hi, thanks for the detailed question. I will take a closer look and get you some answers today

[2021-09-30 22:08] AndrewTriesToCode commented on #467
Yes, you can use EFCore's [`IgnoreQueryFilters()`](https://docs.microsoft.com/en-us/ef/core/querying/filters#disabling-filters) method and write your own where clause like this:
[code]

Does that make sense?

[2021-09-30 22:11] AndrewTriesToCode commented on #465
hi, in C# you can only inherit from one class and here you are inheriting from both `EFCoreStoreDbContext<T>` and `IdentityDbContext<TUser, TRole, string>` so I think that is why you are getting the error.

Are you sure you want your tenant store to be part of the same model as Identity?

[2021-09-30 22:23] AndrewTriesToCode commented on #451
hi, thanks for the PR I haven't had time to take a look yet

[2021-09-30 22:25] AndrewTriesToCode commented on #455
@npongracic I reverted back to `netstandard2.1` with the 6.3.1 update.

[2021-09-30 22:28] AndrewTriesToCode commented on #463
@ToxinSnake thanks for the donation! that will help pay for server costs for several months!

So I haven't been able to fix this root issue. The problem is both EFCore 5 and 3.1 target `netstandard2.1` and unless I break off another DLL I can't separate out the behvior to support ,NET 5 using EFCore 3.1 and .NET 3.1 using EFCore 5. I am not happy with it, but over time the problem will go away whe

[2021-09-30 23:54] AndrewTriesToCode commented on #461
Thanks for the repo. It seems this approach for SPA has been deprecated but I think you can still get this to work.
I think the best option will be to se `MapWhen` like this:
[code]

Good luck and let me now how it works out.

[2021-10-01 00:25] AndrewTriesToCode commented on #468
This is just because I was short sighted. There is a current PR that among other things lets you tell it what scheme you want it to use. I think you should probably try something like that rather than looping through all the schemes. I will eventually get this added into the library.

1. > The source I referenced for ClaimStrategy does not check the AuthenticationResult

This is by design. The str

[2021-10-01 13:22] ericmqt commented on #468
Awesome, thanks for the detailed reply! That definitely clears up a lot.

Yeah this occurred to me after the fact... whoops. Because I only ever have the two schemes it probably does not matter from a functional perspective, but I can certainly cut out the overhead of enumeration.

Are you referring to this line?

[code]

I had wondered about that, because I couldn't find any other reference to `_

[2021-10-01 18:18] Vetsoftone opened #472 "The requested service 'Finbuckle.MultiTenant.IMultiTenantContextAccessor` has not been registered"
We tried to access the Tenantinfo with

`HttpContext.GetMultiTenantContext<TenantInfo>();`

but unfortunatelly we receive the error thet IMultiTenantContext has not been registered.

The requested service 'Finbuckle.MultiTenant.IMultiTenantContextAccessor`1[[Finbuckle.MultiTenant.TenantInfo, Finbuckle.MultiTenant, Version=6.3.1.0, Culture=neutral, PublicKeyToken=null]]' has not been registered. To

[2021-10-01 18:33] #472 closed, assigned to nobody

[2021-10-01 18:50] AndrewTriesToCode commented on #472
Hi saw you closed the issue-- did you solve the problem?

[2021-10-01 19:05] Vetsoftone commented on #472
It was my mistake. I added tenants with the type of VsoTenantInfo and tried to get the the TenantInfo with the type of TenantInfo.

[2021-10-02 00:07] #437 closed, assigned to nobody

[2021-10-02 00:07] #433 closed, assigned to nobody

[2021-10-04 09:10] npongracic commented on #455
Hi Andrew,
Thank you, it is working great. :)

Kind regards,
Nebojša

On Fri, Oct 1, 2021 at 12:25 AM Andrew White ***@***.***>
wrote:

[2021-10-04 20:20] solopromiguel commented on #465
then it would be advisable to separate it

[2021-10-04 20:47] AndrewTriesToCode commented on #465
I'm going to make it so the EFCoreStore template expects an interface instead of a class because I there are cases where it makes sense to keep it in one data model. I will get that out in the next few days.

[2021-10-05 17:24] solopromiguel commented on #465
Investigating user management is a microservice, The projects take their identity server apart, which is common for all microservices, but it would also be logical to keep them in the same data model. I will be attentive to that update thanks

[2021-10-06 14:38] Hammurabidoug opened #474 "Per-tenant options validation"
In the .Net IOptionsFactory implementation [here](https://github.com/dotnet/runtime/blob/main/src/libraries/Microsoft.Extensions.Options/src/OptionsFactory.cs), you'll see that there is a constructor for injecting `IEnumerable<IValidateOptions<TOptions>>`. These are used in the Create method to validate the options.
[code]
This block of code is missing from the MultiTenantOptionsFactory.Create met

[2021-10-07 01:54] AndrewTriesToCode commented on #474
Thanks, should be a straight forward addition. I'll likely include in the next release.

[2021-10-07 03:02] AndrewTriesToCode opened #476 "Upcoming Changes to Finbuckle.MultiTenant Releases"
Hello! I have a few things to share about `Finbuckle.MultiTenant` going forward.

First, thank you to my handful of sponsors and contributors! Your support makes all the difference, and I truly appreciate it. Sponsorship options are $5/month or pick-your-own-number-one-time-lump.

Since .NET 5 was released in 2020 I have been unhappy with the pace of Finbuckle.MultiTenant progress. Why so slow? Ma

[2021-10-07 03:42] AndrewTriesToCode commented on #468
Hi!

`principle` -> `principal` I am so embarrassed! Fixed it just now.

So a few updates. I just released 6.4.0 which adds the ability to tell `ClaimStrategy` which scheme it should use. Upon review I realized it only bypassed cookie principal validation if used in combination with `WithPerTenantAuthentication` so I fixed it to bypass regardless.

If you are using the new `ClaimStrategy` you shou

[2021-10-07 03:50] AndrewTriesToCode commented on #465
So this is trickier than I initially thought. I still plan to improve it but I recommend that if you want to make this work inherit from `IMultiTenantStore<T>` instead of `EFCoreStoreDbContext<T>` and register it using `WithStore<T>`. Then  just implement the store methods yourself -- basically copy from `EFCoreStoreDbContext<T>`. That way you can have your identity db context also be your tenant

[2021-10-07 15:15] Hammurabidoug commented on #474
Do you know when you plan on a next release?

[2021-10-07 15:25] AndrewTriesToCode commented on #474
Probably this weekend. The only thing here is if unit tests are needed which add some complexity.

[2021-10-08 06:01] 3ilal opened #477 "Cannot Set TenantInfo Manually"
I hope all is good

I am using Finbuckle 6.3.1 For Multitenancy  with .NET 5.0

I am using multiple authentication schemes in my Project (Cookies and JWT).

For Cookies Based Authentication the Tenant is being Resolved Host but for JWT I have to resolved it by claim. I have used claim strategy but it is not resolving the tenant from claim(don't know why maybe because of different authentication sc

[2021-10-11 09:30] Bouke opened #478 "WithPerTenantOptions overload allowing dependency injection?"
In order to use dependency injected services while configuring services, you'd normally inherit from `IConfigureNamedOptions` or `IConfigureOptions` and register a singleton like this:

[code]

Inside `MyConfiguration` I can have dependencies injected:
[code]

With the current `WithPerTenantOptions<CookieAuthenticationOptions>` I cannot achieve the same. The data protector is only instantiate late

[2021-10-11 17:22] AndrewTriesToCode commented on #478
Hi, I think I see what you mean -- you want to access DI from within the lambda inside `WithPerTenantOptions` right?

I will have to add this but I have a workaround that will be available before .NET 6 comes out.

[2021-10-11 17:24] AndrewTriesToCode commented on #478
One thing you could try for now is to implement `ITenantConfigureOptions<TOptions, TTenantInfo>` and inject into the ctor there. Keep in mind it registers as singleton so any DI you do should not be for scoped services.

[2021-10-11 17:31] AndrewTriesToCode commented on #477
Hi, It's because the `ClaimStrategy` used the default authenticate scheme but as of 6.4.0 you can tell it which scheme to use like this:
[code]
where `claimName` is the name of the claim you want to check for the tenant identifier and the next param is the scheme, which should be similar to what I have above to get the default jwt auth scheme name.

Let me know if that works for you. If not I'll l

[2021-10-11 17:34] #474 closed, assigned to nobody

[2021-10-11 17:40] AndrewTriesToCode commented on #474
:tada: This issue has been resolved in version 6.4.1 :tada:

The release is available on [GitHub release](https://github.com/Finbuckle/Finbuckle.MultiTenant/releases/tag/v6.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-12 17:10] ericmqt commented on #468
Thanks for all the help, I've really appreciated it! I'll update my packages accordingly.

I've arranged for us to sponsor the project, so greetings on behalf of Dataccuity! We're tiny but we're happy to chip in :)

[2021-10-12 17:10] #468 closed, assigned to nobody

[2021-10-12 17:39] AndrewTriesToCode commented on #468
Thanks! I'm glad to help and I appreciate the support from Dataccuity!

[2021-10-13 05:47] #477 closed, assigned to nobody

[2021-10-13 05:48] 3ilal commented on #477
Yes it Works.
Thank you

[2021-10-13 08:04] Hazzamanic opened #480 "Disabling/enabling authentication for specific tenants"
I'm just evaluating this library for a project and I wondered if it was possible to disable authentication on a per tenant basis? I know it uses the options pattern and I couldn't immediately see a way to accomplish this. The scenario is basically that we will have some tenants requiring okta integration and some sticking with the standard forms authentication, and some having both. Nightmare. Do

[2021-10-15 15:43] AndrewTriesToCode commented on #480
Hi,  I apologize for the slow response.

I recommend you take a look at the `WithPerTenantAuthentication` sample -- it has two tenants that use OpenId Connect (with different Auth0 "servers") and one that uses cookie authentication. This is done by using `WithPerTenantOptions` on the `AuthenticationOptions` which lets you set the default challenge scheme different for each tenant.

You also have a

[2021-10-20 05:52] rohan-buechner commented on #375
Just a quick bump on this question. I see its been marked as stale, but as luck would have it, im in the same boat right now too. (Wanting to use HotChocolate (with a pooledbcontext) + Finbuckle)

I'll do some r&d into this as well, since its a bit of a core requirement for us, but I'm reaching out in the hopes that there has been some learnings since this question was created @AndrewTriesToCode 🙏

[2021-10-20 05:57] AndrewTriesToCode commented on #375
hi, I unfortunately haven't tested out this use case yet so any help is appreciated. The main issue I see is how much of a db context  configuring is "locked in" during its initialization. If you are using the same connection string for all tenants and just changing the `TenantInfo` this very well could work since the global query filter is dynamic to check the `TenantId` for each query.

If tenan

[2021-10-20 17:17] natelaff commented on #375
Yeah this was where I tapped out of it and ran out of time. My connection strings are different per tenant. I would have loved to investigate more as this seems soooo much nicer than REST, but I am on an already delayed timeline :) Please share findings!

[2021-10-20 18:55] Bouke commented on #478
The interface is not public, so I cannot implement it:
https://github.com/Finbuckle/Finbuckle.MultiTenant/blob/e0c88b0a12af0152f8e404ec5bbf230341a0c0d3/src/Finbuckle.MultiTenant/Options/ITenantConfigureOptions.cs#L6

[2021-10-20 18:57] Bouke commented on #478
OT: Are you interested in a PR adding support for a `Named` variant, similar to `IConfigureNamedOptions<T>`?

[2021-10-20 19:16] AndrewTriesToCode commented on #478
You are right it is not public! I will change it to public for the next release which will be for .Net 6 in November at the latest.

Regarding support for names options- yes this is on my todo list and probably will come shortly after the .NET 6 release. If you want to take a stab at it and submit a PR please do so.

[2021-10-20 21:33] natelaff opened #481 "6.4.1 InvalidOperationException in Authentication"
6.4.0 works fine in my code, but updating to 6.4.1 broke things. Haven't dug into this fully yet but can confirm something is going wrong here in this version.

      An unhandled exception has occurred while executing the request.
      Finbuckle.MultiTenant.MultiTenantException: Exception in Finbuckle.MultiTenant.Strategies.RemoteAuthenticationCallbackStrategy.GetIdentifierAsync.
       ---> Sys

[2021-10-20 21:37] natelaff commented on #481
Hmm. Looks like it's related to the Configuration changes you made in MultiTenantOptionsFactory perhaps?

[2021-10-20 21:42] natelaff commented on #481
Found it. Needed that
options.Authority = "https://__invalid"; // Needed for validation, will be overwritten per-tenant.

[2021-10-20 21:42] #481 closed, assigned to nobody

[2021-10-20 21:51] AndrewTriesToCode commented on #481
Yes this bit me on one of the sample projects. Thanks for submitting the issue regardless.

[2021-10-23 18:46] luisguermark opened #482 "Finbuckle not working with EF Core 6 rc"
Hello....

Just updated my multitenant enabled app (thanks Finbuckle!!) to test the waters, and it does not work. Got this Exception

System.MissingMethodException
  HResult=0x80131513
  Message=Method not found: 'System.Type Microsoft.EntityFrameworkCore.Metadata.ITypeBase.get_ClrType()'.
  Source=Finbuckle.MultiTenant.EntityFrameworkCore

Here's the stack trace, if it is of any help

  StackTrac

[2021-10-23 22:47] AndrewTriesToCode commented on #482
Hi, I don’t have support for .NET 6 yet and I think the library is trying to to use EFCore 5 packages which can cause this conflict. I’ll be putting out a .NET 6 release in the next 2 weeks.

[2021-10-24 13:33] markgould commented on #476
Glad to hear it's fun for you again! I haven't been keeping up on the project lately, and didn't realize you've now added sponsorships. Happy to sponsor this great project!

[2021-10-25 03:51] AndrewTriesToCode commented on #476
Thanks @markgould I really appreciate it!

[2021-10-25 04:14] AndrewTriesToCode commented on #478
I just released 6.4.2 on nuget.org which makes this a public interface. Thanks for your patience.

[2021-10-25 17:12] luisguermark commented on #482
Great @AndrewTriesToCode , thanks a lot.

[2021-10-25 17:12] #482 closed, assigned to nobody

[2021-10-25 17:45] Bouke opened #484 "Return 403/404 if no tenant resolved for multi-tenant route?"
I'm using the RouteStrategy with a parameter named `tenant`:

[code]

I'd like to invoke some delegate to return a custom response if a route is invoked with the `tenant` parameter ("multi-tenant route") and no tenant was resolved. What is the canonical way of implementing this?

I can imagine a custom middleware that checks if the current endpoint has a `tenant` parameter and check if the tenant

[2021-10-27 08:51] auri179 opened #485 "Using Multitenant inside a Hangfire batch"
Hello,

We have an issue using multitenant inside Hangfire batch. We are using multitenant in header strategy and when we are in controllers everything is fine.
But for some reasons we have to bulk edit some entities asynchronously, for that we are using Hangfire jobs.
The entity to update is a multitenant entity and inside hangfire job the HttpContext is not valued because we are not in a HttpReq

[2021-10-28 01:35] AndrewTriesToCode commented on #485
Hi I'm not familiar with Hangfire jobs, but I think I can see what is happening. The DbContext(s) are being spun up with a null `TenantInfo` object. In normal cases it tries to protect from changes like this but I understand your situation it would make sense to allow bulk updates for efficiency. I was about to point you toward [TenantNotSetMode](https://www.finbuckle.com/MultiTenant/Docs/EFCore#t

[2021-10-28 01:44] AndrewTriesToCode commented on #484
Hi, your middleware idea seems like a reasonable approach.

I was going to recommend you use a default or dummy tenant and register the static strategy for that tenant after `WithRouteStrategy`. If it doesn't find  a tenant from the route it will use the static tenant as the default. In your controller simply checking if the tenant is the default tenant will tell you no tenant matched. The only pr

[2021-10-30 06:25] luisguermark opened #486 "Question: Get Connection String while setting up services"
I am setting up health monitoring - and need to set up the connection string to the database depending on the tenant.
So.... how do I get the constr in the ConfigureServices method?

TIA

[2021-11-01 20:11] fossbrandon opened #487 "Improve library with nullable reference types"
Nullable reference types (NRTs) were introduced in C# 8 to help developers understand their usage of `null` values throughout their code to avoid unexpected exceptions on edge cases or explicitly mark values as nullable if they are intended to be. More information can be found in the [official Microsoft docs](https://docs.microsoft.com/en-us/dotnet/csharp/nullable-references).

I feel like securit

[2021-11-02 13:35] endrihacker commented on #460
Hi!

Sorry for late reply... that's what I did but I just wanted to know if there was something simpler.

[2021-11-02 16:59] SkualoSpA commented on #485
I've kind of the same problem.

As I could research about this, TenantInfo is stored over HttpContext but HangFire doesn't use HttpContext... :(.

Any alternative to store TenantInfo in some other place?

For now I solved this doing HangFire make a HTTP request back to my API, but I think this is not optimal ... API -> HangFire -> API

[2021-11-02 23:52] AndrewTriesToCode commented on #487
hi, I agree this would be great. I have to admit I haven't looked into this much myself and it seems like a lot of work but for a good cause. If you want to Take a stab at it I certainly would appreciate it. Maybe one assembly at a time?

[2021-11-02 23:54] AndrewTriesToCode commented on #486
Hi, what type of health monitoring are you setting up? Generally in `ConfigureServices` there is not yet a tenant. Are you using a shared database or separate databases per tenant?

[2021-11-02 23:57] AndrewTriesToCode commented on #485
Hi, `TenantInfo` isn't really stored in `HttpContext`, but rather in a global `IMultiTenantAccessor<T>` instance which uses an `AsyncLocal<MultiTenantContext<T>>` to store the current multitenant context. Do you have access to DI where the code is needed? You might be able to inject `IMultiTenantContextAccessor<T>` and use it to get to the tenant info.

[2021-11-03 19:08] fossbrandon commented on #487
I believe the work would touch a lot of files but consist of relatively simple changes such as adding null checks, declaring a variable as nullable, etc. I like the idea of doing one assembly at a time. I'll give it a go and see what you think.

[2021-11-03 19:54] luisguermark commented on #486
Im going with [AspNetCore.Diagnostics.HealthChecks ](https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks#HealthCheckUI). I have both cases, A couple of tenants sharing a database, and some more tenants with their own DB.

Yep, I found there is no tenat in configureservices, and building the host doesnt give me one either.

Also, TY for the great work with Finbuckle.

[2021-11-08 09:04] dietermijle commented on #441
@AndrewTriesToCode we're moving forward with this now and first tests indicate that the tenancy is handled correctly.
For me its fine to close this one!

[2021-11-08 09:04] #441 closed, assigned to nobody

[2021-11-08 21:27] AndrewTriesToCode commented on #482
Just released with .NET 6 support -- let me know if you still have this issue

[2021-11-09 20:27] #436 closed, assigned to nobody

[2021-11-09 20:27] #442 closed, assigned to nobody

[2021-11-09 20:27] #443 closed, assigned to nobody

[2021-11-10 07:39] Nisden commented on #476
Sounds like a good plan :)

[2021-11-11 19:29] Bouke opened #491 "MultiTenantContext can be null?"
It seems that if no tenant was resolved, `MultiTenantContextAccessor<T>` will return null for `MultiTenantContext`. So should this warrant a nullable reference?

https://github.com/Finbuckle/Finbuckle.MultiTenant/blob/65507bfe47ff05ca99f015dec527d6c9951ff76a/src/Finbuckle.MultiTenant/Abstractions/IMultiTenantContextAccessor.cs#L13

[2021-11-15 04:47] AndrewTriesToCode commented on #491
hi @Bouke
There is currently interest in improving null reference behavior in the library and making use of null reference types from C#8. Issue #487  is the most recent item on the topic. My general view lately is that `MultiTenantContext` itself should probably always be returned, but some of its properties would be nullable, e.g. `TenantInfo`. What do you think?

[2021-11-15 19:13] goforebroke opened #492 "Url.Action"
Not an issue with finbuckle, but rather I am unsure how to use Url.Action to redirect a user to a login page or email confirmation page  within an Area and Tenant after registering/creating a new tenant.

Users can create a new tenant through a tenant registration page.
The page supports creating new user along with a new tenant or an existing user will create a new tenant.

If its a new user and

[2021-11-15 19:28] Bouke commented on #491
That's great! We're in the process of converting our code as well. It takes some time to get all the nullable annotations right, but after they are in place they are a great help in reducing NRE and removing `if null` checks that somebody sprinkled over their code "just in case".

That would make sense, yes.

[2021-11-16 10:17] stonesvillage commented on #468
Hello!

Was this ever fixed? Cannot see the fix in source code.

In ClaimStrategy.GetIdentifierAsync:
`httpContext.Items[$"{Constants.TenantToken}__bypass_validate_principle__"] = "true"; // Value doesn't matter.`

In FinbuckleMultiTenantBuilderExtensions.WithPerTenantAuthenticationConventions
`if(context.HttpContext.Items.Keys.Contains($"{Constants.TenantToken}__bypass_validate_principal__"))`

N

[2021-11-17 00:31] AndrewTriesToCode commented on #468
:tada: This issue has been resolved in version 6.5.1 :tada:

The release is available on [GitHub release](https://github.com/Finbuckle/Finbuckle.MultiTenant/releases/tag/v6.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-17 00:33] AndrewTriesToCode commented on #468
@stonesvillage yep you are right I missed that! I also realize that I don't have any unit tests for ClaimStrategy because its tough to mock HttpContext, but I'll have to add something at least.

Anyway 6.5.1 fixes it and I will have it up to NuGet.org in a few minutes.

[2021-11-17 00:35] AndrewTriesToCode commented on #492
Hi Jorge, I'll get to this later tonight. I don't use Url.Action much but I'll see what I can find out.

[2021-11-17 07:13] stonesvillage commented on #468
Great, thank you!

[2021-11-17 15:51] goforebroke commented on #492
Thx Andew

Jaime

[2021-11-17 16:14] AndrewTriesToCode commented on #492
Jaime! Not Jorge sorry! I’m going to Top Golf this week and thought of your project! Hope all is well.

[2021-11-18 15:59] Bouke commented on #484
This seems to be working fine so far, thank you for the feedback.

[2021-11-18 15:59] #484 closed, assigned to nobody

[2021-11-18 16:46] AndrewTriesToCode commented on #484
Also just an fyi I’m planning to build this capability into the multi tenant middleware directly so stay tuned

[2021-11-19 02:12] fossbrandon commented on #491
@AndrewTriesToCode I'm currently doing the NRT implementation and reached the same question. My initial reaction is to label it as nullable to match its existing functionality. I was also worried that returning a non-nullable `MultiTenantContext` with nullable properties might hide a bigger issue from a user. I think it would be best to fail early by letting them know that something went wrong wit

[2021-11-19 09:32] Bouke commented on #491
In my application code, I'm interested in `TenantInfo` only. So having to go through the `MultiTenantContext` property is mostly noise in my code anyway. So I'm all for having TenantInfo available as a property on the Accessor directly. W.r.t. the nullability I don't really care if it is `Accessor.MultiTenantContext?.TenantInfo.Identifier` or `Accessor.MultiTenantContext.TenantInfo?.Identifier`, w

[2021-11-20 06:41] mkgn opened #494 "Read storeInfo inside Startup() without MultitenantContext.StoreInfo.Store.GetAllAsync()"
Why I need to do this is because of a scenerio in my application where I have a custom localizer that uses database AND stores the localized data cached per tenant.

So in brief, at the beginning it gets all tenants, creates a memory cachce and keep it prepared for further access by others. The order that I have wired up tenancy is as below (not adding the full code but just listing the related na

[2021-11-20 09:20] mkgn commented on #494
I missed IMultiTenantStore..... Just getting it like below did the trick:

    _serviceProvider.GetRequiredService<IMultiTenantStore<AppTenant>>().GetAllAsync().Result.ToList();

[2021-11-20 09:20] #494 closed, assigned to nobody

[2021-11-23 11:38] andrijanabe opened #495 "IMultiTenantContextAccessor returns null when not using UseMiddleware"
We have an issue when trying to use the Finbuckle.Multitenant library when using it in cases when we use Messaging (and no HttpRequests), meaning that we are not utilising the UseMiddleware, therefore the  IMultiTenantContextAccessor is not populated.

Can you please suggest a way how we can use this library in such scenarios?

[2021-11-24 13:03] sasaman91 opened #496 "Old identifier in the URL after the Identifier change in runtime"
I have two Apps (1 multitenant and 1 for managing tenants)

When I change connection string all work great. When I change Identifier from example "tenant1" to "tenant2" I can't login because all redirections are with "tenant1" in the URL.
I must restart the application in order to work. I assume that is somehow pulling tenant identifier from a cookie or something like that.

These are the Tenant O

[2021-11-29 15:11] luisguermark commented on #486
I solved it writing custom Health Check that an httpcontext from DI.

[2021-11-29 15:11] #486 closed, assigned to nobody

[2021-11-30 00:23] AndrewTriesToCode commented on #495
Hi, my apologies for the slow reply. In this I recommend that you essentially mimic what the middleware is doing:

[code]

The key here is that it is getting an instance of `ITenantResolver` and simply calling `ResolveAsync` on it.

You can `new` up a `TenantResolver` yourself without DI but it's a little more trouble to plug in the needed `ctor` parameters:
[code]

If you have only a single strat

[2021-11-30 00:29] AndrewTriesToCode commented on #492
Hello again, sorry for the delay. I wish I had responded sooner because I think this is covered by the custom `AmbientValueLinkGenerator` in the `IdentityDataIsolationSample` project. In the infrastructure folder you'll see a link generator class an in the startup class you can see where I decorate the default ambient value link generator with my own which adds the tenant route param.

I plan to i

[2021-11-30 00:33] AndrewTriesToCode commented on #496
Hi! I have a few questions so that I can help better:

What connection string are you referring to? the request url? I don't see connection string in your code sample.

Assuming you mean changing the url. Are you saying that if you do that it will send you to the previous tenant's login page?

[2021-11-30 00:50] AndrewTriesToCode commented on #491
@fossbrandon

I agree with your thoughts there. I might reconsider for a future major version breaking release but for the initial changeover I prefer to preserve current behavior while being nullable compliant.

[2021-12-01 20:49] jsonarso commented on #366
@white-label-development @AndrewTriesToCode hey guys, just wanted to comment about this because I'm having some similar issues.

I'm also using Clean Architecture for my project so I have a Infrastructure project where I'm configuring multitenancy as follows (omitting secrets).

![image](https://user-images.githubusercontent.com/73246192/144310686-ba475f97-7f09-44af-9283-f29912a84c00.png)

Then I

[2021-12-03 16:57] andriy-vynnychuk-orderin opened #497 "Hierarchical tenants"
Hi Finbuckle team. your library is very useful for us and we use it in our software.

Some time ago we take request to implement master-tenant - tenant which has access to more than one tenant information and can operate with data inside them. Is it possible to implement with your library or we should write our own logic to support this?

[2021-12-03 17:34] AndrewTriesToCode commented on #497
Hi!

Thank you! That is the goal!

As for tenant hierarchy, It's not something I've prioritized at the moment. If you are interested in sponsoring it for open-source or in engaging in a consultant/contracting arrangement to build in-house let me know via the contact form on www.finbuckle.com

 I recommend you proceed with building out what works for you. If you wanted to submit a PR that would be

[2021-12-03 17:38] AndrewTriesToCode commented on #366
Hi @jason8496as

Unlike @white-label-development it looks like your app is using ASP.NET Core. In that case does this section of the docs (and the EFCore docs it links to) on design-time instantiation help? [Docs link](https://www.finbuckle.com/MultiTenant/Docs/v6.5.1/EFCore#design-time-instantiation)

Cheers!

[2021-12-04 02:37] jsonarso commented on #366
@AndrewTriesToCode that's correct. I'm using .NET Core.

I found that Deriving from MultiTenantDbContext is an easiest way. Working just as expected.

[2021-12-04 06:48] AndrewTriesToCode commented on #366
Glad to hear. If you have any more problems just open up a new issue.

[2021-12-04 07:13] andriy-vynnychuk-orderin commented on #497
Thank you, very much. I will back to you with result of our implementation.

[2021-12-04 07:14] #497 closed, assigned to nobody

[2021-12-06 19:53] fossbrandon commented on #487
Hi there, I just started to work on this again and had a few clarifying questions.

1. Should I submit PRs into your main branch or a temporary development branch?
2. Should I enable NRTs in all the sample projects and make fixes as I make changes to the libraries? Or should it be a separate PR after all the libraries are updated?
3. Lastly, I've been able to keep the existing functionality in the

[2021-12-07 05:31] AndrewTriesToCode commented on #487
Hi @fossbrandon and thanks again for tackling this

I think `main` is fine. What is the footprint of the changes? I'd imagine they are spread all over the place right?

I say going forward for .NET 6 samples we use it but not worry about the older ones. Many are due to be ported up to .NET 6 over the next year.

This is where my ignorance on NRTs comes in -- would it make sense that the service be

[2021-12-07 05:34] AndrewTriesToCode commented on #491
@Bouke I agree with you that both as nullable is annoying -- I think for the next major release I'll have `MultiTenantContext` be non-nullable. No set timeframe for that yet though.

[2021-12-07 17:36] fossbrandon commented on #487
I'm happy to help! I think this will improve the library in the long run.

Unfortunately, just about every file is touched, but the changes themselves should be simple to review. And since we want to go one library/corresponding test project at a time, it shouldn't be too bad.

This sounds good to me. I'll still use them to make sure none of these changes break anything, but I won't enable NRTs or

[2021-12-07 21:26] AndrewTriesToCode commented on #487
Thanks and I agree let’s go with the null warning suppression operator approach.

[2021-12-08 10:11] Erw1n commented on #467
Yes thank you. I managed to implement it like this.

[2021-12-11 23:12] AndrewTriesToCode opened #500 "Update to contributing guidelines"
Hello all,
I've updating the contributing guidelines in the project. See the new guidelines below and let me know if you have any concerns.
Thanks!

# Contributing

Contributions are always welcome.

New, updated, and improved samples, docs, and tests are always needed.

For small changes and corrections please go ahead and open a pull request.

For more complex changes or new features please file

[2021-12-14 22:56] paburgos opened #501 "Using Finbuckle BasePathStrategy with a Blazor Server-side app doesn't work"
Hello,

I managed to use Finbuckle using Host Strategy in a Blazor Server App .NET 6. And it works really well!

However, when changing to WithBasePathStrategy I get a "Sorry, there's nothing at this address." the default message when the route is not found.

Can you provide an example in how to implement the Base Path Strategy in Blazor?

[2021-12-15 02:29] AndrewTriesToCode commented on #501
hi @paburgos
I'm glad to hear that the host strategy works, but the basepath strategy is a bummer. I honestly don't have enough experience with Blazor to be of much help. I believe Blazor has its own internal routing that happens and I don't think it runs the entire application pipeline on route changes -- this is something that would be a big benefit to the library so I will plan to look into it.

[2021-12-15 14:34] paburgos commented on #501
@AndrewTriesToCode thanks! looking forward to seeing this new feature in the library.

[2021-12-16 16:56] #451 closed, assigned to nobody

[2021-12-20 19:19] fossbrandon commented on #487
@AndrewTriesToCode Should this be reopened until the NRT work on the other 2 libraries is also merged? Or, should I create separate issues for that work?

[2021-12-21 19:12] AndrewTriesToCode commented on #487
I'll reopen, thanks!

[2021-12-23 22:30] paburgos opened #502 "Dependency Injection Issues when adding Azure SignalR service"
Hi,

When using Blazor Server Side and configuring the Azure SignalR Service looks like services.AddMultiTenant conflicts with it.

To enable Azure SignalR is simple:

install the nuget package. Then addig this to startup.cs:
`services.AddSignalR().AddAzureSignalR();`

In launchSettings.json
adding this variable:
`"ASPNETCORE_HOSTINGSTARTUPASSEMBLIES": "Microsoft.Azure.SignalR`

Then it just matte

[2021-12-23 23:09] AndrewTriesToCode commented on #502
hi @paburgos
I'm not a Blazor expert but I suspect this has to do with how Blazor handles scoped DI. [Here is how the services are registered for Finbuckle.MultiTenant](https://github.com/Finbuckle/Finbuckle.MultiTenant/blob/9ddb7f05e6c067af4bb7a86a898a1c61cde05f5e/src/Finbuckle.MultiTenant/Extensions/ServiceCollectionExtensions.cs#L19-L36).

[Here are the Blazor DI docs](https://docs.microsoft.co

[2021-12-24 00:52] paburgos commented on #502
Hi @AndrewTriesToCode

I just uploaded this repo: https://github.com/paburgos/SignalRFinbuckleIssue

it should work as is, and show you "My Tenant Name" from [Index](https://github.com/paburgos/Issues/blob/main/SignalRFinbuckleIssue/Pages/Index.razor)

To reproduce the error, you can uncomment all sections related to SignalR:
https://github.com/paburgos/Issues/blob/main/SignalRFinbuckleIssue/appse

[2022-01-09 09:34] #459 closed, assigned to nobody

[2022-01-09 09:34] #448 closed, assigned to nobody

[2022-01-13 16:19] bobbyangers opened #504 "[Newtonsoft.Json] only required for 3 lignes of code"
Hi,
In recent projects, we've migrated to use `System.Text.Json` instead of `Newtonsoft.Json`.

Can we remove the need for this extra third party library ?

[2022-01-13 17:44] AndrewTriesToCode commented on #504
You read my mind! Thanks.

[2022-01-13 18:17] bobbyangers commented on #504
@AndrewTriesToCode, how is that ?

[2022-01-16 17:18] goforebroke commented on #465
Andrew,

Are you saying the implementation should look like below?

` public class AppDbContextStore : MultiTenantIdentityDbContext<AppUser, AppRole, int>, IMultiTenantStore<MyTenantInfo>`

[code]

then you would override the OnModelCreating?

[code]

Satisfy all the IMultiTenantStore interface requirements like the code in [EFCoreStore](https://github.com/Finbuckle/Finbuckle.MultiTenant/blob/f02b

[2022-01-18 06:30] AndrewTriesToCode commented on #465
Hi Jaime,
you are on the right track. I think what's happening is your `AppDbContextStore` is getting injected in the middleware as an `IMultiTenantStore<T>` to be used as part of the tenant resolution (to determine the correct `ITenantInfo` for the request) in the middleware. Problem is the injection of `AppDbContextStore` needs a `ITenantInfo` so it's a chicken and egg problem. You can see where

[2022-01-18 13:20] Drakkonite opened #506 "[Clarification/Issue] Using multitenant options in .AddOpenIdConnect() or other authentication methods in .NET"
Hi,

First and foremost, thank you for the work you did on the package, it has brightened many dark secrets of the framework for me, especially in terms of multitenancy.

I'm facing a dilemma or even an issue where you can define the IOptions<> of the Oidc provider, but as you know, it also requires mapping to a specific schema like AddOpenIdConnect(schema, IOptions<>). Where the options are very

[2022-01-18 22:42] goforebroke commented on #465
Andrew,

I made the changes you suggested and this is what I came up with and so far and its working.

In my extension class called from startup

[code]

and I modified my constructor in the AppStoreDbContext class.

[code]

I was able to create an initial migration, create the database with the tenant, identity, and my custom tables. I still need more testing, but so far the initial results are g

[2022-01-23 06:09] AndrewTriesToCode commented on #506
Hi, I'm glad you like the project. Currently `WithPerTenantOptions` applies to all options of a type, regardless of their "name". I plan to add support for named options very soon.

[2022-01-23 06:19] AndrewTriesToCode commented on #504
@bobbyangers perfect. With supply chain attacks theses days have zero external dependencies adds a lot of value to this project. Thanks again!

[2022-01-23 06:24] AndrewTriesToCode commented on #487
@fossbrandon shall I reopen for the final segment? I understand if you aren't able to take the time to do the last part, just let me know.

[2022-01-23 19:16] fossbrandon commented on #487
Yup! Thanks for reopening and sorry for the delay on this last one. I'm mostly done with it but life got pretty busy. I should have a PR within the next week though.

[2022-01-24 17:56] HybridSolutions opened #507 "ITenantInfo asbtraction and Clean Framework"
Hi,

in the Clean Framework architecture entities should remain in the Domain layer. The issue here is MultiTenant uses `ITenantInfo` to define a custom `TenantInfo` entity that will be used by the application. Any chance of having a custom Tenant entity with the same properties as defined by the `ITenantInfo` interface, and eventually new ones, and specify that MultiTenant should use that custom

[2022-01-25 10:11] OrionRiftStudios opened #511 "Blazor Server Host Strategy Error when I use a different tenant"
Hello.
I am using using host strategy and static strategy.
Everything is working good when I use the default tenant

When I  change to other tenant  example
localhost:5001<== default
mytenant.localhost:5001==< second tenant

I am getting an error with the DbContext because suddenly the TenantInfo is null.
After some research  the TenantInfo is not null in the first call but in the second call the

[2022-01-25 18:02] AndrewTriesToCode commented on #507
Hello!
Yes this should be doable. The `Finbuckle.MultiTenant` library itself is designed to be "kernel" compatible in that it has no external dependencies. You can and should implement your own `ITenantInfo` -- the default `TenantInfo` implementation is really just a basic default implementation.

The `Finbuckle.MultiTenant.AspNetCore` and `Finbuckle.MultiTenant.EntityFrameworkCore` functionality

[2022-01-25 18:09] AndrewTriesToCode commented on #511
Hi @OrionRiftStudios  -
Just to help simplify things -- if you remove `WithPerTenantAuthentication` do you still see this behavior?

[2022-01-25 18:12] AndrewTriesToCode commented on #504
This was merged in! Thanks!

[2022-01-25 18:12] #504 closed, assigned to nobody

[2022-01-25 19:22] AndrewTriesToCode commented on #511
I did a quick check with a default Blazor Server app and added host strategy and it worked as expected. I suspect the problem here might be with the `DbContext` can you post that part of your code?

[2022-01-26 00:56] OrionRiftStudios commented on #511
thank you! I am going to paste the dbcontext later today. I really appreciate your help!

[2022-01-26 01:36] OrionRiftStudios commented on #511
Looks like I found the problem. I am trying to use multitenant with autofac
https://autofac.readthedocs.io/en/latest/advanced/multitenant.html
I need to inject different DI depending of the tenant

I tested the app without autofac and it is working fine the hot strategy.
After I implemented autofac multitenant support I am getting that error.
do you know a better way to inject or replace some serv

[2022-01-26 02:17] OrionRiftStudios commented on #511
I think it is better if I open other issue about autofac or DI injection per tenant. because the implementation of the host strategy is working fine.

[2022-01-26 02:23] OrionRiftStudios opened #512 "Dependency Injection per Tenant How to?[Blazor Server]"
Hello I have a requirement where I need to replace/inject some services depending of the tenantId or tenant Identifier

I am trying to use multitenant with autofac
https://autofac.readthedocs.io/en/latest/advanced/multitenant.html

I tested the app without autofac and it is working fine the hot strategy.(I am using host strategy)

After I implemented autofac multitenant support the following error

[2022-01-26 02:29] AndrewTriesToCode commented on #512
hello again!

Let me state upfront that I purposefully didn't design for multitenant DI and instead opted for to focus on multitenant options. But I totally understand you have this as a requirement.

I'm not an expert with autofac, but I know they have a `ITenantIdentificationStrategy` interface. I would think (perhaps naively) that in this interface you could simply inject from the application-w

[2022-01-26 02:32] AndrewTriesToCode commented on #511
Makes sense. I'll close this out.

[2022-01-26 02:32] #511 closed, assigned to nobody

[2022-01-26 04:02] OrionRiftStudios commented on #512
Thank you for your reply I used IMultiTenantContextAccessor<T> with my implementation of ITenantIdentificationStrategy  the problem is the TenantInfo is always null.

I followed the tutorials of autofac the implementation is clear the problem is ITenantIdentificationStrategy  I guess is something related with the middleware  of  Finbuckle   is  using HttpContext.RequestServices I guess this should

[2022-01-26 04:19] OrionRiftStudios commented on #512
I tested the ITenantIdentificationStrategy  registering the strategy as singleton the tenant info is still null using IMultiTenantContextAccessor<T>

[2022-01-26 04:19] AndrewTriesToCode commented on #512
Ah ok I think maybe a less sophisticated approach might be in order. There is an event you can set on `MultiTenantOptions` on `AddMultiTenant<T>` that will be fired when the tenant is detected. From there you can set a static or singleton variable with the current tenant or set something in such a way that the `ITenantIdentificationStrategy` can read it. This only works for anything autofac needs

[2022-01-26 04:25] OrionRiftStudios commented on #512
thank you  so much let me try your suggestions.

[2022-01-26 04:33] AndrewTriesToCode commented on #512
Sure, one more thing in Finbuckle with `IMultiTenantStrategy` you will use `WithStrategy<MyStrategy>` to register it. There is an overload which will let you register it with the lifetime that you need--probably singleton so it doesn't constantly get recreated for each use of DI.

[2022-01-27 02:10] OrionRiftStudios commented on #512
Hello! after of creating my custom strategy using IMultiTenantStrategy  and ITenantIdentificationStrategy  I could fix the issue with the TenantInfo Id.

But the IContainer from Autofac is not injected properly because UseMultitenant Middleware is the default IServiceProvider  I think this implementation should be extended allowing to override the IServiceProvider for each request with this featur

[2022-02-13 20:18] #487 closed, assigned to nobody

[2022-02-13 20:30] AndrewTriesToCode commented on #487
:tada: This issue has been resolved in version 6.6.0 :tada:

The release is available on [GitHub release](https://github.com/Finbuckle/Finbuckle.MultiTenant/releases/tag/v6.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-13 20:34] AndrewTriesToCode commented on #476
Just an update -- this is still in progress, but I'm still cutting public releases in the mean time.

[2022-02-14 04:04] fossbrandon commented on #487
Happy to see it!

[2022-02-14 23:41] domn1995 opened #520 "Deleting a model with a composite key bypassing multitenancy"
When deleting a multitenant entity that's configured to use a composite key in our database migrations scripts and with the EF Core `ModelBuilder` isn't respecting multitenancy.

The database constraint in our migrations script looks like: `ALTER TABLE ONLY public."Examples" ADD CONSTRAINT "PK_Examples" PRIMARY KEY ("Number", "TenantId", "Username");`

Our EF Core classes look like:

[code]

When

[2022-02-15 05:12] AndrewTriesToCode commented on #520
Thanks for reporting this issue. I'll take a closer look tomorrow. Finbuckle doesn't automatically add tenant id to the key but has a helper function to do so for entities that works in some but not all cases due to EF Core constraint priorities.

I'll have a more detailed answer for you soon.

[2022-02-15 05:44] domn1995 commented on #520
Thanks for swift reply.

Are you referring to the Keys and Indexes section of https://www.finbuckle.com/MultiTenant/Docs/v6.6.0/EFCore docs?

I was going to try that as a solution, but if it doesn't work I'll get you some nice repro code :)

[2022-02-15 21:11] domn1995 commented on #520
Still ran into issues with adjusting keys as per the https://www.finbuckle.com/MultiTenant/Docs/v6.6.0/EFCore Keys and Indexes docs. Working on a fork of the repo with some tests added that reproduce the issues we're running into.

[2022-02-15 21:32] domn1995 commented on #520
Here's a fork with some tests that surface some of the issues we're running into: https://github.com/domn1995/Finbuckle.MultiTenant/blob/main/test/Finbuckle.MultiTenant.EntityFrameworkCore.Test/CompositeKeyTests/CompositeKeysShould.cs

I would expect all of these tests to pass but only the `HandleTenantIdInCompositeKeyAndExplicitTenantIdInModel()` test passes.

[2022-02-16 06:41] AndrewTriesToCode commented on #520
Ok, having dug in I can explain some parts but not all. Thank you for isolating the behavior so well.

- first of all only .NET 6 has a passing test. I need to look at the earlier versions closer.
- `HandleNoTenantIdInCompositeKeyAndShadowTenantIdInModel` and `HandleNoTenantIdInCompositeKeyAndExplicitTenantIdInModel` I would expect to fail because EFCore doesn't even know `TenantId` is intended to

[2022-02-16 15:12] fretje opened #521 "doStrategy should return a nullable string"
I think the `Func<object, Task<string>> doStrategy` here:

https://github.com/Finbuckle/Finbuckle.MultiTenant/blob/9ddb7f05e6c067af4bb7a86a898a1c61cde05f5e/src/Finbuckle.MultiTenant/Extensions/FinbuckleMultiTenantBuilderExtensions.cs#L135

should actually be a `Func<object, Task<string?>> doStrategy`, as we're supposed to return null here when this strategy doesn't find anything?

returning null i

[2022-02-16 15:49] AndrewTriesToCode commented on #521
Thanks for reporting. I agree and will put out a patch release later today.

[2022-02-16 16:41] domn1995 commented on #520
Thanks so much for looking into this so quickly!

We're moving forward with explicit `TenantId`s in our models. We didn't do so originally because the docs didn't really steer us that way. Take that feedback as you will. :)

Thanks again for the prompt support.

[2022-02-16 17:33] AndrewTriesToCode commented on #520
Happy to help and thank you for the sponsorship.

[2022-02-17 10:40] TropinAlexey opened #522 "Per Tenant options values are lost from TenantInfo while using EFCoreStore"
Hi, @AndrewTriesToCode .
I have multitenancy configuration with static store and with per tenant options which are situated in each tenant's database "settings" table.
I have a custom reader, which gets all tenants from `appsettings` via service scope and using their connection strings, it reads their options from each tenant "settings" db table as Dictionary<string, string> and  stores them into

[2022-02-17 13:55] TropinAlexey commented on #522
Forgot to mention: also I changed strategy from `Host` to `Header`. Maybe the problem is in fact that header strategy uses `HttpContext` for operations with TenantInfo?

[2022-02-18 00:21] VictorioBerra opened #523 "Feature Request: AddInterceptors for Shared Database"
Add support for https://docs.microsoft.com/en-us/ef/core/logging-events-diagnostics/interceptors

Today, when using Data Isolation with Entity Framework Core - Shared Database, we have two options:

1. Implement IMultiTenantDbContext and used the helper methods as [described here](https://www.finbuckle.com/MultiTenant/Docs/v6.6.0/EFCore#adding-multitenant-functionality-to-an-existing-dbcontext), o

[2022-02-19 01:46] AndrewTriesToCode commented on #523
Thanks for the suggestion. Seems like a good alternative method.

[2022-02-19 02:08] AndrewTriesToCode commented on #522
hi @TropinAlexey

If I understand correctly you basically have tenant info in 2 places: the master DB and in the appsettings.json (just for some per-tenant settings).

I think the issue is that the tenantInfo that is sent to `WithPerTenantOptions` is pulled fresh from the database so it will only have what options you have set for the tenant in the database -- the items you set earlier were sepera

[2022-02-19 02:09] AndrewTriesToCode commented on #521
Just released 6.6.1 to address this, thanks!

[2022-02-19 02:09] #521 closed, assigned to nobody

[2022-02-19 02:47] VictorioBerra commented on #523
Well the cool thing about it is you can register multiple, and you don't have to inherit anything or override save changes.

For example when using something like this https://github.com/thepirat000/Audit.NET/tree/master/src/Audit.EntityFramework#3-with-the-provided-save-changes-interceptor

Then I'd just have to register a couple interceptors and be done.

[2022-02-20 09:02] TropinAlexey commented on #522
Hi, Andrew. Thank you for your answer.

"If I understand correctly you basically have tenant info in 2 places: the master DB and in the appsettings.json (just for some per-tenant settings)."
No, per-tenant settings are stored in each tenant database individually and I'm reading them via separate dbContext as you can see in code example above.

The 3rd option, that you proposed, is the one that I'm