[2022-02-20 09:16] TropinAlexey commented on #522
I just figured out, that I can store per-tenant info in custom http headers, but is there a simpler way? This middleware will add overhead to read storage on every request and I must cache it, which is not really proper way to use your library

Also, today I'll try the 2nd option that you proposed, thank you for clarification

[2022-02-20 21:30] AndrewTriesToCode commented on #522
Hi @TropinAlexey if you can post me a link to a repo where I can try it out I can take some time to look closer.

Ok, I think get what you are attempting. I think I can simplify things a bit -- when you run the `UseMultiTenant` middleware it correctly sets the initial `TenantInfoExtended` right? Except that is missing the `TenantOptions` property which in this middleware you are trying to populate

[2022-02-21 07:59] TropinAlexey commented on #522
Works like a charm, thank you very much for your comments in my code. Seems so obvius...

[2022-02-21 07:59] #522 closed, assigned to nobody

[2022-02-21 19:25] VictorioBerra opened #526 "Enable discussions for this repo?"
I have some general questions and I was wondering if we could enable the GitHub discussions feature so I could ask them and get help from the community?

[2022-02-21 19:50] AndrewTriesToCode commented on #526
Hi, Sure I will enable that a little later today.

[2022-02-22 01:06] paburgos opened #527 "How to add defaults when using WithHttpRemoteStore"
Hi,

I am wondering if there is a way to programmatically add defaults when using WithHttpRemoteStore? Or should I add the defaults in each config at the Http remote store?

Thanks!

[2022-02-22 03:42] AndrewTriesToCode commented on #526
Ok, discussion are in place. Thanks!

[2022-02-22 03:42] #526 closed, assigned to nobody

[2022-02-22 03:43] AndrewTriesToCode commented on #527
Hi @paburgos
Can you give me a concrete example of what you'd like to do here? What kind of defaults are wanting to add?

[2022-02-22 03:56] VictorioBerra commented on #526
@AndrewTriesToCode thanks! I don't seem to see a way to create a post. Is there a misconfigured permission?

[2022-02-23 01:00] VictorioBerra opened #529 "No access to create discussion."
When I go to discussions, there is no button to add one.

[2022-02-23 01:06] VictorioBerra opened #530 "Problem with link generation"
Steps to reproduce:

- Clone Finbuckle.MultiTenant
- Edit IdentityDataIsolationSample/Shared/_Layout
- Add a navbar link: `<a asp-page="/HelloWorld" class="nav-item nav-link">Sample</a>`
- Add an empty razor page: IdentityDataIsolationSample/Pages/Index.cshtml

Outside of a tenant, things work fine:

![image](https://user-images.githubusercontent.com/2934507/155245759-1b49f654-f398-4a61-8fa7-04281

[2022-02-23 01:19] AndrewTriesToCode commented on #529
@VictorioBerra sorry about that. Does the discussion page look similar to my screenshot below? No green "New Discussion" button on the right?

![Screen Shot 2022-02-22 at 6 17 57 PM](https://user-images.githubusercontent.com/4422897/155246918-5d8b08f4-2d47-4bd6-bf3f-0235ff282298.png)

[2022-02-23 01:48] AndrewTriesToCode commented on #530
hi @VictorioBerra

This is because of the ambient value link generator that example uses to "automatically" preserve the current tenant for link generation and is needed for the links in Identity to work. If you look at the startup closely you'll see where I modified the route template the Identity pages use so that `__tenant__` is included in the route. You can use the same for your pages like th

[2022-02-23 02:42] VictorioBerra commented on #529
That is correct. Mobile view:

![Screenshot_20220222-204210](https://user-images.githubusercontent.com/2934507/155253441-0a0107b6-87e5-4080-9b9e-d787b5864257.jpg)

[2022-02-23 02:57] VictorioBerra commented on #530
@AndrewTriesToCode Thank you, this helps. I had the above code in place, but for specific folders. I did not have "/", I had things like "/Dashboard". So maybe that was my issue.

I do in-fact have a situation where I have a /Privacy, and a /Terms page, which require no tenant, and unauthorized users can get there and read those documents.

I would like to see the BasePath strategy and .NET 6, to

[2022-02-23 03:03] AndrewTriesToCode commented on #529
ok I found a very obscured setting in the Organization settings -- can you start a new discussion now?

[2022-02-23 03:21] VictorioBerra commented on #529
Works now! What was the settings?

![Screenshot_20220222-212040](https://user-images.githubusercontent.com/2934507/155256657-f47f7ebe-999e-4922-824c-dbfc46d96825.jpg)

[2022-02-23 03:28] AndrewTriesToCode commented on #529
Under the Org settings / Member Priviliges section:
![image](https://user-images.githubusercontent.com/4422897/155257166-1825b995-b3b0-4743-919c-bffa012d15f2.png)

[2022-02-23 04:11] #529 closed, assigned to nobody

[2022-02-23 13:45] mkgn opened #533 "Best way to handle an edge case where tenant store has duplicate Id, Identifier or ConnectionString"
This is an edge case which shouldn't happen for the most part. However what happened in my case is that one developer changed the tenants.json file (I am using config file store) for a quick check on a completely different thing, but he copied existing tenant entry, pasted it and changed only the connection string and now there is duplicate id, identifier in the config file.

I think this can be a

[2022-02-24 00:13] AndrewTriesToCode commented on #533
Hm, that is a tough one. So is the problem more about cleaning up this one conflict or preventing more in the future? This is one good reason to use a database store since it would prevent the conflict in the first place, but that might not be an option for you.

Do you need the config to be dynamic? If you don't use `IOptionsMonitor` you just wouldn't have to worry about it except on app start wh

[2022-02-24 00:15] AndrewTriesToCode commented on #520
Alright I removed the generator and filed a bug with the efcore team. They said only on "adding" a tracked entity will it pick up a shadow key property. I voted on an issue to expand that to any method which attaches an entity.

The best option here is to do exactly what you did -- or to use the `TenantNotSetMode` which as of the latest release should work as intended with the generator removed.

[2022-02-24 00:15] #520 closed, assigned to nobody

[2022-02-24 00:15] AndrewTriesToCode commented on #530
Ok I'll prioritize updating the Identity data isolation sample to .NET 6 using base path.

[2022-02-24 00:29] VictorioBerra commented on #530
@AndrewTriesToCode Do you have any public facing (no tenant) pages? If so, how does that work?

[2022-02-24 00:48] VictorioBerra commented on #530
@AndrewTriesToCode Also, with the base path example, could you include RazorPages, and show examples of routing to pages, folders, with both tenant and no tenant, and when inside of a tenant, routing to a non-tenant page (ie /about).

I think that might expose any edge cases with the routing. Its not uncommon for more and more people to be using Razor Pages, and it seems like `AddFolderRouteModelC

[2022-02-24 03:56] mkgn commented on #533
Yes, having it in Db would solve the problem, but in my case the config file is more suitable for few reasons. Since the library is solid I think any store should have this edge case handled for completeness. Anyway what I did is kind of a hack outside of the custom tenantstore I created.

I have a TenantDisabled middleware that checks whether a resolved tenant is active or not. So currently I che

[2022-02-24 03:56] #533 closed, assigned to nobody

[2022-02-24 03:59] AndrewTriesToCode commented on #533
Yes I agree. also what you wrote reminded me there is an `IgnoredIdentifiers` settings on the options for `AddMultiTenant` that might work for you. Doesn't work on id, but for identifier will shortcut the rejection for you.

[2022-02-24 04:21] VictorioBerra commented on #530
Sorry to blow this issue up, but ive been playing with this for a while now. the BasePathStrategySample.csproj does not work as-is with Razor Pages.

- Open the sample, add: `services.AddRazorPages();` and `endpoints.MapRazorPages();`.
- Add `/Pages/HelloWorld/Index.cshtml`
- Launch and try and visit https://localhost:5001/initech/HelloWorld/Index, you will get a 404

Razor pages seems to be takin

[2022-02-24 04:32] AndrewTriesToCode commented on #530
On 'WithBasePath' there is an option to adjust the asp.net core internal base path--give that a try if you aren't currently.

[2022-02-24 04:59] VictorioBerra commented on #530
@AndrewTriesToCode Same problem when using `options.RebaseAspNetCorePathBase = true`, but im getting closer:

The following as we discussed earlier, fixes the 404, I thought maybe I didn't need it with `RebaseAspNetCorePathBase`.

[code]

One last problem remains, when inside a tenant and folder (IE `initech/HelloWorld/Index`), static resources try to load from then tenant:

- Add a wwwroot folder

[2022-02-24 05:00] VictorioBerra commented on #530
So, if we turn RebaseAspNetCorePathBase on, we get less link generation problems, but we introduce problems with ~/ as they preserve the base path.

[2022-02-24 05:03] AndrewTriesToCode commented on #530
I'll get the sample uploaded tomorrow. With BasePathStrategy no need to adjust the RazorPages conventions and also you should not have '__tenant__' as part of your routes anywhere.

For static assets move UseStaticFiles to the other side of UseMultiTenant... I can't recall at the moment if it should be before or after.

[2022-02-24 05:04] AndrewTriesToCode commented on #530
And thanks for your feedback by the way it is helpful.

[2022-02-24 05:20] VictorioBerra commented on #530
Moving `UseMultiTenant` to before UseStatic and before UseRouting seems to have fixed most issues.

I assume we will update https://www.finbuckle.com/MultiTenant/Docs/v6.6.1/ConfigurationAndUsage to clarify that?

[2022-02-24 05:41] VictorioBerra commented on #530
@AndrewTriesToCode Another thing lol and let me know if this should be its own issue:

 the AddOpenIdConnect handler is including the pathbase in the redirect: https://localhost:5000/acme/signin-oidc

And, because of the PathBase, all the cookies are being set on /acme path now.

[2022-02-25 04:46] AndrewTriesToCode commented on #530
Thanks again for the feedback. I will update the documentation and I think the oidc issue is one that warrants prioritizing so I will thing about how to tackle that. I think I can adjust the callback URL i the openid connect events. Still working on the updated sample.

[2022-02-26 01:41] AndrewTriesToCode commented on #530
I got a basic BasePathStrategy sample added but I think you are probably beyond anything it shows. Next up will be an Identity one. Also I clarified some of the behavior you noted in the Docs for this strategy. With respect to static files if you make the urls for them absolute or rooted urls they will still work without having to reorder the middleware. Maybe not ideal but another knob to tweak t

[2022-02-26 17:17] VictorioBerra commented on #530
Thanks for the follow up, I'll review these shortly and see what I can find. I think right now I only have one or two edge cases.

[2022-02-26 21:16] VictorioBerra commented on #530
@AndrewTriesToCode I pulled down the net6 sample. So one of the edge cases here is if you pick a tenant, hover over the Privacy link, you will see it routes to tenant/Privacy, this still works though and loads the page. I wish there was some override to tell all `Page()` and `RedirectToPage()` and `asp-page` things to ignore the base path, just as an option.

As for `~/` VS `.UseStaticFiles()` I a

[2022-02-27 05:42] jmsolutionsgroup opened #537 "Shared Tenant"
What is the best way to handle the situation when a user belongs to multiple tenants.   I am using Entity Framework Core in a Shared Database.  If I have 5 tenants (A,B,C,D,E) and I have users that should only have access to the information in tenant A,B, and C, how should I handle this?   Also If I want to query an EF Context for all information  in a table for the tenants A,B, and C, but not D a

[2022-02-27 05:55] AndrewTriesToCode commented on #537
Hello!

Depends on the complexity but the most flexible is to model an actual many-to-many relationship between user and tenant. In this case the Identity database is usually not "per-tenant" isolated itself.

One option is to allow to user to switch between active tenant which will allow access to the information for one tenant at a time. How this will work is specific to your situation--what typ

[2022-02-27 20:51] jmsolutionsgroup commented on #537
@AndrewTriesToCode, Thank you for the response.  I think my plan is to utilize a claim strategy because I add a multiple tenant claims during the login process I can add a tenant claim for A,B, and C for a user.

Is there an example of combining with the global filter?

I believe our users would be able to see mixed tenant information at the same time.  We have some dashboards for those who overse

[2022-02-28 01:03] VictorioBerra commented on #537
@uchetfield its in the [docs here](https://www.finbuckle.com/MultiTenant/Docs/v6.6.1/EFCore), ctrl+f for "Existing Query Filters"

[2022-02-28 16:42] VictorioBerra opened #539 "Unable to run migrations for ASP.NET Core 3\EFCoreStoreSample"
I would like to call `.AddDbContext()` myself in Startup.cs/Program, I want to configure all my contexts in one place, and its easier to get connection strings, add interceptors, change migration assemblies, etc.

- Clone https://github.com/Finbuckle
- Open `ASP.NET Core 3\EFCoreStoreSample` project
- Comment out all of `OnConfiguring()` in `MultiTenantStoreDbContext` (lines 17 - 21)
- Add to Conf

[2022-02-28 16:54] VictorioBerra commented on #539
Closing this, the error was from InMemory not supporting migrations, but thats not what I was fighting with in my project and I copy and pasted it in here too quickly.

Sqlite and Sqlserver both worked in the sample.

Going to see if I can figure out the issue in my project, and will re-open or create a new issue if needed.

[2022-02-28 16:54] #539 closed, assigned to nobody

[2022-02-28 17:09] VictorioBerra commented on #539
If anyone finds this via search/Google, make sure you call AddDbContext BEFORE you register the multitenant stuff :)

[2022-02-28 17:16] VictorioBerra commented on #406
@AndrewTriesToCode

Could this be achieved by using multi-stores, IE: WithConfigurationStore  + WithEFCoreStore?

[2022-03-01 04:13] AndrewTriesToCode commented on #537
ClaimStrategy sounds good, but be advised that `WithPerTenantAuthentication` will have problems with it -- I need to improve this use case.

`WithPerTenantAuthentication` looks at the single tenant when the user logged in and will prevent future authentication for any other tenant even if they have multiple.

I'd be curious to see what you end up with -- let me know!

With the cobined global query

[2022-03-01 04:18] AndrewTriesToCode commented on #530
First of all thanks for the donation -- it really helps!

Yeah I've thought about this a little bit too and there are always trade offs like you mentioned before. One thing to try is to mess with the &lt;a&gt; tag helper to try to make it tenant aware and tell if if you want a tenant link or not. Or just stick to the route strategy.

I'll admit that I mostly use the host strategy which sidesteps t

[2022-03-01 04:20] AndrewTriesToCode commented on #406
I don't think so because it'll use the entire value from the first match it finds in a store.

This is a tricky one and I don't have a standard answer.

[2022-03-01 04:48] VictorioBerra commented on #530
I know how hard it is to maintain a popular open source project. Sounds great, I think we have explored this enough to go ahead and close it.

[2022-03-01 04:48] #530 closed, assigned to nobody

[2022-03-02 00:33] iang0ld opened #540 "Question: Is it possible to have a strategy that uses posted name and password only"
We would like this logic as a strategy.  If name and password provided and nothing else then set a default tenantid from a database, otherwise use claims, otherwise use the url, etc...  I think this may be possible using a custom strategy but I can't find any complete examples?

[2022-03-02 01:31] #540 closed, assigned to nobody

[2022-03-02 01:50] iang0ld opened #541 "custom Strategy Example"
Does anyone have a full example a custom strategy implementation?
Also is there a way of preventing a controller from using finbuckle?

[2022-03-02 01:51] iang0ld opened #542 "Custom Strategy Example"
We need to implement a custom strategy but can 't find a full example.  Can anyone provide one?

[2022-03-02 01:52] #542 closed, assigned to nobody

[2022-03-02 04:00] VictorioBerra commented on #541
@iang0ld You may want to use DelegateStrategy, this lets you provide a custom function that can do literally whatever you want. Docs here: https://www.finbuckle.com/MultiTenant/Docs/v6.6.1/Strategies

If you want a true custom strategy, you should implement `IMultiTenantStrategy` and make one yourself.

Check out the source for [Static](https://github.com/Finbuckle/Finbuckle.MultiTenant/blob/main/

[2022-03-02 04:14] iang0ld commented on #541
Looks like delegate is exactly what I am looking for.  If you return null or empty string does that mean the next strategy in used.
For example will this use the deligate strategy and then the ClaimStategy?

services.AddMultiTenant<TenantInfo>()
        .WithDelegateStrategy(...)
        .WithClaimStrategy();

[2022-03-02 05:12] AndrewTriesToCode commented on #541
Yes!

@VictorioBerra thanks for helping out with responses

[2022-03-02 05:13] iang0ld commented on #541
Perfect. Thanks.

[2022-03-02 05:13] #541 closed, assigned to nobody

[2022-03-02 06:55] AndrewTriesToCode commented on #540
I know you closed this and are looking at a custom strategy, but I just wanted to say this is possible. I recommend using the claim strategy along with `WithPerTenantAuthentication`. In this case your user database won't itself be multitenant because you won't know the correct tenant until they have signed in.

Let me know if you have any questions here. I'll try to get sample project to show this

[2022-03-03 05:35] iang0ld commented on #540
I’m not sure we need that level of complexity.

Another question though…

It appears that calling the following is checks against the tenantId.  Is that correct?

_userManager.FindByEmailAsync(request.Email.Trim().Normalize());

From: Andrew White ***@***.***>
Sent: Wednesday, 2 March 2022 5:56 PM
To: Finbuckle/Finbuckle.MultiTenant ***@***.***>
Cc: Ian Gold ***@***.***>; State change ***@***.***>

[2022-03-03 15:21] VictorioBerra commented on #540
- You can use SQL Server Profiler and see the queries (start a new profile, and use the duration template)
- You can enable [EF Core simple logging](https://docs.microsoft.com/en-us/ef/core/logging-events-diagnostics/#simple-logging) (this is for 5+) see below!
- You can use miniprofiler (super awesome package BTW) https://miniprofiler.com/dotnet/AspDotNetCore

## EF Core Simple Logging
[code]

I

[2022-03-04 05:08] iang0ld commented on #540
I want a root admin to be able to log into a tenant for maintenance and support purposes.

Do I need to create an admin user for every tenant or is there a way of changing the TenantId, or of ignoring the TenantId when trying to get the user using through say FindByEmailAsync(email). Or is this line of thinking anti multitenant and wrong?

I think this comes under the subject of impersonation.

Fr

[2022-03-04 06:30] iang0ld commented on #540
I should mention I can to call an endpoint to effect the tenant impersonation. I’m thinking something like ReplaceToken which is similar to refeshtoken but carries the TenantId we want to impersonate. We have tried a few things but they don’t seem to work because the email is always compared to the tenant id of the admi with is always root.

From: Andrew White ***@***.***>
Sent: Wednesday, 2 March

[2022-03-04 23:48] iang0ld commented on #540
Thanks for this.  It is a great help, not just for this question but moving forward.

I am desperately trying to implement  impersonation. I want to add an endpoint which checks the user. But I can’t because I can’t integrate with our jwt token code because I can get the user from the userManager.

Is there a way to   run user = _userManager.FindByEmailAsync() or _userManager.FindByIdAsync without

[2022-03-05 01:16] iang0ld commented on #540
Don’t’ worry guys. I worked this out. I just now the tenantId in the user table for the root admin in the strategies.

From: Andrew White ***@***.***>
Sent: Wednesday, 2 March 2022 5:56 PM
To: Finbuckle/Finbuckle.MultiTenant ***@***.***>
Cc: Ian Gold ***@***.***>; State change ***@***.***>
Subject: Re: [Finbuckle/Finbuckle.MultiTenant] Question: Is it possible to have a strategy that uses posted n

[2022-03-05 03:32] AndrewTriesToCode commented on #540
Glad to hear you got it figured out!

[2022-03-06 06:32] AndrewTriesToCode commented on #478
Named options added to the latest release. Cheers.

[2022-03-06 06:32] #478 closed, assigned to nobody

[2022-03-09 15:04] phil118 opened #543 "HttpRemoteStoreSample not passing back tenant data"
Hi, Im just spiking something out and wasn't having much luck with HttpRemoteStore in my code so decided to pull the samples down, and i'm getting the same issue in the samples.

It will find the tenant from remote store no problem but between a successful TryGetByIdentifierAsync log and printing out tenant info in view the HttpContext.GetMultiTenantContext<TenantInfo> model contains no data?

To

[2022-03-09 15:27] AndrewTriesToCode commented on #543
hi, I'll take a look at the sample today to see what's wrong with it -- I will probably bring it up to .NET 6 as well.

[2022-03-09 19:08] amfuller81 commented on #543
I was moments away from bringing up this same exact issue. I tried getting this working for a project and after much frustration pulled down the samples to see what I may be missing and experienced the same issue.

[2022-03-09 19:09] AndrewTriesToCode commented on #543
I suspect it may have to do with the move away from Newtonsoft.JSON to System.Text.JSON

[2022-03-10 04:07] AndrewTriesToCode commented on #543
Yeah it was the store not deserializing the json from the server with the same serializer settings. I just updated it and the samples (still not net6.0 though) and should be working now. Thanks for reporting this!

I've made a note to try to capture this in automated testing in the future.

[2022-03-10 04:10] #543 closed, assigned to nobody

[2022-03-10 04:12] AndrewTriesToCode commented on #527
fyi there was a bug with the json deserializer settings that is fixed in the 6.7.1 release

[2022-03-10 04:12] AndrewTriesToCode commented on #543
:tada: This issue has been resolved in version 6.7.1 :tada:

The release is available on [GitHub release](https://github.com/Finbuckle/Finbuckle.MultiTenant/releases/tag/v6.7.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-11 16:00] ThatDeveloper opened #545 "Database Performance EFCore issues / ideas / questions"
Hey there,

I have some  ideas / questions regarding DB performance in efcore.

1.  `Finbuckle.MultiTenant.Internal.Constants.TenantIdMaxLength`
     Could this be not internal so I could set the max length myself? Especially in big databases this has a huge impact. I would like to set this e.x. to 32 instead of 64.

2. Index on `TenantId`
    Could there be an index on `TenantId`? The docs only s

[2022-03-12 19:33] AndrewTriesToCode commented on #545
Hi!

1. Hi, for this this can simply override it with a call to `HasMaxLength` after `IsMultiTenant` on the "TenantId' property, which should result in the database migration reflecting the override.
2. I recommend including adding it to whatever other indexes you have. There is a method chained off `IsMultiTenant()` which will try to do this for you/ See [this part of the docs](https://www.finbuc

[2022-03-13 15:25] ThatDeveloper commented on #545
Thank you @AndrewTriesToCode!
Further Question: So every table will have the TenantId field, and it will always filter for this. What are the Pros and Cons if I would create a seperate Table to bind a int PK to TenantId and then use that in the tables? In regards to Storage and Performance? Do you have some information on this?

[2022-03-20 15:02] sigurdhj opened #546 "SignOutAsync signs out all tenants"
Hi.

I've setup two tenants using WithHostStrategy and WithPerTenantAuthentication. Both tenants are using Cookies as their authentication scheme and both tenants have the same cookie name.

I've noticed that when I sign out of tenant A, I also sign out of tenant B. However I can see that tenant B's cookie is still there, when I restart my application tenant B is logged in straight away.

How can

[2022-03-20 17:38] VictorioBerra commented on #546
Both tenants have the same cookie name? If so, SignOutAsync would absolutely sign out both.

Are you using Auth0 by chance?

[2022-03-20 18:07] sigurdhj commented on #546
I'm not using Auth0. I've basically just altered the PerTenantAuth sample to use HostStrategy and changed to a custom store.

If I'm supposed to be signed out of tenantA when calling SignOutAsync from tenantB, shouldn't I then be signed out of tenantA even after I restart the application? After the restart I'm still signed out of tenantB, which is what I'm expecting. It's the fact that I'm still s

[2022-03-20 18:22] AndrewTriesToCode commented on #546
Hello, this stuff always gets tricky. If you are using the host strategy then sign out would only be for a single tenant--even 'SignOutAll' because the site can only affect cookies it can see and by default the cookie domain is set to the current domain only. You could change this to override the cookie domain to be the main domain for the app which would share a cookie for all subdomains and you'

[2022-03-20 18:30] sigurdhj commented on #546
Thanks for the reply.

Sign out being single tenant is what I want, so that's great. The issue is that I'm being "signed out" of the other tenant aswell. In quotes since I'm still signed in after a restart.

[2022-03-20 18:34] AndrewTriesToCode commented on #546
What is the flow after sign out in tenant a? Are they redirected anywhere? If you then go to tenant b's subdomain and they aren't logged in can you tell me if the cookie is still being sent?

And finally, can you try without 'WithPerTenantAuthentication' since with host strategy it doesn't really offer as much value?

[2022-03-20 19:30] sigurdhj commented on #546
Well this is embarrassing...

I've spent several hours today trying to figure this out, only now to realize that I should have read the URL more carefully. When signing out from a tenant the client gets sent back to the login page (tenantA.example.com/login?ReturnUrl=%2F). So the application went to the login route and showed the login page, as it should.

!"#¤!"%"#¤!"#!"¤!"#%!

Everything works a

[2022-03-20 19:30] #546 closed, assigned to nobody

[2022-03-24 19:58] b1tzer0 opened #547 "Help with EFCoreStore"
I am new to this, so far, I think it is great.  But I need some help getting past these initial steps.

in my Program.cs file
[code]

Then later I have the following:
[code]

When I get to the following line:
`var store = app.Services.GetRequiredService<IMultiTenantStore<TenantInfo>>();`

I get the following error:
An exception of type 'System.InvalidOperationException' occurred in Microsoft.Exten

[2022-03-25 15:02] b1tzer0 commented on #547
Extra Info:
This is .net6
Using Blazor WASM

I have tried the following changes:
TenantDbContext.cs
[code]

Program.cs
[code]

Still getting the same error as above.

[2022-03-25 15:27] AndrewTriesToCode commented on #547
Hi @b1tzer0

You are running into [scope validation](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/web-host?view=aspnetcore-6.0#scope-validation). Since most db contexts are registered as a scoped service the service provider is strict about resolving a service unless you are in a scope. In ASP.NET Core / Blazor they create the scope for you prior to your controllers/components be

[2022-03-25 15:39] b1tzer0 commented on #547
I was actually trying that solution as you replied, thank you so much for a rapid response.

[2022-03-25 15:39] #547 closed, assigned to nobody

[2022-03-26 14:49] acasciani opened #548 "How to allow WithPerTenantAuthentication to work with IdentityServer's Dynamic Providers?"
Thank you for the awesome project! I am curious what your best practice would be to address an issue with competing registrations for IAuthenticationSchemeProvider? I'm using Duende v6 as the Identity Server and am using Finbuckle's `WithPerTenantAuthentication()` option.

Duende has a dynamic providers feature (for dynamic external SSO configuration) that requires `IAuthenticationSchemeProvider`.

[2022-03-26 18:57] AndrewTriesToCode commented on #548
Hi, you have the correct order. My implementation will decorate the prior one so it will call into the Duende one. I'm not sure if theirs  does this--but I specifically wanted to do this.

Also integrating with Duende can be tricky. I recommend either the host strategy or BasePathStrategy with app PathBase adjust option set to true. Let me know if you run into any problems.

Cheers!

[2022-03-26 19:18] acasciani commented on #548
So I'm currently using the BasePathStrategy and it's working like a charm. I'm able to login to two separate tenants within the same application. The discovery url is working for each tenant. The only issue I'm getting is when I'm trying to click SSO with an external Identity Provider (e.g. Azure AD).

When I click the link (as an example `https://localhost/__tenant__/External/Challenge?scheme=aad

[2022-03-27 19:41] acasciani commented on #548
So I pulled the Finbuckle library into the project with Duende (instead of using the Nuget libraries). I updated the following method in `\src\Finbuckle.MultiTenant.AspNetCore\Extensions\FinbuckleMultiTenantBuilderExtensions.cs`

[code]

When I comment out those two lines, everything seems to work okay. Two questions:

1. Will it cause a problem with authentication to comment out the resetting of

[2022-03-31 15:24] b1tzer0 opened #549 "Split/Merge Use Case"
Has anyone ever discussed the possibility of having a split/merge feature?

This has happened a couple of times on our legacy platform where multiple databases would need to be split out or merged together.

Some examples that come time mind:

- Split: A company is on a shared database, but later decides they want their own database.  What would be the process of migrating that company data over t

[2022-03-31 16:55] VictorioBerra commented on #549
@b1tzer0 Finbuckle already supports a hybrid model for per-tenant data, see the bottom of these docs: https://www.finbuckle.com/MultiTenant/Docs/v6.6.1/EFCore

I would imagine you would have to manually handle moving your data to a separate DB, or moving the separate DB data into the shared tenant DB.

How could Finbuckle solve that problem for you?

[2022-04-01 04:32] AndrewTriesToCode commented on #548
Hi sorry I didn't reply sooner. If you are not using separate default authentication schemes per tenant this will be ok. I'm not sure why I use `Services.Replace` there instead of the decorator pattern -- I will see if I can make that change and get a release out soon.

[2022-04-01 04:35] AndrewTriesToCode commented on #549
I have thought about this but to be honest it's a little out of scope since there's a lot of factors that are specific to the situation and the database provider. If you can think of a good wide-ranging approach I would certainly consider it. I also may include something like this as a feature in a premium offering in the future -- but I'd still probably make the source available.

[2022-04-01 12:30] b1tzer0 commented on #549
What I am thinking of is similar to the Elastic DB Tools that was originally provided by Microsoft.
I was originally planning on using those tools (since it is still recommended way of doing multi-tenant via Microsoft Docs) but found the project was no longer being maintained.  That is when I continued my search and found this project.

https://github.com/Azure/elastic-db-tools

The elastic tools

[2022-04-01 15:21] gianpaoloi opened #550 "Hangfire Dashbords and TryGetByIdentifierAsync: Unable to find Tenant with identifier """" with HangfireCustomBasicAuthenticationFilter"
Hi everydody,
I get the information messages :
[Debug] GetIdentifierAsync: Found identifier: """"
[Debug] TryGetByIdentifierAsync: Unable to find Tenant with identifier """"

when I'm using the Hangfire dashbord with HangfireCustomBasicAuthenticationFilter.

 I have corretly setted the JobParameter by IClientFilter when I'm creating a job.

How can I create a "tenant" autentication in Hangfire Das

[2022-04-01 19:46] AndrewTriesToCode commented on #550
hi @gianpaoloi I'm not particularly familiar with Hangfire -- can you tell me which Finbuckle tenant strategy you are using to detect the tenant? For some reason is is only picking up empty double quotes -- do you expect it to have identified a tenant?

[2022-04-01 19:56] AndrewTriesToCode commented on #549
I agree. Just thinking out loud, I think the most common case is a database moving from shared to its own database. It seems pretty straight forward for small amounts of data, but what if it is hours worth of transfers? Does the entire app need to go down for that? These are tough questions I don't have good answers for except "it depends".

[2022-04-01 20:12] b1tzer0 commented on #549
In my specific use case, it would just be the one tenant that has to go down, not the entire app; of course, it would cause a slow down for anyone using the shared database.

One possible way, again; this is my use case, I don't know about others.
Being able to tell the difference between configuration tables and transactional tables.

Migrating config in some instances could be much faster (I gue

[2022-04-01 20:47] VictorioBerra commented on #549
@b1tzer0 It almost sounds easier to me to just have every tenant on their own DB and not ever need to add all of this highly complex splitting and merging stuff. At most you will need a process to create new tenant DBs, or apply migrations against existing ones.

[2022-04-02 18:28] acasciani commented on #548
Hi @AndrewTriesToCode - no worries! I ended up forking the project, making a small change to decorate the interface and created PR #551

So far that change looks to do the trick with our setup

[2022-04-04 12:34] gianpaoloi commented on #550
Hi @AndrewTriesToCode  actually I'm using ClaimStrategy and HeaderStrategy.

I'm creating a backoffice andministration page for background jobs.
Right now this page doesn't require a tenant but is very annoing to have the log with a lot of "No identifier found" :(.

Thanks

[2022-04-04 17:13] AndrewTriesToCode commented on #550
Hi, I know what you mean. One thing you can do is create a default tenant to avoid that issue and some other headaches. You would want to register the StaticStrategy after your other strategies so the static will be the default/fallback.

Alternatively you could adapt the middleware to ignore certain routes. I probably need to think of a way to add that to the library.

[2022-04-05 04:22] AndrewTriesToCode commented on #548
Thanks for contributing! I just put out a patch release for this with your contribution.

[2022-04-05 04:22] #548 closed, assigned to nobody

[2022-04-05 09:37] gianpaoloi commented on #550
Tahnks for reply,
I choose to use the DelegateStrategy strategy checking if the request path have the dashboards Route and return a "default" tenant.
but the console log i still have a lot of
![image](https://user-images.githubusercontent.com/99672700/161725217-334426f5-ff35-4e6b-824b-650d514afce5.png)

How Can I resolve this behavior?

[2022-04-06 00:48] AndrewTriesToCode commented on #550
So there are two things:

1. On `AddMultiTenant<T>(options => ...)` you can set a list of strings which will be ignored for tenant consideration -- perfect for this type of use case.

2. Or you can filter out logging all together as described [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-6.0#configure-logging). You'll just add `Finbuckle.MultiTenant` to

[2022-04-07 06:43] gianpaoloi commented on #550
@AndrewTriesToCode  Thanks for you helpful reply! ;)

[2022-04-07 06:43] #550 closed, assigned to nobody

[2022-04-11 13:05] ievgenii-shepeliuk commented on #495
Hello @AndrewTriesToCode

As a continuation for this post, is it possible to just make `_asyncLocalContext` property of `MultiTenantContextAccessor` not internal ?

Because in cases, when used outside Asp.Net, it's impossible to populate this context from some custom code.
One always needs to create and register in DI own implementation of `IMultiTenantContextAccessor`.

If this proposal is consid

[2022-04-11 14:44] VictorioBerra commented on #495
@ievgenii-shepeliuk I am going to leave that one forAndrew to answer, but I wanted to ask what way are you leveraging this outside of ASPNET? Isn't the whole point of this library to allow someone to rapidly add multi-tenancy to an ASPNET Web application?

[2022-04-11 14:51] ievgenii-shepeliuk commented on #495
Hello @VictorioBerra, answering

1. This project's README says following, there's no restrictions to use within ASP.NET

    Although `middleware` may be treated as ASP.NET middleware - there's no direct restriction to ASP.NET web apps :))
1. We create multi-tenant applications that don't expose REST / gRPC, but consume / produce messages from/to Kafka, although they still need to be tenant aware,

[2022-04-11 20:26] AndrewTriesToCode commented on #495
Hi I can give a more detailed answer later today but I'm assuming you are using the .Net Generic Host to handle DI and app lifetime. Is that correct?

[2022-04-12 06:33] ievgenii-shepeliuk commented on #495
Hello @AndrewTriesToCode

Yes it is correct.
I've implemented own `IMultiTenantContextAccessor` to be able to populate multitenant context outside of HTTP flow and library works fine.
My request is just for simplifying the library experience for use cases like mine, non related to web apps.

[2022-04-16 05:27] Bouke commented on #491
Ugh stale bot 👎.

[2022-04-17 04:47] #457 closed, assigned to nobody

[2022-04-17 04:47] #461 closed, assigned to nobody

[2022-04-17 04:47] #455 closed, assigned to nobody

[2022-04-17 04:47] #480 closed, assigned to nobody

[2022-04-17 04:47] #460 closed, assigned to nobody

[2022-04-21 12:37] snax4a commented on #455
@AndrewTriesToCode
I am configuring entities in separated classes implementing IEntityTypeConfiguration<TEntity>

[code]

I would like to use AdjustKey in this configuration but this method expects `EntityFrameworkCore.ModelBuilder` instead of `EntityFrameworkCore.Metadata.Builders.EntityTypeBuilder`

Do you have any suggestion how can I get ModelBuilder here?

[2022-04-28 04:23] #492 closed, assigned to nobody

[2022-04-28 04:23] #496 closed, assigned to nobody

[2022-04-28 04:23] #465 closed, assigned to nobody

[2022-04-28 04:23] #467 closed, assigned to nobody

[2022-04-28 04:23] #506 closed, assigned to nobody

[2022-04-28 04:23] #507 closed, assigned to nobody

[2022-04-28 04:23] #512 closed, assigned to nobody

[2022-05-05 04:35] AndrewTriesToCode commented on #512
@OrionRiftStudios I apologize for letting this issue go unanswered. I don't have a better solution for you and currently per-tenant DI is not something on the roadmap and it sounds like you know more about it than I do. Did you ever find a decent solution for your use case?

[2022-05-05 04:38] AndrewTriesToCode commented on #491
Yeah I know, sorry. By the way I am planning for a major release later this year where `MultiTenantContext` will never be null which I think will be a friendlier design.

[2022-05-05 05:03] OrionRiftStudios commented on #512
Yes. I fixed it . I replaced the middleware with a custom IServiceProvider

[2022-05-06 10:39] jimmywim opened #552 "Newbie Question - how do I provision the store?"
I'm intending on using this library to build a multi-tenant app, using `WithEFCoreStore()`.

I'm following the sample code fine, and I have an existing tenant DB that I'm adding to the store (in `app.IsDevelopment()`) - but the big problem is the store's database doesn't exist!

I'm using an `IOptions<T>` to hold the connection string to the database, which is injected fine into my store's DB Cont

[2022-05-18 03:50] AndrewTriesToCode commented on #552
hi @jimmywim sorry for the late reply!

The short answer is that EFCore migrations are needed to initialize the schema on a fresh server. Nothing specific to Finbuckle here, but you'll want to check out the `dotnet ef database update` command.

In many of my samples I programmatically initiallze and migrate to make them run smoother. You can do this as well if you prefer using the `DbContext.Datab

[2022-05-18 16:53] jimmywim commented on #552
Hi @AndrewTriesToCode - thanks for the reply and clarification - I managed to get local working by hand-cranking it (which I prefer to do as I like using dacpacs in Azure DevOps pipelines for deployment). Good to know that there the migrations strategy will work if needed.

I'm quite happy with this library actually, I managed to get Tenant per Azure AD Tenancy working using the claims strategy an

[2022-05-18 16:53] #552 closed, assigned to nobody

[2022-05-31 13:42] JRuffs7 opened #554 "Exceptions logged using OnTenantNotResolved"
In our project we would like to handle non-existing tenants by showing them a 404 page.
Currently, we do this by:
`OnTenantNotResolved = async context =>
        {
            if(context.Context is HttpContext httpContext)
            {
                httpContext.Response.StatusCode = 404;
                await httpContext.Response.CompleteAsync();
            }
        }`

However, it seems by c

[2022-06-12 16:28] #537 closed, assigned to nobody

[2022-06-15 11:55] acasciani commented on #554
I'm also encountering this issue. Any guidance is greatly appreciated

[2022-06-15 17:20] acasciani commented on #554
We were able to get around this by adding a new middleware OnStarting within the OnTenantNotResolved event.

Something like the following

[code]

[2022-06-19 01:16] AndrewTriesToCode commented on #545
@ThatDeveloper so sorry I never replied to you here. I think there would be minimal perf impact based on what you described. However this library assumes a string for TenantId currently and that is unlikely to change in the near future.

[2022-06-20 15:20] kbaley opened #558 "Relationship between MultiTenantDbContext and EFCoreStoreDbContext"
I'm working through [this guidance](https://www.finbuckle.com/MultiTenant/Docs/v6.7.2/EFCore#deriving-from-multitenantdbcontext) with a shared database. I modified my DB context to inherit from MultiTenantDbContext and I marked one of my entities as IsMultiTenant in the fluent API in OnModelCreating. Then I ran `dotnet ef migrations add MyMigration`. It add the TenantID field to my entity as expec

[2022-06-20 20:22] BihunRoman opened #559 "TenantInfo is null in OnConfiguring"
Hi,

I am using HostStrategy and ConfigurationStore. I get an error
System.AggregateException: One or more errors occurred. (Object reference not set to an instance of an object.)
 ---> System.NullReferenceException: Object reference not set to an instance of an object.
   at DataAccess.Context.MyContext.OnConfiguring(DbContextOptionsBuilder optionsBuilder)

I used to have this error on adding the

[2022-06-22 20:05] #559 closed, assigned to nobody

[2022-06-23 15:09] onurkanbakirci opened #562 "AMQP Context support"
Is there a built-in support for get tenant identifier from RabbitMQ message? In http requests, we get tenant identifier from `HttpContext` instance and then we set `TenantInfo` by using this tenant identifier. But what if we use amqp protocol for server to server communication? In this situation how can we set `TenantInfo`?

[2022-06-28 06:43] BihunRoman opened #564 "System.NullReferenceException: Object reference not set to an instance of an object when I try to Seed data"
How can I seed multi-tenant identity objects (e.g. Users, Roles) from the middleware not to have NullReferenceException?
I checked this https://github.com/Finbuckle/Finbuckle.MultiTenant/issues/312 but it didn't help.
Here is my IdentityDataInitializer.cs:
`public static class IdentityDataInitializer
    {
        public static void SeedData(UserManager<User> userManager, RoleManager<Role> roleMan

[2022-06-29 13:34] Yannick86 commented on #365
Is it possible to even change the name of the property and to have it as an actual property on the entity instead of a shadow property that only exists in SQL?

[2022-07-05 10:39] scharada opened #565 "Nested Tenants ?"
hi there. i've seen a comment somehow related to this. tenant grouping but with a more complex requirement.

here is the scenario. think of a Company C that owns several subsidiaries s1, s2, s3 ... where each sells a line of products.
each subsidiary has its own operation and manages its own activities separately from the others, therefore can be setup as tenants.
the parent company however, must

[2022-07-05 10:43] scharada opened #566 "Per Tenant DependencyInjection"
Autofac has this capability using containers. i was wondering if similar behavior can be implemented in this library.
it would be usefull to load modules that are enabled per tenant .. i.e. a tenant can choose which payment provider to use ... enable or disable a feature.

[2022-07-05 11:00] scharada opened #567 "Shared entities and database resolver"
one of the cases i am struggling to solve the correct way is forcing a query on specific entities to be executed against a shared database no matter who the tenant is.

one of the ideas i had is to use an attribute or an interface (ISharedEntity) to decorate the entity or make it inherit from the interface. when resolving the tenant database, if the entity being queried is decorated with the attib

[2022-07-13 21:31] JxEngel commented on #365
@johanan Is it possible for you to give me some more information on what you did here? I'm new to Finbuckle & EF Core facing this same issue. I don't understand how you implemented this strategy.

[2022-07-14 21:47] johanan commented on #365
@JxEngel The TenantId property is a shadow property on the EF Core model. Essentially what happens is this:

1. Finbuckle creates a shadow property on the model, names it TenantId and sets the type to string. See https://github.com/Finbuckle/Finbuckle.MultiTenant/blob/main/src/Finbuckle.MultiTenant.EntityFrameworkCore/Extensions/EntityTypeBuilderExtensions.cs#L53
2. The extension method `Configure

[2022-07-16 16:16] chihabhajji commented on #566
for now you can use WithPerTenantOptions and defining lazy loaded properties on your tenant model that hold those informations, also i think (not sure because i havent implemented this) you can use feature flags
https://marcosflobo.com/2021/04/06/multi-tenant-feature-flag-manager/
https://docs.microsoft.com/en-us/dotnet/architecture/cloud-native/feature-flags

[2022-07-17 08:24] HmichaelG opened #570 "Blazor server EF 6 migration failure"
Hello,
In the last couple of days I have added Finbuckle Multi-tenant to my app. Everything was working without issue until I attempted and EF Code First migration. My setup is as follows...

1. Separate database strategy
2.  Program.cs...

`var builder = WebApplication.CreateBuilder(args);

// Add services to the container.

//Finbuckle Multi-tenant service
builder.Services.AddMultiTenant<TenantI

[2022-07-19 02:02] AndrewTriesToCode commented on #559
Hi did you figure this out? At migration time no tenant exists so there is a section in the docs on how to use a `DesignTimeFactory` to enable migrations. Let me know if you need any help. Sorry for the slow reply.

[2022-07-19 02:03] AndrewTriesToCode commented on #570
Hi, this issue is usually because at design time there is no actual tenant so when it tries to create the dbcontext it bombs. Check out the docs here for some ideas:
https://www.finbuckle.com/MultiTenant/Docs/v6.7.2/EFCore#design-time-instantiation

[2022-07-19 02:07] AndrewTriesToCode commented on #566
Hi, no current plans to implement per-tenant DI. A design decision early on was to go with a per-tenant Options oriented approach rather than separate DI. I know some have meshed it with autofac DI where the Finbuckle tenant is fed into autofac but I'm not too familiar with it.

[2022-07-19 02:11] AndrewTriesToCode commented on #565
Hi, unfortunately there is no general support for this at the moment. I've though about it and not come to a clean way to implement it just yet. Might be that you have your own derived version of `MultiTenantDbContext` and modify the `OnModelCreating` method (global query filter that is set there for tenant) as needed for your particular use case.

[2022-07-19 02:14] AndrewTriesToCode commented on #562
Hi, there is no specific support of this but you can implement `IMultiTenantStrategy` pretty easily and it take a general object parameter for context which doesn't have to be `HttpContext`. You could pass in a message and parse our the identifier from there.

I'm not familiar with amp does it use a pipeline similar to regular ASP.NET Core?

[2022-07-19 02:15] AndrewTriesToCode commented on #558
So sorry for the slow reply.

Yes this is correct. EFCoreStore database itself wouldn't be MultiTenant -- at least not normally. In other words each tenant doesn't have its own per-tenant list of tenants. Rather the overall app has a single list of tenants.

[2022-07-19 02:22] AndrewTriesToCode commented on #564
Hi it's most likely because DI isn't fully setup when seeding is called.

Here is a seed example from a client's project:

[code]

This method is called in `Configure` right before `App.Run`:
[code]

I hope this helps let me know if you have any specific questions.

[2022-07-19 02:24] AndrewTriesToCode commented on #567
If you don't mark an entity as `[MultiTenant]` (or use the fluid syntax) then all queries on it are global, even on a `MultiTenantDbContext` or similar. So for that entity all tenants see all rows. Is that not quite what you were going for?

[2022-07-19 02:39] HmichaelG commented on #570
Andrew
Thank you for your response. I think I achieved a similar result by refactoring my dbContext to be an abstract class with 2 descendants. The migration descendant has a standard constructor while the production descendant has a Finbuckle constructor. Thus far all is good but I'll keep your solution in mind in case I run into issues.

This is my first time using your software and I have to sa

[2022-07-19 02:39] #570 closed, assigned to nobody

[2022-07-19 05:50] onurkanbakirci commented on #562
For my experience, amqp doesn't have similar pipeline like http request. So, amqp message not enter the custom `IMultiTenantStrategy` method. I also try to set tenant by using `TrySetTenantInfo` method but it's not work because of absence of `HttpContext` in amqp messages. By the way,  i need to set the `TenantInfo` from my custom amqp message handler function without having `HttpContext`. Are the

[2022-07-19 18:10] BihunRoman commented on #564
Thanks @AndrewTriesToCode ,

I will try this but I have a few questions on this:
1) What is the PlatformOptions class?
2) You wrote: "This method is called in `Configure `right before `App.Run`". Do you mean this method is called in `Main `method of `Program`?

[2022-07-20 20:00] kbaley commented on #558
Thanks for the clarification

[2022-07-20 20:00] #558 closed, assigned to nobody

[2022-07-21 13:35] BihunRoman commented on #564
Now NullRefferenceException is thrown from a different place.

[code]
And even identityDbContext.Roles.Any() throws it.
So yes, this is some DI issue that I haven't figured out yet.

Also, I cannot select tables from SQL Mngmt studio, I see the error
![image](https://user-images.githubusercontent.com/51881695/180238097-b50a512e-b527-455e-8d7c-f9d5265480a5.png)

[2022-07-23 22:34] scharada commented on #565
thank you.

[2022-07-23 22:39] scharada commented on #567
it does partially. but it would not work for the scenario i described (all tenants seeing all payment records) although i could use the tenantid to filter out the results...
i guess i have to play with all cases to see the behavior, or maybe use some UoW logic to force a query against a specific db ...

thank you for your response.

[2022-07-23 22:43] scharada commented on #562
i think i've seen this ... i believe MassTransit allows you to do what you want using message headers regardless of the protocol ... you should check it out.

[2022-07-25 12:37] zahidcakici opened #571 "How to use multitenancy over an Ocelot Api Gateway?"
Hi, I work on a multitenant microservice architecture. I have also IdentityServer4 on my arch and tenants info are kept there with users. The request sended by client is being checked on both Ocelot and on Resource Api. So I need to know what tenant to move on in both Gateway and Resource Api.

   I know that I can implement mutitenancy on both sides but we use remote store since we keep tenant db

[2022-07-25 15:22] onurkanbakirci commented on #562
Adding
[code]
before service injections, finbuckle works as expected.
After adding above script, i can inject services which belongs to dbcontext by using
[code]

[2022-07-25 15:22] #562 closed, assigned to nobody

[2022-07-25 20:10] tnc1997 opened #572 "MultiTentantContext is null in HttpContext.Response.OnStarting on sign out"
Firstly, I would like to thank you very much for your work on this package. I am using it combined with IdentityServer in order to support multi-tenancy, however I am experiencing a `NullReferenceException` caused by the `MultiTentantContext` being null in the `HttpContext.Response.OnStarting` function on sign out. I have extended IdentityServer's `ConfigurationDbContext` to be multi-tenanted and

[2022-07-31 03:30] #527 closed, assigned to nobody

[2022-07-31 03:30] #549 closed, assigned to nobody

[2022-07-31 05:39] Bouke commented on #491
Ugh stale bot 👎.

[2022-08-01 06:23] ievgenii-shepeliuk commented on #495
Hello @AndrewTriesToCode
Can you please reopen this issue since it is still relevant and not addressed.

[2022-08-01 17:00] bwayway opened #575 "6.7.3 "Removing reliance on uncaught exception" causing issue"
We've come across an issue in the most recent release made in PR [#563](https://github.com/Finbuckle/Finbuckle.MultiTenant/pull/563):
[code]

We are using Duende Identity Server, and with our project, our ITenantInfo object does not have the Authority, ClientId, and ClientSecret populated. Therefore we are getting empty values returned from HasPropertyWithValidValue. Instead, we would like to have

[2022-08-10 04:15] AndrewTriesToCode commented on #575
I think this is reasonable. Just to clarify, if there is no tenant value then instead of empty use the default non-tenant specific option value?

[2022-08-10 05:51] AndrewTriesToCode commented on #572
Hi, sorry for the late reply. I was able to clone and reproduce the issue. I think this is a deep one and I'm not 100% what is going on. I think your theory on the AsyncResult getting out of "scope" is probably correct.

Did you find any decent workaround?

One quick workaround might be to cache your tenant info in the db context so it only uses the accessor for the first time -- I'm pretty sure e

[2022-08-10 05:55] AndrewTriesToCode commented on #571
hi I'm sorry I'm not familiar with Ocelot but perhaps someone else will be able to help you. I see what you mean about performance as a concern. I'd probably go with some sort of smart caching so the API gateway wouldn't have to constant query the tenant store but it's not a trivial thing to setup.

[2022-08-10 07:40] tnc1997 commented on #572
Thank you for your reply, no need to apologise! That's a good idea that I hadn't thought of but unfortunately the scoped `MultiTenantConfigurationDbContext` isn't accessed during the logout request until it is within the `OnStarting` function [here](https://github.com/DuendeSoftware/IdentityServer/blob/d58fe24ce8777fda3be815f2257750d1d6558ddb/src/IdentityServer/Hosting/IdentityServerMiddleware.cs#

[2022-08-12 13:16] SharePointRadi commented on #575
That sounds like a reasonable ask. The default, non-tenant specific settings should be retrievable, if provided. I think that is what is meant by "original value", right?

[2022-08-13 21:59] tiesont commented on #485
I'm assuming this happens because the background job is using something that has a dependency on a `EFCoreStoreDbContext` data context?

If so, can the job be rewritten to remove that dependency, since it sounds like what you're doing isn't really tenant-specific?

For my Hangfire jobs, I try to make them as atomic as possible - this allows me to enqueue them in a few different contexts (within AS

[2022-08-18 00:29] #476 closed, assigned to nobody

[2022-08-23 13:50] bwayway commented on #575
@AndrewTriesToCode @SharePointRadi Yes sorry I should have been more specific. The non-tenant specific options value.

[2022-08-28 02:14] AndrewTriesToCode commented on #575
Just refactored this to avoid this issue, including unit tests and doc updates to make everything more robust.

[2022-08-28 02:18] #575 closed, assigned to nobody

[2022-08-28 02:20] AndrewTriesToCode commented on #572
Going to label this a bug and consider a few options any logic that happens after the multi tenant middleware runs on the "way out" of the pipeline will not be able to see the tenant and I'd like to think it through.

[2022-08-28 06:37] tnc1997 commented on #572
Thank you very much for your ongoing help with this issue, if there's anything I can do then don't hesitate to let me know!

[2022-08-28 14:46] onurkanbakirci opened #582 "Can't see hints"
When i use `Finbuckle` in my own projects, i have figured out that there is no hint when i hover or highlight to functions or properties of `Finbuckle` project. I have looked source code of project and i have seen that there are comments for classes, functions and props. etc. So, why i can't see these comments when i hover to functions etc.  in VStudio?

Example:

<img width="690" alt="Screen Shot

[2022-09-01 20:58] onurkanbakirci opened #583 "Finbuckle With Identity Isolation Problem"
I have an app which uses .net identity for membership system and Finbuckle for achieving multi-tenancy. I try to make .net identity `TUser` object as non multi-tenant and other things (`TRole`, `TUserClaim` etc. ) as multi-tenant. By the doc of `Finbuckle`, to achieve this purpose, i have to pass `TUser` class as a generic class and other things as default. So, my identity context class is as foll

[2022-09-08 16:42] richardbartley opened #585 "EF Core Add-Migrations problem when using AddDbContextFactory"
When adding ApplicationDbContext (based on BaseDbContext : MultiTenantIdentityDbContext), I can do EF migrations as if finds the Tenant.

`                .AddDbContext<ApplicationDbContext>(
                m => m.UseDatabase(dbProvider, rootConnectionString))`

However, when using the Factory approach,

[code]

the EF Add-Migrations tooling fails with this error.

[code]

What can I do to resolv

[2022-09-09 04:10] jeremysimmons opened #586 "Guidance for using library in background tasks and services"
What's the recommended approach for consuming the library in IHostedService / BackgroundService?
The user will be submitting a job to a queue, including their tenant identifier.
I wish to retrieve the custom ITenantInfo from the database, as it holds connection string and web api service urls.
Seems like it's as simple as using EFCoreStoreDbContext<MyCustomTenantInfo> and a simple query to retriev

[2022-09-11 14:53] onurkanbakirci opened #587 "TrySetTenantInfo problem"
In my app, i need to change `tenantInfo` at runtime by using `TrySetTenantInfo` method. When i use following code,
[code]
i expect that `userManager` class' `TenantInfo` (inside of object `userManager -> Stores -> Context -> TenantInfo`) will be updated. However, when i check it, it was not updated. When i also check `HttpContext`'s `tenantInfo` was updated correctly or not by using

[code]

comma

[2022-09-17 02:47] AndrewTriesToCode commented on #586
@jeremysimmons in this case I recommend emulating what the middleware does. Assuming you are using DI with the hosted service and configure the library normally you can use this logic in the appropriate place to resolve your tenant. You'll probably need a custom multi tenant strategy or use the delegate strategy:
[code]

[2022-09-17 02:51] AndrewTriesToCode commented on #587
hi @onurkanbakirci I see what you are saying. Based on that example code I think the problem is that `_serviceProvider` is still a reference to the original `HttpContext` DI scope. After the call to `TrySetTenantInfo` the service provider on `HttpContext` is reset so you'll want to get the service provider from `HttpContext` again:
[code]

[2022-09-17 02:54] AndrewTriesToCode commented on #585
@richardbartley I appreciate you bringing this up. I don't have a good answer at the moment and haven't gotten into `DbContextFactory` much myself -- I realize its important in Blazor and I need to do so.

In this case is it trying to spin up a dbcontext outside of an HttpRequest? Like at startup or in a background service?

[2022-09-17 03:01] AndrewTriesToCode commented on #583
I'm sorry for the late reply. Do you have a sample project I can take a look at to see the issue closer? I have to admit I don't normally have a setup like this where user is not multi tenant and the others are.

One thing to try is setting `TenantNotSetMode` to `Overwrite` as described [here](https://www.finbuckle.com/MultiTenant/Docs/v6.8.0/EFCore#tenant-not-set-mode). You would do that in the c

[2022-09-17 03:02] AndrewTriesToCode commented on #582
Hm that's a good question. Is this Visual Studio, VS Code, or something different? If you open up one of the sample projects do you see the hints?

[2022-09-17 03:43] #582 closed, assigned to nobody

[2022-09-17 03:46] AndrewTriesToCode commented on #582
:tada: This issue has been resolved in version 6.8.1 :tada:

The release is available on [GitHub release](https://github.com/Finbuckle/Finbuckle.MultiTenant/releases/tag/v6.8.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-09-17 03:46] AndrewTriesToCode commented on #582
Well I had a setting wrong and I think it should be fixed with 6.8.1 release tonight. Thanks for letting me know!

[2022-09-17 15:57] DavidYon opened #589 "Interactions in Blazor with Dynamic Root Page"
I've got a sample project [here](https://github.com/DavidYon/MultiTenantBlazor.git), which is a Mashup of Finbuckle plus the following projects:

https://github.com/BrianLParker/RoleBaseAuth (Role-Based Authentication with Blazor WASM and an ID4 backend)
https://github.com/nwestfall/BlazorTenant (Multi-Tenant for Blazor WASM Client-Side)
https://github.com/damienbod/BlazorMetaData (Use a Dynamic R

[2022-09-18 19:41] onurkanbakirci commented on #587
Yes, that's the solution. But it should be;
[code]
Thank's for your time.

[2022-09-18 19:41] #587 closed, assigned to nobody

[2022-09-20 08:16] richardbartley commented on #585
Yes its a problem in StartUp and when using the Add-Migration tooling.  It doesn't know the TenantInfo.  Wonder if there is a trick to provide one perhaps at DesignTime?

[2022-09-20 16:24] DavidYon commented on #589
Update: one problem is that the Dynamic Page uses a base href of "~/" rather than "/".  Don't know why, but that triggers the client side to double-up the /connh/connh in the errant query.

Making the base href be the same gets me farther, but now I have an oddity whereby the /connh/authentication/login-callback gets a 404.  That's definitely a client-side issue so I'll keep digging...

[2022-09-20 17:44] DavidYon commented on #589
Ok, you can close this.  Turns out the 404 was a red herring caused by some of my attempts to work around the original problem.  I have updated my repos:

https://github.com/DavidYon/MultiTenantBlazor

The dynamic page (which replaces the static index.html file) now derives its title from the current TenantInfo.  All seems to work well.

[2022-09-21 07:17] ievgenii-shepeliuk commented on #495
@AndrewTriesToCode This issue is not solved.

[2022-09-21 14:48] Rockstar1989 opened #591 "Manual Tenant Switching Issue"
### Discussed in https://github.com/Finbuckle/Finbuckle.MultiTenant/discussions/590

<div type='discussions-op-text'>

<sup>Originally posted by **Rockstar1989** September 21, 2022</sup>
Hi there;

I hope that you are doing well.

I have an enquiry with regards to switching a tenant at runtime, specifically, cycling through tenant IDs/identifiers to resolve their respective Database Contexts and c

[2022-09-22 00:29] AndrewTriesToCode commented on #495
Yeah and I'll pin it to prevent closure. Sorry!

[2022-09-22 01:13] AndrewTriesToCode commented on #589
Thanks! I will dig in this weekend.

[2022-09-22 07:37] ievgenii-shepeliuk commented on #495
Thanx @AndrewTriesToCode
But what about resolution of this ? i.e. the only change is

[2022-09-23 15:45] AndrewTriesToCode commented on #591
hi @Rockstar1989

Would an approach like this work for you? this is from the Identity sample that loops through the tenants to run migrations but could also work for general `dbcontext` needs:

[code]
This is nice because it takes DI out of the picture but it might be too simplistic for your use case.

It is possible to do this using DI by overwriting the tenant. It's clunky and I'm trying to crea

[2022-09-23 15:48] #589 closed, assigned to nobody

[2022-09-23 15:56] AndrewTriesToCode commented on #495
Hi @ievgenii-shepeliuk

Any reason it needs to be exposed? The `MultiTenantContext` property is public and lets you get/set the value of the `AsyncLocal<IMultiTenantContext<T>?>` just fine. The reason I like to keep it behind the property is because in the future I might change or augment the use of the `AsyncLocal` for technical reasons.

For example in the ASP.NET pipeline any middleware prior t

[2022-09-27 14:37] eluvitie opened #593 "Root Tenant to read & write Entites of other Tenants"
Hi There

I have the following use case and I'm stuck on this problem...

**Use Case**
In my application there is one root Tenant which has special rights to view and modify some of the entites of the other tenants. In the application there are Products which are not restricted by the `.IsMultiTenant()` constraint. And then there is a `BasketItem` Entity which each Tenant only sees their own `Bask

[2022-09-28 12:47] Rockstar1989 commented on #591
Hi @AndrewTriesToCode

Thank you for this solution. This seems to have done the trick for me.

Much appreciated

[2022-09-28 19:48] AndrewTriesToCode commented on #591
Great, I'm going to close the issue but don't hesitate to reopen if needed.

[2022-09-28 19:48] #591 closed, assigned to nobody

[2022-10-06 02:19] AndrewTriesToCode commented on #593
hi @eluvitie sorry for the slow reply. I need some time to check the `TenantMisMatchMode` because that would have been my first suggestion.

My next suggestion is to "new" up a dbcontext for the specific tenant you want to enter items for, then dispose of it. I'm working on convenience factory methods that will help with this but for not doing it manually isn't too bad, but it is not very efficien

[2022-10-06 02:34] AndrewTriesToCode commented on #593
One more thing, rather than this:
[code]

in your constructor do this:
[code]

or when you use the dbcontext you can set it like this right before you call `SaveChanges`:
[code]

I suspect your version is creating a new property that the base implementation isn't seeing. Since you are inheriting from `MultiTenantDbContext` it already has the property for you to use. If you were instead implementin

[2022-10-10 07:19] Romanky opened #597 "Finbuckle BasePathStrategy overwritting existing base path (IIS) (Blazor Server-side app)"
I'm using `WithBasePathStrategy()` in a Blazor Server-side application deployed on IIS.

When the base path should be extended by the tenant it is replaced instead:

The problem is that the value in `httpContext.PathBase` is set to
`/tenentId`
but I expect it to be
`/mybasePath/tenentId`

could be related to #501

**Version Infos:**
Finbuckle.MultiTenant.AspNetCore version: 6.8.1
Dot Net version:

[2022-10-10 14:16] eluvitie commented on #593
Hi @AndrewTriesToCode
Thank you for your response.
Both of your approached worked for me.

I went for the latter, since I think its best to only change the `TenantMisMatchMode` if needed and not change it globally.

In the project I use the `Ardalis.Specification` Package, so I extended my `IRepository` Interface with a function `setTenantMismatchMode(TenantMismatchMode mode)`

This function chang

[2022-10-10 14:44] Bouke commented on #501
In order to achieve this, you need to host Blazor at a path that includes the tenant. For example:
[code]

[2022-10-10 14:58] Bouke opened #599 "MultiTenantContext null after Blazor Server hot reload"
When developing `dotnet watch` (aka hot reload) is a great performance boost. However it doesn't work with this package: `MultiTenantContextAccessor<T>._asyncLocalContext` will be `null` after a hot reload.

My analysis thus far after prodding it for a few hours. `AsyncLocal` apparently doesn't flow when a hot reload is performed. The middleware that initially sets the value isn't triggering, as t

[2022-10-10 15:12] Bouke commented on #599
Instead of trying to fix this through DI registrations, I've fixed (worked around) the issue by flowing from `AsyncLocal` to a DI container and back. This works as when Blazor is booted the tenant is stored in `AsyncLocal`, which will then be copied over to the DI scoped container. When a hot reload is performed on the app, the tenant is copied from the DI scoped container back to `AsyncLocal`.

N

[2022-10-11 04:12] AndrewTriesToCode commented on #593
I think your approach is a good one! Thanks for sharing it for future people. I'm going to close the issue but feel free to reopen if you need to.
Cheers.

[2022-10-11 04:12] #593 closed, assigned to nobody

[2022-10-11 04:27] AndrewTriesToCode commented on #597
Thanks @Romanky
Just to be clear, you didn't have the option enabled in `WithBasePathStrategy` for the behavior turned on did you?
[code]

[2022-10-11 05:41] Romanky commented on #597
Thank you for the quick reply @AndrewTriesToCode
Yes I enabled the `RebaseAspNetCorePathBase` - I'm sorry that I forgot to mention that 🙈

[2022-10-13 04:01] AndrewTriesToCode commented on #599
Hi, for other reasons I'm considering going with a scoped instance underlying `IMultitenantAccessor` so thanks for helping me justify it. In the meantime I'm glad you have a workaround. I'm going to go ahead and close this but feel free to reopen.

Thanks!

[2022-10-13 04:01] #599 closed, assigned to nobody

[2022-10-13 04:02] AndrewTriesToCode commented on #597
Hi, so unless I am misunderstanding -- if you set that rebase option to false it will behave as you want, right?

[2022-10-13 05:51] Bouke commented on #599
Beware that an instance scoped to the http request doesn’t flow to the blazor circuit’s scope.

[2022-10-13 06:31] Romanky commented on #597
No, what I want to say is that the `RebaseAspNetCorePathBase` doesn't work properly when there is already a `Request.PathBase` defined. Might be an `IIS` specific problem?!

Your example in the docu works as expected:

The example adapted to my needs:

A request to **https://mydomain.com/mybase/mytenant/mypath** by default has a **Request.PathBase** of **/mybase** and a **Request.Path** of **/myte

[2022-10-18 10:13] HDScarpe commented on #404
@AndrewTriesToCode I have the same error, how can I fix it?

[2022-10-18 12:30] AndrewTriesToCode commented on #404
@HDScarpe Can you please open a new issue and provide a little more detail? What does your AddMultiTenant setup look like and how are your db context classes defined?

[2022-10-18 12:32] AndrewTriesToCode commented on #404
As the original issue was resolved in a prior release I'm going to close this item. Feel free to open new issues if needed.

[2022-10-18 12:32] #404 closed, assigned to nobody

[2022-10-18 21:27] julesrx opened #601 "Directly send the HttpContext in IMultiTenantStrategy and ITenantResolver instead of boxing in an object"
Currently, the `IMultiTenantStrategy` and the `ITenantResolver` have methods requiring passing the HttpContext as an object, which doesn't seems needed, since it is accessible from the middlewares.

The change doesn't seems to be breaking for real world usages, but can be for some tests that passes an object to the method.

Two packages needs to be added for this change (both targeting .netstandar

[2022-10-18 21:51] julesrx opened #602 "Make ITenantInfo's Id type a generic"
Change ITenantInfo's Id type to a generic to allow for more flexibility when implementing the library. This would help since here, even if the Id is a number in the tenant store or the database, it needs to be converted into a string.

Essentially, change this :
[code]

To this :
[code]

And keep the default TenantInfo to a string :
[code]

This is a big breaking change though, with lots of refact

[2022-10-19 04:04] AndrewTriesToCode commented on #602
Hi, yes this on my todo list. And I plan to tackle it soonish.

[2022-10-19 04:08] AndrewTriesToCode commented on #601
Help again. There are situations where these are used outside of asp.net core so it can't assume it will be a certain type. Also boxing occurs when going from a value to an object and I'm pretty sure HttpContext is a class so not a performance concern there. Although it could be in some other situations.

Can you provide a specific example of what you had in mind?

[2022-10-19 11:50] julesrx commented on #601
My bad, used bad phrasing.

Currently, when you implement the IMultiTenantStrategy interface, you need to cast the context as a HttpContext :
[code]

This is done in most (if not all) of the implementations included with the library (e.g BasePathStrategy).

The change would be :
[code]

This takes HttpContext from Microsoft.AspNetCore.Http.Abstractions.
Maybe I'm missing something, but I don't see

[2022-10-20 04:27] AndrewTriesToCode commented on #601
I need to update the docs or start a blog or something. It is used in some other areas like workflows, console applications, queue triggers in Azure where the queue message contains a tenant identifier... really anything. Dotnet host model allows any app to use dependency injection and other features -- in fact ASP.NET Core is build on top of the host model.

I do see what you mean and if it were

[2022-10-20 04:39] AndrewTriesToCode commented on #597
Yep, you are right. Thanks for the detailed response!

Your fix looks good. Do you mind adding a unit test at `Finbuckle.MultiTenant.AspNetCore.Test/Strategies/BasePathStrategyShould` to incorporate this in your PR? The test code would be:
[code]

[2022-10-20 04:44] HDScarpe opened #603 "Finbuckle.MultiTenant with Duende IdentityServer cannot login with per tenant ?"
Currently I am setting up Finbuckle.MultiTenant with Duende IdentityServer. I'm getting an error when I log into the root account If I don't use **.IsMultiTenant()** then it can login as root account but can't login tenant account. This is my class design
* I have 3 classes: IdentityContext , BaseDbContext , TenantDbContext
1. ```IdentityContext : BaseDbContext```
2. ```BaseDbContext : MultiTenant

[2022-10-20 04:46] HDScarpe commented on #603
This is log error
[code]

[2022-10-20 04:50] HDScarpe commented on #404
@AndrewTriesToCode I created a new [issue](https://github.com/Finbuckle/Finbuckle.MultiTenant/issues/603). Thanks for answering.

[2022-10-20 07:31] julesrx commented on #601
This makes sense. It's just that i wasn't expecting the library to be used is such scenarios.
Another possible alternative would be to specify the type in ITenantResolver/IMultiTenantStrategy with a TContext (e.g `ITenantResolver<TTenant, TContext>`), and then the type would be changeable, but this is still some big refacto to do.

Docs on these usages would be welcome 😁

[2022-10-24 05:57] #597 closed, assigned to nobody

[2022-10-24 10:29] hbulens commented on #603
I'm experiencing the same problem, albeit with a different setup. The initial problem is a duplicate index:

This can be addressed by adding some config in the DbContext's OnModelCreating override:

[code]

But that's where the above error message pops up. Specifically, in the `ApplicationUserStore` that's a child of `UserStore<ApplicationUser>`. Any time I want to invoke the `Users` property, the

[2022-10-29 21:51] dalton5 opened #606 "Best practices on multitenancy"
Hi,

I wonder how the multitenancy works when I am with the super admin that will manage the tenants.

How can I setup this part? The tenant info will be null?

Thanks

[2022-10-29 21:58] pyramidsbuilder opened #607 "using TrySetTenantInfo : exception : No service for type IMultiTenantContextAccessor"
I am trying to set the tenant for the request manually, I tried to use the function in documentation to set

`
if(HttpContext.TrySetTenantInfo(newTenantInfo, resetServiceProvider: true))
{
    var tenant = HttpContext.GetMultiTenantContext().TenantInfo;
    var optionsProvider = HttpContext.RequestServices.GetService<IOptions<MyScopedOptions>>();
}
`

I get the following error:
: No service for ty

[2022-10-30 04:56] AndrewTriesToCode commented on #607
Hi, I don't see anything right off the bat that indicates why that is happening. Can you post a link to a repo that shows the problem in action?

[2022-10-30 05:00] AndrewTriesToCode commented on #606
Hi, I've helped a few projects with this, but can tell me what sorts of activities specifically the super admin will do managing tenants? Also how are you currently doing authentication?

[2022-10-30 05:07] AndrewTriesToCode commented on #603
@HDScarpe do you think you can recreate the issue in a test project with just ASP.NET Core Identity and taking IdentityServer out of the picture for a moment? Also can you tell me more about your `IdentityContext` and maybe post the class?

[2022-10-30 05:26] AndrewTriesToCode commented on #603
Looking at code where the exception is, looks like its in the `UserManager.GetByNameAsyc` which is this code:

https://github.com/dotnet/aspnetcore/blob/51fc6824e30016404964fc96a4a098a764bdbbfa/src/Identity/EntityFrameworkCore/src/UserOnlyStore.cs#L245-L251

which boils down to:
[code]

on the underlying db context. Just as a test, if you manually instantiate your dbcontext with a tenant and try t

[2022-10-30 05:29] AndrewTriesToCode commented on #603
@hbulens do you mind posting your dbcontext class or providing a repo that shows the error in action?

[2022-10-30 07:46] dalton5 commented on #606
My saas will provide some features to my users. But I would like to also have an admin to manage tenants, users globally and also add some other features that users can't access. I plan to use policies, etc ... But on a multitenantstandpint, should I create a tenant admin?

For example if I have: customer1.exemple.com, customer2.example.com my admin should be: admin.example.com?

Or may I use exam

[2022-10-30 07:54] dalton5 opened #608 "Issues to use Identitydb context"
Hi,

I have this code:

` public class ApplicationDbContext : MultiTenantIdentityDbContext<ApplicationUser>
    {

        public ApplicationDbContext(ITenantInfo tenantInfo, DbContextOptions<ApplicationDbContext> options)
              : base(tenantInfo, options)
        {
        }`

In my startup.cs, I want to use:

`services.AddMultiTenant<TenantInfo>().WithBasePathStrategy().WithEFCoreStore<A

[2022-10-30 09:56] dalton5 commented on #608
Fixed thanks to https://github.com/Finbuckle/Finbuckle.MultiTenant/issues/465

[2022-10-30 09:56] #608 closed, assigned to nobody

[2022-10-30 10:02] dalton5 opened #609 "usermanager NullReferenceException "
Hi,

I use a seed method to create roles and users.

I have custom User class (ApplicationUser) and custom Role class (ApplicationRole)

I use a seed method to create roles and users. I did not setup ApplicationUser and ApplicationRole as multitenant because they could be shared between tenants.

My dbcontext is like this:

        `       public class ApplicationDbContext : MultiTenantIdentityDbC

[2022-11-02 19:32] pyramidsbuilder commented on #607
Yes this exception was because of my code (The MultiTenantContext was initialized using derived class from TenantInfo, once used this derived class in setting httpcontext the error has gone)

But .. I still cannot figure out how to use Finbuckle in integration tests, I tried to create httpcontext and then set the TenantInfo using this method, but I get error **Value cannot be null. (Parameter 'pro

[2022-11-12 19:33] #567 closed, assigned to nobody

[2022-11-12 19:33] #565 closed, assigned to nobody

[2022-11-12 19:33] #571 closed, assigned to nobody

[2022-11-12 19:33] #586 closed, assigned to nobody

[2022-11-12 19:34] #585 closed, assigned to nobody

[2022-11-12 19:35] #545 closed, assigned to nobody

[2022-11-12 19:36] #554 closed, assigned to nobody

[2022-11-12 19:36] #566 closed, assigned to nobody

[2022-11-12 19:38] #564 closed, assigned to nobody

[2022-11-17 09:14] hbulens commented on #603
Will try to provide an isolated case when I can get to it.

[code]

Seems like we've been able to create a workaround by overriding [UserClaimsPrincipalFactory.GenerateClaimsAsync](https://github.com/dotnet/aspnetcore/blob/05b2afb73b55b11d8cb3691dedfebba1f0285332/src/Identity/Extensions.Core/src/UserClaimsPrincipalFactory.cs#L97) and commenting out the following lines:

[code]

That seems to work

[2022-11-21 21:27] devalot76 opened #613 "Use of claim strategy and Identity types"
Hi,
I'm struggling with adding multi-tenancy in my ASP.NET 6 MVC app.
I use standard Identity and cookie based authentication.
I have a separate DbContext for managing the tenants wich derives from `EFCoreStoreDbContext<MyTenantInfo>`

This is how I configured Finbuckle:
[code]

I want to use just the claim to resolve my tenant, no route or host whatsever.
I understand that, in this scenario, the

[2022-11-22 00:34] AndrewTriesToCode commented on #613
hi @devalot76

Question for you. Suppose a user is able to log in from a tenant-neutral endpoint. Based solely on their login form (username/password) how would you know which tenant they belonged to?

One option is to actually have your Identity dbcontext not be multitenant and have all users be the same from Identity's perspective, then you can add user claims to each user to capture which tenan

[2022-11-22 00:39] AndrewTriesToCode commented on #609
hi @dalton5
Sorry for the slow reply. Are you still running into this issue? Do you have a sample project repo I could look at to see the problem in action?

There are other tables involved for the Role <--> User relationship and per your setup they are still multitenant. Honestly if your users and roles are not per-tenant I'd recommend just going with a regular `IdentityDbContext`.

[2022-11-22 00:48] AndrewTriesToCode commented on #607
@leaditnet I'm not sure if this helps but this is how I mock `HttpContext` in many of my unit tests.

[code]

For integration testing I've had success using the [TestServer](https://learn.microsoft.com/en-us/aspnet/core/test/middleware?view=aspnetcore-7.0).

[2022-11-23 08:43] HDScarpe commented on #613
@AndrewTriesToCode  Hi. I'm also approaching this way at the moment. I want to use just the claim to resolve my tenant without having to use tenant in url slug. when I login to the form then I will regex the user email to identify the tenant ( eg : user1@root , user2@tenant1 ) and then I succeeded to Authenticator. However, when adding swagger to the identityserver duende (Implement flow), when re

[2022-11-23 08:46] HDScarpe commented on #613
Do you have a sample repo that login tenant with identityserver and swagger Implicit flow or mvc , client ? . I get tenant identification error when redirecting client url in identityserver

[2022-11-23 08:57] HDScarpe commented on #613
@AndrewTriesToCode  I have a question that using WithBasePathStrategy, when redirecting client url is also null tenant like claimStrategy? Are you using WithBasePathStrategy and before redirecting the client url you saved the previous tenant.

[2022-11-28 05:18] AndrewTriesToCode commented on #613
In my approach I'm using the base path for every call and for every callback and redirect. I use an option on the base path strategy that sets the ASP.NET base path to include the tenant for all app logic after the multitenant middleware. Then IdentityServer doesn't even see the tenant part of the url and all of it's generated links and such work as normal. This means that the tenant will have to